// sanitize上書き 後で最適化
html,
body,
ul,
ol,
h1 {
    margin: 0;
    padding: 0;
}

*,
::before,
::after {
    box-sizing: border-box;
}

h1,
h2,
h3 {
    text-align: left;
    font-weight: 400;
    margin: 0 auto 1em;
}

ul,
ol,
dl {
    list-style: none;
}

a {
    text-decoration: none;
}