#debug {
    font-family: $MONO-FONT;
    position: fixed;
    bottom: 25px;
    left: 25px;
    min-width: 50px;
    min-height: 50px;
    padding: 5px;
    background: rgba(200, 200, 200, .6);
    z-index: 999;
}

#dy {
    &::before {
        content: 'dy :';
        display: inline-block;
    }
}

#vh {
    &::before {
        content: 'vh :';
        display: inline-block;
    }
}

#vw {
    &::before {
        content: 'vw :';
        display: inline-block;
    }
}

@for $value from 1 through 10 {
    #posS#{$value} {
        &::before {
            content: 'ps#{$value}:';
            display: inline-block;
        }
    }
}

#time {
    &::before {
        content: 'TM :';
        display: inline-block;
    }
}