.is-active {
    transition: $trans;
    opacity: 1;
    &.sections {
        transform: translateX(0);
    }
    &.nav--header {
        &::before {
            transition: $trans;
            transform: translateY(-8px) rotate(0);
        }
        &::after {
            transition: $trans;
            transform: translateY(8px) rotate(0);
        }
        .nav_inner {
            transition: $trans;
            right: 0;
            width: 100vw;
            opacity: .95;
        }
    }
}

.is-hidden {
    transition: $trans;
    opacity: 0;
}

.is-scrolled {
    transition: $trans;
    opacity: 1;
    &.sections {
        position: fixed;
        top: 50px;
        transform: rotate(0);
    }
}