svg .a {
    fill: #999;
    stroke: #999;
}

svg .b {
    fill: #e01;
    stroke: #e01;
}

svg .a,
svg .b {
    stroke-miterlimit: 10;
    stroke-linecap: square;
    stroke-width: 1;
    stroke-dasharray: 800;
    stroke-dashoffset: 1000;
    @include media-TB {
        animation: dash 2.4s ease-in-out forwards;
    }
}

@keyframes dash {
    from {
        stroke-width: 1;
        opacity: 0;
        stroke-opacity: 0;
        fill-opacity: .25;
        fill: none;
    }
    60% {
        stroke-width: 2;
        stroke-opacity: 1;
        fill-opacity: 0;
        opacity: 1;
    }
    to {
        stroke-width: 0;
        fill-opacity: 1;
        stroke-dashoffset: 0;
    }
}