@charset "UTF-8";
@import 'https://fonts.googleapis.com/css?family=Cinzel';
@font-face {
  font-family: "YoGothic M";
  src: local("Yu Gothic Medium");
}

/* -----------------
-- color palette mono
-------------------- */
/* txt */
.txc_mono {
  color: #666;
}

.txc_mono--l {
  color: #858585;
}

.txc_mono--d {
  color: #474747;
}

/* bg */
.bgc_mono {
  background: #666;
}

.bgc_mono--l {
  background: #858585;
}

.bgc_mono--d {
  background: #474747;
}

/* -----------------
-- color palette red
-------------------- */
/* txt */
.txc_red {
  color: #d33;
}

.txc_red--l {
  color: #e66767;
}

.txc_red--d {
  color: #b51e1e;
}

/* bg */
.bgc_red {
  background: #d33;
}

.bgc_red--l {
  background: #e66767;
}

.bgc_red--d {
  background: #b51e1e;
}

/* -----------------
-- color palette blue
-------------------- */
/* txt */
.txc_blue {
  color: #33d;
}

.txc_blue--l {
  color: #6767e6;
}

.txc_blue--d {
  color: #1e1eb5;
}

/* bg */
.bgc_blue {
  background: #33d;
}

.bgc_blue--l {
  background: #6767e6;
}

.bgc_blue--d {
  background: #1e1eb5;
}

/* -----------------
-- color palette green
-------------------- */
/* txt */
.txc_green {
  color: #3d3;
}

.txc_green--l {
  color: #67e667;
}

.txc_green--d {
  color: #1eb51e;
}

/* bg */
.bgc_green {
  background: #3d3;
}

.bgc_green--l {
  background: #67e667;
}

.bgc_green--d {
  background: #1eb51e;
}

/* -----------------
-- color palette yellow
-------------------- */
/* txt */
.txc_yellow {
  color: #dd6;
}

.txc_yellow--l {
  color: #e8e898;
}

.txc_yellow--d {
  color: #d2d234;
}

/* bg */
.bgc_yellow {
  background: #dd6;
}

.bgc_yellow--l {
  background: #e8e898;
}

.bgc_yellow--d {
  background: #d2d234;
}

html,
body,
ul,
ol,
h1 {
  margin: 0;
  padding: 0;
}

*,
::before,
::after {
  box-sizing: border-box;
}

h1,
h2,
h3 {
  text-align: left;
  font-weight: 400;
  margin: 0 auto 1em;
}

ul,
ol,
dl {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  background: #e44;
  color: #333;
  font-family: Sawarabi Gothic, Roboto, YuGothic, YuGothic M, sans-serif;
  height: 100vh;
  min-width: 320px;
}

footer {
  position: fixed;
  bottom: 0;
  height: 50px;
  width: 100%;
  background: #ebebeb;
  z-index: 50;
}

.alt {
  text-indent: -200vw;
}

.txt--center {
  text-align: center;
}

.flex {
  display: flex;
  align-items: center;
  align-content: space-between;
  justify-content: space-between;
}

.flex--column {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

/*! test @for */
.card {
  position: relative;
  background: #999;
  width: calc((100% / 2) - 10px);
  height: 0;
  padding-top: calc((100% / 2) - 10px);
}

.sections {
  transition: 0.2s ease-in 0.01s;
}

.sections:nth-child(2n+1) {
  transform-origin: 0 0;
  transform: translateX(-100vw);
}

.sections:nth-child(2n+2) {
  transform-origin: 100% 0;
  transform: translateX(100vw);
}

#header {
  background: #ebebeb;
  border-bottom: 1px solid #333;
  text-align: left;
  width: 100%;
  position: fixed;
  z-index: 150;
}

#header h1 {
  position: absolute;
  top: 0;
  bottom: 0;
}

#header h2 {
  position: absolute;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0 10px;
  color: #666;
}

#header .link--svg {
  display: inline-block;
  width: calc(100vw - 51px);
  height: 50px;
  margin: 0 auto 0 0;
  padding: 5px 10px;
}

#header .link--svg svg {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

#header .link--svg::after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.nav--header {
  font-family: Fira Mono, Roboto Mono, monospace;
  top: 0;
  right: 0;
}

.nav--header .nav_inner {
  display: flex;
  flex-flow: column;
  justify-content: center;
  height: auto;
  padding: 8px;
  margin: auto;
  transition: 0.2s ease-in 0.01s;
  background: linear-gradient(to right bottom, #fff, #eee);
  text-align: right;
  list-style: none;
}

.nav--header .nav_inner li {
  padding: .5em;
  padding-left: 10vw;
  margin: .5em 0;
}

.nav--header::before {
  transform: rotate(45deg);
}

.nav--header::after {
  transform: rotate(-45deg);
}

#contents {
  position: absolute;
  top: 0;
  z-index: 100;
  overflow: hidden;
  width: 100%;
  padding-top: 100px;
  background: #fff;
}

.sections {
  position: relative;
  padding: 40px 20px;
  width: 100vw;
  border-bottom: 1px solid #333;
}

.section_title {
  width: 800px;
  max-width: 80%;
  text-align: center;
}

#sec1 {
  z-index: 70;
  background: #fcc;
}

#sec2 {
  z-index: 80;
  background: #cfc;
}

#sec3 {
  z-index: 90;
  background: #ccf;
}

#sec4 {
  z-index: 100;
  background: #ccf;
}

#sec5 {
  z-index: 100;
  background: #ccf;
}

/* Config */
/* Pauls awesome mixin */
.animation-wrapper {
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.particle,
.particle:after {
  background: transparent;
  border-radius: 50%;
}

.particle:after {
  position: absolute;
  content: "";
  top: 2560px;
}

.particle-1 {
  animation: animParticle 40s linear infinite;
  box-shadow: 0px 0px #fff, 678px 61px #fff, 1090px 1186px #fff, 2427px 463px #fff, 674px 1922px #fff, 1954px 93px #fff, 202px 1040px #fff, 1216px 275px #fff, 780px 70px #fff, 1461px 1245px #fff, 1375px 2030px #fff, 1820px 1352px #fff, 1971px 1221px #fff, 588px 1636px #fff, 2145px 677px #fff, 1214px 1943px #fff, 1142px 953px #fff, 1983px 1950px #fff, 1990px 1154px #fff, 1835px 931px #fff, 1095px 1688px #fff, 2298px 1794px #fff, 685px 1461px #fff, 2194px 1434px #fff, 2303px 2254px #fff, 1672px 2192px #fff, 1470px 2296px #fff, 1607px 1597px #fff, 603px 643px #fff, 885px 1122px #fff, 1369px 2342px #fff, 591px 2236px #fff, 528px 1253px #fff, 2073px 870px #fff, 2119px 556px #fff, 838px 1333px #fff, 34px 2051px #fff, 895px 570px #fff, 1328px 2483px #fff, 1385px 2223px #fff, 2203px 1310px #fff, 975px 218px #fff, 2230px 1772px #fff, 1377px 387px #fff, 2422px 2088px #fff, 881px 251px #fff, 591px 2066px #fff, 1656px 574px #fff, 2010px 613px #fff, 762px 1899px #fff, 2175px 699px #fff, 1515px 1067px #fff, 299px 909px #fff, 1062px 240px #fff, 682px 1205px #fff, 860px 230px #fff, 981px 2374px #fff, 414px 2505px #fff, 264px 2257px #fff, 1329px 1520px #fff, 182px 266px #fff, 2466px 2213px #fff, 658px 2157px #fff, 906px 550px #fff, 1976px 1391px #fff, 1778px 2116px #fff, 1434px 1190px #fff, 231px 1360px #fff, 705px 1834px #fff, 1438px 2050px #fff, 1809px 907px #fff, 1528px 758px #fff, 1881px 2122px #fff, 1955px 2419px #fff, 1378px 1076px #fff, 2410px 809px #fff, 175px 391px #fff, 1339px 763px #fff, 177px 1089px #fff, 1055px 976px #fff, 2543px 1460px #fff, 2133px 2377px #fff, 1120px 1678px #fff, 1485px 70px #fff, 2461px 1095px #fff, 2295px 1054px #fff, 1795px 1935px #fff, 226px 1019px #fff, 143px 1370px #fff, 2377px 1343px #fff, 741px 250px #fff, 1011px 1208px #fff, 2391px 740px #fff, 70px 1626px #fff, 547px 1172px #fff, 569px 1526px #fff, 1112px 1288px #fff, 868px 786px #fff, 2368px 1642px #fff, 96px 1879px #fff, 152px 2508px #fff, 706px 145px #fff, 1467px 681px #fff, 1638px 1850px #fff, 2409px 357px #fff, 1932px 568px #fff, 2313px 2120px #fff, 1322px 1305px #fff, 1783px 2227px #fff, 1435px 2416px #fff, 378px 672px #fff, 404px 1120px #fff, 606px 1342px #fff, 808px 1182px #fff, 312px 2417px #fff, 2231px 1088px #fff, 1171px 1969px #fff, 1600px 386px #fff, 224px 1888px #fff, 2158px 2553px #fff, 1064px 1856px #fff, 830px 530px #fff, 197px 851px #fff, 688px 142px #fff, 801px 997px #fff, 2403px 2387px #fff, 1002px 176px #fff, 2019px 964px #fff, 1408px 1623px #fff, 1256px 2466px #fff, 1639px 1751px #fff, 783px 2428px #fff, 2305px 1655px #fff, 1373px 1776px #fff, 201px 2138px #fff, 1088px 1081px #fff, 1285px 175px #fff, 1970px 1775px #fff, 2443px 2026px #fff, 1720px 1405px #fff, 2349px 378px #fff, 1077px 2390px #fff, 1699px 2288px #fff, 818px 2050px #fff, 1254px 91px #fff, 2310px 739px #fff, 1307px 2485px #fff, 1553px 809px #fff, 9px 987px #fff, 12px 2417px #fff, 1717px 2227px #fff, 2183px 1346px #fff, 1062px 1884px #fff, 2076px 82px #fff, 558px 780px #fff, 1935px 1404px #fff, 1825px 1351px #fff, 629px 116px #fff, 512px 1617px #fff, 619px 950px #fff, 2554px 896px #fff, 729px 2485px #fff, 1478px 1946px #fff, 1892px 2293px #fff, 2333px 2501px #fff, 507px 322px #fff, 1459px 1058px #fff, 1988px 1794px #fff, 101px 1140px #fff, 1526px 1329px #fff, 1199px 2463px #fff, 1611px 2167px #fff, 768px 904px #fff, 2073px 169px #fff, 646px 1090px #fff, 1036px 924px #fff, 1083px 610px #fff, 1738px 323px #fff, 612px 658px #fff, 1543px 1406px #fff, 1160px 1681px #fff, 422px 1016px #fff, 1669px 1422px #fff, 2554px 575px #fff, 1133px 2540px #fff, 1404px 1489px #fff, 2198px 1299px #fff, 2110px 1390px #fff, 2014px 1319px #fff, 2302px 1558px #fff, 61px 234px #fff, 1129px 1713px #fff, 1621px 1235px #fff, 2143px 1928px #fff, 1334px 1201px #fff, 528px 598px #fff, 2317px 2099px #fff, 1609px 1609px #fff, 1213px 1219px #fff, 2057px 1962px #fff, 685px 464px #fff, 1729px 551px #fff, 1230px 1509px #fff, 2267px 2249px #fff, 1676px 2493px #fff, 463px 1187px #fff, 1008px 150px #fff, 1174px 2453px #fff, 1799px 1304px #fff, 1608px 1637px #fff, 2269px 787px #fff, 2240px 98px #fff, 1576px 32px #fff, 2240px 2434px #fff, 1758px 2497px #fff, 1933px 2471px #fff, 474px 1760px #fff, 733px 1259px #fff, 2538px 277px #fff, 2535px 119px #fff, 2174px 1023px #fff, 357px 449px #fff, 2446px 1600px #fff, 1890px 1132px #fff, 2101px 1371px #fff, 1532px 2454px #fff, 1855px 272px #fff, 2507px 1063px #fff, 586px 1700px #fff, 164px 201px #fff, 1738px 880px #fff, 1749px 978px #fff, 2073px 1534px #fff, 2093px 2532px #fff, 410px 657px #fff, 1678px 1452px #fff, 1819px 2310px #fff, 1575px 626px #fff, 1669px 1467px #fff, 685px 1241px #fff, 7px 2361px #fff, 741px 2101px #fff, 106px 1074px #fff, 1947px 70px #fff, 1589px 525px #fff, 1208px 918px #fff, 404px 2449px #fff, 1676px 939px #fff, 957px 817px #fff, 603px 824px #fff, 1472px 1605px #fff, 1949px 1070px #fff, 16px 999px #fff, 2203px 1676px #fff, 174px 1303px #fff, 2201px 425px #fff, 1766px 958px #fff, 969px 915px #fff, 708px 876px #fff, 107px 1416px #fff, 443px 1438px #fff, 1116px 179px #fff, 2530px 203px #fff, 1970px 1588px #fff, 2244px 330px #fff, 1723px 1477px #fff, 2001px 1147px #fff, 1002px 446px #fff, 1584px 536px #fff, 904px 459px #fff, 1962px 236px #fff, 298px 2068px #fff, 78px 743px #fff, 1977px 968px #fff, 258px 1741px #fff, 478px 2506px #fff, 816px 1480px #fff, 1181px 528px #fff, 1724px 2080px #fff, 621px 796px #fff, 1045px 5px #fff, 2188px 2381px #fff, 2337px 1826px #fff, 278px 162px #fff, 2553px 1624px #fff, 261px 1445px #fff, 1525px 685px #fff, 2358px 1454px #fff, 179px 19px #fff, 74px 302px #fff, 1486px 1186px #fff, 33px 1898px #fff, 2487px 387px #fff, 1807px 933px #fff, 950px 1354px #fff, 205px 1414px #fff, 649px 158px #fff, 1391px 1081px #fff, 1783px 2382px #fff, 585px 543px #fff, 1648px 456px #fff, 392px 1744px #fff, 1437px 2268px #fff, 554px 1269px #fff, 1022px 1796px #fff, 1632px 1736px #fff, 8px 1543px #fff, 144px 2052px #fff, 1314px 922px #fff, 1639px 1078px #fff, 101px 203px #fff, 412px 2291px #fff, 473px 2201px #fff, 1458px 350px #fff, 1760px 2508px #fff, 2502px 2370px #fff, 1938px 2518px #fff, 1245px 1050px #fff, 550px 1093px #fff, 1826px 465px #fff, 2233px 1902px #fff, 2370px 778px #fff, 1593px 2459px #fff, 714px 1416px #fff, 872px 1392px #fff, 1447px 417px #fff, 823px 1441px #fff, 1542px 1636px #fff, 398px 772px #fff, 1530px 1422px #fff, 212px 2395px #fff, 892px 2017px #fff, 2205px 2088px #fff, 2182px 1300px #fff, 2242px 257px #fff, 1679px 367px #fff, 2221px 1262px #fff, 2186px 487px #fff, 1613px 2141px #fff, 1497px 136px #fff, 161px 2152px #fff, 110px 2351px #fff, 364px 2281px #fff, 2045px 2320px #fff, 304px 1440px #fff, 985px 1508px #fff, 312px 2369px #fff, 2113px 71px #fff, 46px 1559px #fff, 1595px 1855px #fff, 1469px 147px #fff, 433px 469px #fff, 241px 1978px #fff, 2432px 1474px #fff, 1442px 475px #fff, 1201px 2217px #fff, 1444px 2167px #fff, 20px 705px #fff, 1912px 2357px #fff, 1447px 247px #fff, 1393px 1087px #fff, 44px 1048px #fff, 2287px 378px #fff, 2263px 845px #fff, 2543px 494px #fff, 2316px 1975px #fff, 1414px 625px #fff, 1145px 968px #fff, 2198px 2501px #fff, 504px 242px #fff, 1021px 67px #fff, 1143px 1892px #fff, 66px 979px #fff, 387px 1773px #fff, 543px 1182px #fff, 2530px 1164px #fff, 2301px 692px #fff, 305px 1158px #fff, 1376px 401px #fff, 1923px 1457px #fff, 2135px 566px #fff, 62px 413px #fff, 1315px 1397px #fff, 481px 2124px #fff, 2178px 1983px #fff, 1912px 2552px #fff, 150px 258px #fff, 523px 2291px #fff, 1832px 1092px #fff, 1365px 772px #fff, 2403px 306px #fff, 1511px 2166px #fff, 1521px 1110px #fff, 2014px 372px #fff, 1744px 2169px #fff, 2324px 134px #fff, 1651px 248px #fff, 1957px 1636px #fff, 751px 1273px #fff, 1534px 122px #fff, 1147px 1624px #fff, 2435px 1135px #fff, 2206px 1753px #fff, 96px 141px #fff, 1202px 339px #fff, 2035px 2354px #fff, 419px 1485px #fff, 1844px 917px #fff, 1321px 378px #fff, 1582px 183px #fff, 1855px 2507px #fff, 1025px 2410px #fff, 2410px 138px #fff, 1209px 751px #fff, 1780px 1533px #fff, 2333px 1284px #fff, 426px 1922px #fff, 1418px 1721px #fff, 2092px 986px #fff, 1772px 491px #fff, 154px 379px #fff, 1688px 660px #fff, 388px 2328px #fff, 2003px 15px #fff, 1006px 1265px #fff, 1170px 1434px #fff, 487px 1299px #fff, 2431px 2271px #fff, 2086px 237px #fff, 1608px 116px #fff, 157px 2541px #fff, 1373px 699px #fff, 1156px 2482px #fff, 1629px 730px #fff, 949px 644px #fff, 1692px 97px #fff, 2148px 1046px #fff, 1534px 2276px #fff, 1435px 1030px #fff, 2422px 668px #fff, 1495px 331px #fff, 75px 700px #fff, 1494px 1807px #fff, 2483px 1567px #fff, 2317px 136px #fff, 90px 825px #fff, 251px 1408px #fff, 2187px 1777px #fff, 1968px 1296px #fff, 2207px 1886px #fff, 2329px 1498px #fff, 1409px 2044px #fff, 115px 629px #fff, 2086px 1482px #fff, 1594px 828px #fff, 2500px 803px #fff, 1724px 1240px #fff, 2075px 280px #fff, 1935px 1037px #fff, 2489px 516px #fff, 1194px 2122px #fff, 736px 156px #fff, 749px 1347px #fff, 123px 67px #fff, 1273px 899px #fff, 764px 1950px #fff, 139px 1807px #fff, 1157px 1477px #fff, 2027px 1965px #fff, 1831px 2180px #fff, 1682px 2257px #fff, 1943px 81px #fff, 1907px 288px #fff, 2079px 316px #fff, 516px 1793px #fff, 1513px 2025px #fff, 1121px 2353px #fff, 2152px 889px #fff, 921px 1178px #fff, 1184px 1471px #fff, 1990px 2409px #fff, 898px 1015px #fff, 2420px 1295px #fff, 2245px 2529px #fff, 1159px 407px #fff, 1234px 702px #fff, 2313px 1895px #fff, 113px 1410px #fff, 993px 2265px #fff, 476px 1045px #fff, 523px 1528px #fff, 1137px 504px #fff, 567px 443px #fff, 1840px 1609px #fff, 2015px 1566px #fff, 754px 398px #fff, 539px 437px #fff, 1600px 304px #fff, 238px 1543px #fff, 1338px 1610px #fff, 1060px 139px #fff, 2439px 712px #fff, 1150px 1404px #fff, 340px 1041px #fff, 1361px 2225px #fff, 138px 876px #fff, 1246px 564px #fff, 626px 1664px #fff, 247px 1088px #fff, 1868px 2241px #fff, 467px 2530px #fff, 342px 1211px #fff, 606px 1338px #fff, 2120px 732px #fff, 1160px 2363px #fff, 1762px 2031px #fff, 1481px 2174px #fff, 2115px 1504px #fff, 1562px 2430px #fff, 775px 1851px #fff, 95px 1975px #fff, 1264px 2286px #fff, 800px 184px #fff, 763px 1024px #fff, 2389px 2362px #fff, 2299px 411px #fff, 1306px 2225px #fff, 1443px 651px #fff, 2332px 1906px #fff, 1254px 2120px #fff, 923px 752px #fff, 927px 273px #fff, 805px 280px #fff, 200px 1565px #fff, 295px 278px #fff, 1650px 1408px #fff, 1519px 2229px #fff, 1211px 805px #fff, 110px 2229px #fff, 1892px 1372px #fff, 1807px 458px #fff, 1476px 1819px #fff, 306px 2519px #fff, 2538px 567px #fff, 1378px 1814px #fff, 1674px 839px #fff, 382px 240px #fff, 2091px 1339px #fff, 699px 1290px #fff, 1962px 156px #fff, 165px 37px #fff, 800px 318px #fff, 1166px 886px #fff, 253px 1990px #fff, 6px 2413px #fff, 759px 1700px #fff, 2556px 2172px #fff, 440px 1104px #fff, 1874px 1570px #fff, 677px 25px #fff, 2548px 925px #fff, 398px 931px #fff, 1091px 2025px #fff, 551px 2212px #fff, 1599px 1243px #fff, 482px 811px #fff, 1348px 1451px #fff, 1296px 2315px #fff, 1926px 852px #fff, 652px 1771px #fff, 391px 453px #fff, 2129px 930px #fff, 1703px 1924px #fff, 4px 450px #fff, 2150px 1751px #fff, 68px 1910px #fff, 150px 684px #fff, 1968px 1484px #fff, 1653px 895px #fff, 2521px 1991px #fff, 2270px 1260px #fff, 2466px 2337px #fff, 2091px 2546px #fff, 617px 127px #fff, 1941px 1665px #fff, 658px 609px #fff, 1510px 1882px #fff, 2157px 378px #fff, 50px 1544px #fff, 1976px 1424px #fff, 1581px 1330px #fff, 587px 2037px #fff, 608px 1834px #fff, 32px 1333px #fff, 2282px 1035px #fff, 151px 1400px #fff, 916px 1351px #fff, 982px 1109px #fff, 2491px 678px #fff, 386px 1742px #fff, 745px 250px #fff;
  height: 2px;
  width: 2px;
}

.particle-1:after {
  box-shadow: 0px 0px #fff, 1115px 65px #fff, 861px 241px #fff, 728px 510px #fff, 1179px 1679px #fff, 1456px 1457px #fff, 2534px 165px #fff, 2434px 859px #fff, 2244px 1252px #fff, 897px 416px #fff, 1032px 720px #fff, 1841px 1806px #fff, 2225px 1961px #fff, 2411px 2489px #fff, 971px 435px #fff, 79px 2223px #fff, 922px 132px #fff, 1572px 530px #fff, 1637px 1800px #fff, 1774px 177px #fff, 4px 551px #fff, 2267px 2462px #fff, 1053px 1344px #fff, 1899px 2312px #fff, 1780px 1802px #fff, 10px 1075px #fff, 1502px 791px #fff, 704px 754px #fff, 1130px 1649px #fff, 2401px 2109px #fff, 1083px 944px #fff, 2292px 806px #fff, 1343px 2164px #fff, 1381px 1761px #fff, 1050px 535px #fff, 1677px 821px #fff, 1084px 725px #fff, 1321px 1849px #fff, 138px 2551px #fff, 675px 1167px #fff, 1354px 1322px #fff, 2018px 1536px #fff, 637px 1720px #fff, 338px 58px #fff, 1228px 1106px #fff, 1760px 688px #fff, 2522px 2478px #fff, 56px 1733px #fff, 651px 684px #fff, 316px 2161px #fff, 646px 1161px #fff, 1621px 1263px #fff, 598px 1867px #fff, 538px 1865px #fff, 204px 806px #fff, 703px 2333px #fff, 755px 1559px #fff, 2406px 1377px #fff, 296px 1161px #fff, 1752px 2219px #fff, 1507px 911px #fff, 1472px 837px #fff, 1667px 1344px #fff, 1342px 2173px #fff, 1100px 777px #fff, 2228px 21px #fff, 1569px 1782px #fff, 196px 1802px #fff, 2345px 2318px #fff, 1213px 581px #fff, 448px 391px #fff, 580px 108px #fff, 7px 2453px #fff, 2498px 2089px #fff, 593px 601px #fff, 550px 1264px #fff, 1216px 598px #fff, 1612px 2217px #fff, 531px 587px #fff, 1223px 2404px #fff, 496px 1195px #fff, 1195px 393px #fff, 1052px 1171px #fff, 1303px 1126px #fff, 78px 1402px #fff, 1301px 1538px #fff, 1246px 2126px #fff, 2119px 1768px #fff, 265px 1742px #fff, 1376px 292px #fff, 553px 2439px #fff, 812px 901px #fff, 1135px 346px #fff, 1309px 1188px #fff, 1071px 168px #fff, 1371px 795px #fff, 1577px 943px #fff, 913px 2200px #fff, 801px 1637px #fff, 2128px 1225px #fff, 1942px 2101px #fff, 241px 1953px #fff, 630px 1301px #fff, 143px 1740px #fff, 76px 2046px #fff, 104px 1719px #fff, 1249px 2401px #fff, 1043px 889px #fff, 1103px 688px #fff, 1541px 1195px #fff, 1614px 2034px #fff, 2529px 1915px #fff, 1715px 2202px #fff, 1411px 1820px #fff, 1965px 108px #fff, 1542px 1276px #fff, 1411px 1387px #fff, 172px 1018px #fff, 2262px 1953px #fff, 15px 262px #fff, 744px 1710px #fff, 723px 1383px #fff, 1629px 2250px #fff, 2429px 416px #fff, 268px 2424px #fff, 1532px 1577px #fff, 1738px 480px #fff, 34px 435px #fff, 2521px 1654px #fff, 697px 1808px #fff, 1105px 1590px #fff, 1854px 508px #fff, 1826px 740px #fff, 80px 1553px #fff, 1586px 463px #fff, 1903px 1717px #fff, 1228px 1580px #fff, 1253px 1796px #fff, 1109px 943px #fff, 1990px 509px #fff, 951px 1934px #fff, 2552px 2421px #fff, 696px 391px #fff, 1488px 535px #fff, 1381px 127px #fff, 199px 1055px #fff, 227px 1074px #fff, 2279px 2302px #fff, 1049px 1250px #fff, 2134px 750px #fff, 189px 16px #fff, 2454px 1576px #fff, 1302px 1873px #fff, 961px 795px #fff, 1962px 1769px #fff, 1940px 874px #fff, 1901px 1865px #fff, 1833px 272px #fff, 757px 2007px #fff, 1073px 1128px #fff, 1461px 2030px #fff, 3px 1466px #fff, 1191px 1317px #fff, 1940px 638px #fff, 1087px 1982px #fff, 472px 1145px #fff, 408px 2484px #fff, 966px 1074px #fff, 1210px 1092px #fff, 2132px 1478px #fff, 2477px 87px #fff, 121px 1793px #fff, 1229px 1530px #fff, 2268px 1239px #fff, 2234px 1375px #fff, 2155px 618px #fff, 1842px 2411px #fff, 287px 2060px #fff, 1082px 272px #fff, 265px 1013px #fff, 1847px 629px #fff, 1560px 329px #fff, 797px 318px #fff, 2474px 2541px #fff, 82px 2043px #fff, 1368px 1253px #fff, 1188px 810px #fff, 2255px 2433px #fff, 280px 276px #fff, 1122px 2219px #fff, 2344px 832px #fff, 1105px 1895px #fff, 1104px 110px #fff, 208px 1435px #fff, 452px 1585px #fff, 2175px 118px #fff, 446px 1484px #fff, 2383px 1796px #fff, 1582px 2440px #fff, 987px 114px #fff, 2547px 1655px #fff, 1188px 1737px #fff, 888px 199px #fff, 1742px 1223px #fff, 305px 1908px #fff, 905px 1853px #fff, 1927px 2415px #fff, 2143px 450px #fff, 2217px 2263px #fff, 1437px 1054px #fff, 1185px 435px #fff, 1592px 1159px #fff, 1042px 2487px #fff, 141px 1379px #fff, 1032px 2098px #fff, 1358px 187px #fff, 1567px 1505px #fff, 1453px 1182px #fff, 370px 1089px #fff, 668px 2040px #fff, 612px 2320px #fff, 989px 1399px #fff, 809px 784px #fff, 1314px 637px #fff, 1291px 156px #fff, 1526px 184px #fff, 2015px 1943px #fff, 1199px 860px #fff, 1995px 705px #fff, 616px 1225px #fff, 21px 2548px #fff, 1944px 1135px #fff, 2442px 899px #fff, 2109px 1821px #fff, 1702px 2485px #fff, 2297px 2208px #fff, 2372px 714px #fff, 2486px 1116px #fff, 2033px 2361px #fff, 2414px 783px #fff, 1623px 48px #fff, 1642px 222px #fff, 288px 1405px #fff, 2515px 269px #fff, 2482px 2293px #fff, 1975px 962px #fff, 2544px 457px #fff, 871px 605px #fff, 1209px 520px #fff, 1535px 392px #fff, 337px 706px #fff, 1628px 1289px #fff, 1228px 1742px #fff, 1199px 152px #fff, 1342px 377px #fff, 2348px 503px #fff, 1559px 247px #fff, 1176px 1897px #fff, 1593px 2033px #fff, 2512px 177px #fff, 2200px 420px #fff, 649px 958px #fff, 1106px 2469px #fff, 709px 997px #fff, 1887px 2503px #fff, 1061px 1816px #fff, 379px 2076px #fff, 875px 1242px #fff, 1682px 2503px #fff, 1435px 131px #fff, 2446px 1110px #fff, 1322px 1407px #fff, 2152px 946px #fff, 2018px 1337px #fff, 1936px 2062px #fff, 108px 1484px #fff, 418px 1845px #fff, 1277px 78px #fff, 2290px 1810px #fff, 671px 1954px #fff, 1111px 775px #fff, 1542px 808px #fff, 772px 1797px #fff, 2127px 1815px #fff, 2041px 2312px #fff, 1478px 1590px #fff, 1923px 969px #fff, 249px 1985px #fff, 589px 811px #fff, 2524px 1300px #fff, 2509px 832px #fff, 894px 1714px #fff, 566px 1324px #fff, 2180px 2076px #fff, 2240px 1826px #fff, 54px 1693px #fff, 364px 1218px #fff, 1811px 717px #fff, 1547px 370px #fff, 2123px 1263px #fff, 1898px 596px #fff, 708px 2475px #fff, 2209px 2246px #fff, 880px 418px #fff, 776px 82px #fff, 2095px 264px #fff, 1304px 864px #fff, 2408px 465px #fff, 1087px 1829px #fff, 1087px 718px #fff, 2010px 1283px #fff, 1932px 2560px #fff, 2197px 1049px #fff, 845px 1849px #fff, 1373px 836px #fff, 1087px 2344px #fff, 152px 2350px #fff, 72px 737px #fff, 1612px 1399px #fff, 2532px 439px #fff, 2141px 2082px #fff, 260px 895px #fff, 2393px 1363px #fff, 80px 2197px #fff, 2034px 967px #fff, 2423px 107px #fff, 2490px 1721px #fff, 2459px 1609px #fff, 2042px 1175px #fff, 803px 1649px #fff, 1713px 1168px #fff, 691px 449px #fff, 1921px 169px #fff, 1386px 1336px #fff, 206px 830px #fff, 1880px 2125px #fff, 1989px 277px #fff, 473px 782px #fff, 1432px 1315px #fff, 502px 1613px #fff, 2423px 950px #fff, 92px 264px #fff, 48px 1681px #fff, 624px 2395px #fff, 918px 1498px #fff, 770px 925px #fff, 521px 1653px #fff, 2249px 524px #fff, 1610px 2523px #fff, 2034px 189px #fff, 1440px 557px #fff, 1101px 2199px #fff, 1487px 1348px #fff, 1926px 2361px #fff, 979px 99px #fff, 864px 106px #fff, 1777px 2475px #fff, 1831px 1968px #fff, 1882px 756px #fff, 349px 581px #fff, 2209px 506px #fff, 1093px 2418px #fff, 1985px 1706px #fff, 540px 2104px #fff, 1074px 568px #fff, 1846px 1886px #fff, 1572px 277px #fff, 169px 1842px #fff, 1770px 1596px #fff, 988px 1943px #fff, 548px 2067px #fff, 1195px 197px #fff, 1164px 7px #fff, 2426px 2024px #fff, 1524px 729px #fff, 201px 1900px #fff, 1734px 402px #fff, 2493px 49px #fff, 734px 1898px #fff, 104px 201px #fff, 1929px 2532px #fff, 260px 2240px #fff, 2236px 150px #fff, 2448px 455px #fff, 1875px 415px #fff, 1945px 1251px #fff, 1422px 1587px #fff, 1778px 973px #fff, 2247px 1977px #fff, 2202px 343px #fff, 2353px 514px #fff, 2167px 2131px #fff, 606px 1545px #fff, 729px 1429px #fff, 575px 1271px #fff, 1444px 1306px #fff, 1537px 1220px #fff, 1276px 1231px #fff, 2365px 35px #fff, 1999px 1870px #fff, 159px 239px #fff, 1264px 2284px #fff, 2481px 762px #fff, 1761px 1047px #fff, 2019px 266px #fff, 829px 502px #fff, 363px 2513px #fff, 2486px 318px #fff, 1003px 322px #fff, 992px 2075px #fff, 604px 624px #fff, 2146px 2544px #fff, 1507px 505px #fff, 497px 1663px #fff, 1909px 949px #fff, 2514px 389px #fff, 2025px 753px #fff, 2342px 1691px #fff, 937px 528px #fff, 136px 709px #fff, 2166px 1726px #fff, 2522px 1px #fff, 1351px 2325px #fff, 2026px 1575px #fff, 946px 1781px #fff, 1516px 705px #fff, 1440px 438px #fff, 935px 2048px #fff, 1049px 2107px #fff, 1974px 208px #fff, 134px 2083px #fff, 34px 1980px #fff, 939px 797px #fff, 262px 995px #fff, 369px 276px #fff, 327px 1828px #fff, 1285px 96px #fff, 1300px 1061px #fff, 1718px 2007px #fff, 1881px 189px #fff, 820px 271px #fff, 941px 311px #fff, 997px 1527px #fff, 274px 1312px #fff, 1627px 1148px #fff, 950px 492px #fff, 2402px 868px #fff, 93px 2488px #fff, 370px 588px #fff, 1028px 1338px #fff, 1706px 2343px #fff, 1398px 2174px #fff, 1449px 1194px #fff, 1203px 1113px #fff, 153px 699px #fff, 832px 1034px #fff, 944px 1316px #fff, 987px 245px #fff, 1027px 1777px #fff, 1508px 1006px #fff, 1080px 1238px #fff, 1920px 2207px #fff, 1600px 1974px #fff, 813px 1649px #fff, 680px 1129px #fff, 102px 1932px #fff, 1730px 1168px #fff, 1031px 1860px #fff, 1798px 2402px #fff, 303px 1863px #fff, 899px 227px #fff, 2255px 892px #fff, 1812px 328px #fff, 644px 668px #fff, 2463px 282px #fff, 2388px 2464px #fff, 2181px 1706px #fff, 34px 1595px #fff, 1895px 1675px #fff, 2143px 1742px #fff, 555px 1550px #fff, 409px 2036px #fff, 1450px 2185px #fff, 2371px 976px #fff, 1448px 1603px #fff, 1706px 1088px #fff, 118px 369px #fff, 755px 296px #fff, 1179px 2235px #fff, 452px 886px #fff, 2407px 2074px #fff, 805px 2388px #fff, 945px 2530px #fff, 1977px 2146px #fff, 967px 2456px #fff, 1941px 390px #fff, 1588px 1700px #fff, 902px 1495px #fff, 822px 1658px #fff, 2279px 2390px #fff, 1277px 2053px #fff, 1931px 630px #fff, 730px 1489px #fff, 986px 2289px #fff, 2225px 1160px #fff, 2128px 872px #fff, 599px 1059px #fff, 1840px 821px #fff, 2179px 1898px #fff, 1657px 2210px #fff, 1886px 435px #fff, 489px 2181px #fff, 655px 1758px #fff, 450px 1754px #fff, 2041px 1657px #fff, 2155px 2388px #fff, 114px 773px #fff, 2025px 43px #fff, 1431px 1338px #fff, 688px 940px #fff, 1384px 985px #fff, 594px 1275px #fff, 1812px 100px #fff, 1564px 664px #fff, 1254px 241px #fff, 552px 1074px #fff, 2352px 2470px #fff, 1578px 2496px #fff, 1750px 1883px #fff, 226px 1461px #fff, 2330px 746px #fff, 1034px 1155px #fff, 1930px 1512px #fff, 573px 418px #fff, 1093px 1326px #fff, 2133px 261px #fff, 1362px 1652px #fff, 61px 132px #fff, 1136px 245px #fff, 1008px 1528px #fff, 1198px 10px #fff, 1939px 898px #fff, 294px 251px #fff, 360px 635px #fff, 210px 111px #fff, 971px 1429px #fff, 891px 1697px #fff, 2114px 2479px #fff, 1202px 2030px #fff, 536px 331px #fff, 626px 1461px #fff, 1704px 431px #fff, 1479px 2369px #fff, 1411px 2015px #fff, 453px 946px #fff, 1848px 1656px #fff, 642px 959px #fff, 2494px 2244px #fff, 2267px 731px #fff, 1145px 464px #fff, 632px 634px #fff, 53px 954px #fff, 1224px 2327px #fff, 1021px 610px #fff, 2550px 1158px #fff, 524px 1128px #fff, 1868px 355px #fff, 1702px 1294px #fff, 1769px 2063px #fff, 772px 1636px #fff, 1103px 2497px #fff, 872px 455px #fff, 233px 584px #fff, 2291px 1538px #fff, 837px 783px #fff, 319px 720px #fff, 470px 1834px #fff, 821px 156px #fff, 1637px 1149px #fff, 1972px 77px #fff, 1787px 1879px #fff, 920px 294px #fff, 2385px 779px #fff, 1827px 1198px #fff, 844px 676px #fff, 278px 1454px #fff, 1419px 928px #fff, 2028px 1700px #fff, 2341px 2175px #fff, 2531px 778px #fff, 1808px 270px #fff, 2536px 1736px #fff, 1742px 943px #fff, 457px 2178px #fff, 153px 2533px #fff, 105px 2375px #fff, 1886px 1149px #fff, 2028px 2248px #fff, 165px 318px #fff, 399px 1985px #fff, 1259px 2375px #fff;
  height: 2px;
  width: 2px;
}

.particle-2 {
  animation: animParticle 80s linear infinite;
  box-shadow: 0px 0px #fff, 946px 665px #fff, 2003px 1219px #fff, 1275px 1541px #fff, 2200px 894px #fff, 795px 139px #fff, 2195px 2245px #fff, 145px 2182px #fff, 15px 1874px #fff, 188px 72px #fff, 949px 1033px #fff, 949px 694px #fff, 469px 1306px #fff, 2140px 1100px #fff, 1501px 1855px #fff, 663px 1341px #fff, 1563px 1087px #fff, 1606px 1717px #fff, 91px 596px #fff, 630px 225px #fff, 194px 2406px #fff, 745px 1448px #fff, 551px 2510px #fff, 92px 2341px #fff, 535px 2481px #fff, 1043px 472px #fff, 2045px 132px #fff, 2485px 1644px #fff, 1091px 1226px #fff, 2282px 753px #fff, 1768px 1391px #fff, 2364px 635px #fff, 1989px 2329px #fff, 2349px 388px #fff, 1595px 673px #fff, 2291px 1553px #fff, 1681px 855px #fff, 774px 797px #fff, 1436px 1810px #fff, 1113px 2544px #fff, 1537px 1318px #fff, 909px 998px #fff, 1454px 2323px #fff, 789px 203px #fff, 2413px 1558px #fff, 203px 692px #fff, 2452px 734px #fff, 1605px 1494px #fff, 2357px 1558px #fff, 1221px 325px #fff, 1650px 879px #fff, 1208px 753px #fff, 226px 580px #fff, 865px 61px #fff, 1337px 1172px #fff, 399px 2157px #fff, 42px 149px #fff, 1204px 911px #fff, 509px 2000px #fff, 1697px 2059px #fff, 453px 1305px #fff, 635px 1040px #fff, 1774px 1313px #fff, 282px 1574px #fff, 2009px 671px #fff, 1925px 1871px #fff, 2116px 2139px #fff, 2441px 964px #fff, 18px 1893px #fff, 1114px 1493px #fff, 1409px 608px #fff, 681px 1808px #fff, 618px 1456px #fff, 2365px 2496px #fff, 2364px 1659px #fff, 2073px 1860px #fff, 694px 2323px #fff, 2215px 1596px #fff, 1304px 2106px #fff, 2064px 1991px #fff, 582px 1419px #fff, 671px 486px #fff, 487px 1499px #fff, 1090px 640px #fff, 2526px 1272px #fff, 1918px 1576px #fff, 662px 1522px #fff, 1612px 82px #fff, 1938px 2477px #fff, 1694px 571px #fff, 2017px 16px #fff, 358px 2524px #fff, 1214px 845px #fff, 1618px 894px #fff, 1157px 2030px #fff, 668px 693px #fff, 1316px 103px #fff, 1879px 1045px #fff, 2539px 1836px #fff, 1584px 2009px #fff, 1243px 1622px #fff, 2027px 553px #fff, 2429px 2394px #fff, 1521px 639px #fff, 2356px 2401px #fff, 1623px 1360px #fff, 1072px 18px #fff, 1902px 1127px #fff, 1820px 76px #fff, 1330px 182px #fff, 448px 20px #fff, 396px 1768px #fff, 1336px 376px #fff, 2154px 440px #fff, 1029px 1016px #fff, 1803px 800px #fff, 1256px 693px #fff, 1071px 1200px #fff, 1169px 1864px #fff, 88px 506px #fff, 1663px 2002px #fff, 7px 1836px #fff, 1877px 1363px #fff, 2399px 1003px #fff, 2012px 186px #fff, 1606px 2482px #fff, 1034px 2560px #fff, 1829px 590px #fff, 1767px 1911px #fff, 1980px 2426px #fff, 1859px 2099px #fff, 1049px 519px #fff, 1838px 252px #fff, 1891px 2288px #fff, 2044px 2260px #fff, 1896px 2153px #fff, 2548px 498px #fff, 831px 59px #fff, 1300px 1214px #fff, 239px 1341px #fff, 137px 226px #fff, 2015px 2326px #fff, 2234px 658px #fff, 1275px 341px #fff, 1658px 825px #fff, 991px 1795px #fff, 2236px 1309px #fff, 2415px 2317px #fff, 2126px 1044px #fff, 2243px 909px #fff, 1198px 2512px #fff, 16px 1974px #fff, 427px 2545px #fff, 1518px 1834px #fff, 909px 1949px #fff, 515px 1571px #fff, 380px 991px #fff, 2421px 2041px #fff, 1060px 2366px #fff, 2221px 153px #fff, 1003px 717px #fff, 419px 2533px #fff, 281px 2326px #fff, 1042px 445px #fff, 810px 903px #fff, 2386px 188px #fff, 814px 457px #fff, 1692px 1969px #fff, 940px 2365px #fff, 948px 536px #fff, 173px 1440px #fff, 1302px 2060px #fff, 1039px 703px #fff, 163px 72px #fff, 1036px 751px #fff, 2345px 1741px #fff, 284px 316px #fff, 1359px 1577px #fff, 585px 708px #fff, 2299px 2532px #fff, 383px 2293px #fff, 58px 1620px #fff, 1983px 514px #fff, 1574px 451px #fff, 2262px 1303px #fff, 1751px 1968px #fff, 635px 345px #fff, 2466px 1870px #fff, 1875px 1215px #fff, 1393px 1422px #fff, 1381px 481px #fff, 448px 262px #fff, 277px 673px #fff, 477px 1593px #fff, 2225px 2431px #fff, 1444px 1971px #fff, 1557px 1227px #fff, 1341px 1489px #fff, 1265px 535px #fff, 1261px 1224px #fff, 2275px 1071px #fff;
  height: 4px;
  width: 4px;
}

.particle-2:after {
  box-shadow: 0px 0px #fff, 2199px 1856px #fff, 648px 1473px #fff, 604px 2024px #fff, 737px 593px #fff, 1349px 655px #fff, 1486px 2409px #fff, 2228px 2471px #fff, 1293px 592px #fff, 1110px 2006px #fff, 720px 1066px #fff, 1896px 2235px #fff, 2335px 203px #fff, 2016px 1398px #fff, 1477px 810px #fff, 1159px 338px #fff, 2108px 297px #fff, 1625px 1222px #fff, 2172px 46px #fff, 26px 1781px #fff, 1760px 1330px #fff, 2505px 2550px #fff, 729px 260px #fff, 1973px 2329px #fff, 2142px 1522px #fff, 2550px 2091px #fff, 1574px 1071px #fff, 2129px 2207px #fff, 296px 2185px #fff, 2151px 394px #fff, 16px 89px #fff, 2425px 1455px #fff, 268px 2260px #fff, 1778px 2123px #fff, 229px 630px #fff, 1811px 2250px #fff, 1580px 2053px #fff, 1045px 1525px #fff, 468px 1580px #fff, 419px 922px #fff, 2138px 1484px #fff, 2130px 1214px #fff, 2273px 505px #fff, 1763px 2422px #fff, 557px 1144px #fff, 2142px 22px #fff, 92px 2398px #fff, 1855px 846px #fff, 551px 775px #fff, 599px 2525px #fff, 1888px 235px #fff, 2059px 2010px #fff, 1880px 35px #fff, 1471px 948px #fff, 1819px 556px #fff, 1333px 431px #fff, 1089px 417px #fff, 164px 1441px #fff, 1698px 263px #fff, 1890px 151px #fff, 1796px 1962px #fff, 1773px 2532px #fff, 1235px 1295px #fff, 799px 1465px #fff, 858px 366px #fff, 904px 1841px #fff, 634px 263px #fff, 263px 1859px #fff, 138px 1977px #fff, 648px 345px #fff, 1325px 578px #fff, 2172px 1909px #fff, 347px 2380px #fff, 597px 2524px #fff, 2205px 1280px #fff, 1494px 973px #fff, 639px 876px #fff, 1537px 1022px #fff, 156px 903px #fff, 295px 1062px #fff, 1276px 2178px #fff, 874px 1482px #fff, 2088px 1472px #fff, 1521px 1522px #fff, 450px 1188px #fff, 1519px 243px #fff, 1513px 611px #fff, 1480px 1800px #fff, 929px 1750px #fff, 1031px 737px #fff, 789px 1100px #fff, 1324px 2022px #fff, 1666px 259px #fff, 2338px 2172px #fff, 438px 1517px #fff, 673px 1479px #fff, 2px 1709px #fff, 874px 317px #fff, 129px 687px #fff, 1310px 1052px #fff, 870px 893px #fff, 1074px 916px #fff, 1261px 209px #fff, 889px 92px #fff, 42px 118px #fff, 1132px 277px #fff, 328px 1086px #fff, 560px 418px #fff, 1516px 158px #fff, 860px 1068px #fff, 1392px 20px #fff, 1958px 312px #fff, 1855px 2475px #fff, 2445px 375px #fff, 704px 51px #fff, 2423px 905px #fff, 1195px 2224px #fff, 2383px 1043px #fff, 369px 596px #fff, 2133px 1877px #fff, 1695px 1757px #fff, 883px 318px #fff, 1952px 438px #fff, 2353px 1885px #fff, 847px 156px #fff, 669px 1143px #fff, 2147px 344px #fff, 314px 487px #fff, 79px 2331px #fff, 1041px 1957px #fff, 22px 1601px #fff, 1480px 1062px #fff, 1033px 2544px #fff, 2060px 2262px #fff, 2078px 670px #fff, 2270px 17px #fff, 2453px 379px #fff, 1894px 415px #fff, 1503px 1727px #fff, 601px 37px #fff, 590px 639px #fff, 561px 296px #fff, 810px 1943px #fff, 2484px 2127px #fff, 2323px 213px #fff, 2235px 1681px #fff, 2199px 1071px #fff, 261px 1068px #fff, 2380px 602px #fff, 2362px 335px #fff, 440px 1651px #fff, 315px 1121px #fff, 331px 833px #fff, 694px 487px #fff, 418px 1156px #fff, 595px 498px #fff, 2065px 102px #fff, 1746px 974px #fff, 1803px 1289px #fff, 327px 1211px #fff, 386px 2539px #fff, 2271px 1581px #fff, 1157px 998px #fff, 786px 266px #fff, 2548px 1091px #fff, 1851px 1857px #fff, 1548px 2029px #fff, 766px 652px #fff, 2350px 2499px #fff, 1171px 1136px #fff, 1902px 157px #fff, 472px 866px #fff, 1926px 496px #fff, 1644px 477px #fff, 239px 316px #fff, 711px 1313px #fff, 180px 52px #fff, 760px 374px #fff, 2234px 1201px #fff, 1933px 2505px #fff, 2542px 2131px #fff, 18px 2169px #fff, 1191px 910px #fff, 1126px 2246px #fff, 1604px 789px #fff, 1160px 629px #fff, 814px 1432px #fff, 1515px 1056px #fff, 159px 117px #fff, 1064px 1759px #fff, 486px 119px #fff, 1936px 2554px #fff, 1256px 1040px #fff, 246px 2049px #fff, 1370px 1163px #fff, 1554px 1734px #fff, 732px 202px #fff, 263px 490px #fff, 4px 1709px #fff, 2316px 2002px #fff, 2207px 2411px #fff;
  height: 5px;
  width: 5px;
}

.particle-3 {
  animation: animParticle 120s linear infinite;
  box-shadow: 0px 0px #fff, 804px 1635px #fff, 1753px 2210px #fff, 2399px 2043px #fff, 2398px 1794px #fff, 1067px 2184px #fff, 396px 1986px #fff, 1678px 1168px #fff, 160px 370px #fff, 2074px 451px #fff, 241px 880px #fff, 1470px 2122px #fff, 722px 411px #fff, 2539px 1434px #fff, 950px 949px #fff, 2188px 1199px #fff, 1154px 654px #fff, 1258px 381px #fff, 904px 1146px #fff, 434px 1226px #fff, 1430px 2364px #fff, 633px 2490px #fff, 1090px 2354px #fff, 1500px 34px #fff, 1745px 2207px #fff, 1746px 689px #fff, 1714px 1151px #fff, 2455px 60px #fff, 1636px 996px #fff, 918px 266px #fff, 1115px 1437px #fff, 256px 922px #fff, 1191px 913px #fff, 1320px 1887px #fff, 126px 2192px #fff, 1549px 796px #fff, 692px 210px #fff, 348px 32px #fff, 1762px 1860px #fff, 1499px 996px #fff, 2249px 1604px #fff, 1296px 1653px #fff, 1832px 386px #fff, 2403px 1955px #fff, 52px 304px #fff, 1867px 2443px #fff, 269px 1401px #fff, 606px 1435px #fff, 1680px 235px #fff, 2032px 23px #fff, 2058px 1771px #fff, 1225px 2112px #fff, 2231px 495px #fff, 2255px 459px #fff, 1340px 185px #fff, 996px 114px #fff, 1072px 1037px #fff, 1032px 719px #fff, 1303px 2299px #fff, 783px 1499px #fff, 103px 149px #fff, 157px 2312px #fff, 1181px 2240px #fff, 1419px 415px #fff, 1719px 758px #fff, 1930px 644px #fff, 715px 726px #fff, 852px 201px #fff, 2206px 2331px #fff, 1814px 400px #fff, 2355px 1742px #fff, 266px 2498px #fff, 1047px 790px #fff, 2152px 2087px #fff, 2158px 2293px #fff, 2308px 1248px #fff, 1125px 69px #fff, 471px 1524px #fff, 2496px 155px #fff, 191px 1158px #fff, 1025px 621px #fff, 749px 2136px #fff, 1189px 2077px #fff, 2449px 638px #fff, 844px 2267px #fff, 1028px 2541px #fff, 1700px 156px #fff, 1116px 298px #fff, 1313px 1230px #fff, 922px 1079px #fff, 121px 809px #fff, 313px 1780px #fff, 367px 314px #fff, 1526px 2465px #fff, 885px 1285px #fff, 1327px 2473px #fff, 501px 396px #fff, 726px 349px #fff, 1178px 907px #fff, 2094px 2467px #fff, 1424px 650px #fff;
  height: 4px;
  width: 4px;
}

.particle-3:after {
  box-shadow: 0px 0px #fff, 1636px 2302px #fff, 1823px 2086px #fff, 1622px 687px #fff, 85px 379px #fff, 189px 2479px #fff, 1524px 2261px #fff, 2073px 676px #fff, 1457px 1087px #fff, 2207px 471px #fff, 2013px 1130px #fff, 229px 2236px #fff, 1431px 940px #fff, 918px 858px #fff, 2165px 2021px #fff, 1842px 1070px #fff, 2513px 2260px #fff, 1989px 1004px #fff, 2502px 96px #fff, 2363px 2028px #fff, 2505px 171px #fff, 1375px 1938px #fff, 347px 943px #fff, 1654px 2029px #fff, 1092px 1129px #fff, 1548px 773px #fff, 1301px 2121px #fff, 1893px 1731px #fff, 2444px 2394px #fff, 1592px 128px #fff, 2270px 168px #fff, 2259px 2406px #fff, 955px 11px #fff, 35px 1387px #fff, 1418px 1454px #fff, 2333px 2326px #fff, 238px 910px #fff, 106px 1430px #fff, 364px 2413px #fff, 19px 1511px #fff, 1198px 1680px #fff, 472px 1106px #fff, 2443px 778px #fff, 1946px 209px #fff, 13px 1705px #fff, 1445px 757px #fff, 1px 66px #fff, 305px 1585px #fff, 1331px 1176px #fff, 575px 1027px #fff, 35px 2304px #fff, 1186px 147px #fff, 1498px 189px #fff, 1532px 34px #fff, 927px 1556px #fff, 965px 1859px #fff, 2014px 2246px #fff, 672px 1146px #fff, 2130px 415px #fff, 830px 2555px #fff, 865px 1510px #fff, 878px 2082px #fff, 1057px 170px #fff, 1885px 122px #fff, 283px 2559px #fff, 220px 2215px #fff, 341px 1832px #fff, 2015px 1366px #fff, 2141px 42px #fff, 2363px 1254px #fff, 442px 1624px #fff, 1127px 1935px #fff, 7px 1274px #fff, 1392px 869px #fff, 898px 714px #fff, 1969px 677px #fff, 1662px 2475px #fff, 999px 242px #fff, 959px 278px #fff, 1081px 1299px #fff, 2018px 637px #fff, 681px 508px #fff, 2236px 455px #fff, 1011px 463px #fff, 1461px 53px #fff, 1113px 168px #fff, 650px 2072px #fff, 1204px 2158px #fff, 446px 2280px #fff, 2014px 625px #fff, 1107px 1365px #fff, 1639px 1759px #fff, 162px 962px #fff, 318px 505px #fff, 2272px 1517px #fff, 1461px 543px #fff, 582px 1869px #fff, 1585px 2428px #fff, 2490px 2556px #fff, 986px 2428px #fff, 2494px 442px #fff;
  height: 5px;
  width: 5px;
}

.particle-4 {
  animation: animParticle 240s linear infinite;
  box-shadow: 0px 0px #fff, 2462px 891px #fff, 12px 2214px #fff, 2490px 2355px #fff, 758px 796px #fff, 242px 1551px #fff, 1883px 1922px #fff, 1530px 2506px #fff, 1266px 762px #fff, 388px 688px #fff, 1028px 666px #fff, 2074px 1859px #fff, 1197px 1498px #fff, 680px 1324px #fff, 1033px 2432px #fff, 1682px 1280px #fff, 342px 2371px #fff, 2380px 721px #fff, 237px 1863px #fff, 1229px 1017px #fff, 277px 1374px #fff, 2237px 60px #fff, 390px 2479px #fff, 1208px 1627px #fff, 602px 1470px #fff, 591px 923px #fff, 89px 115px #fff, 1503px 18px #fff, 1564px 2286px #fff, 1882px 1891px #fff, 1891px 45px #fff, 1052px 2060px #fff, 848px 851px #fff, 1126px 1506px #fff, 2071px 1211px #fff, 1037px 2398px #fff, 1769px 371px #fff, 1508px 606px #fff, 1741px 1499px #fff, 957px 78px #fff, 462px 1507px #fff, 1084px 874px #fff, 790px 1646px #fff, 2247px 1356px #fff, 498px 710px #fff, 1358px 535px #fff, 1888px 1188px #fff, 501px 584px #fff, 2488px 2124px #fff, 277px 280px #fff, 1180px 1699px #fff, 465px 1983px #fff, 2078px 2246px #fff, 1119px 124px #fff, 621px 2066px #fff, 408px 2268px #fff, 852px 1836px #fff, 2338px 1244px #fff, 732px 2520px #fff, 243px 1124px #fff, 762px 1011px #fff, 430px 617px #fff, 2545px 480px #fff, 2061px 1735px #fff, 498px 647px #fff, 1253px 282px #fff, 105px 96px #fff, 1570px 1848px #fff, 1751px 420px #fff, 693px 1512px #fff, 2443px 1401px #fff, 2286px 1007px #fff, 2350px 1998px #fff, 513px 865px #fff, 1363px 1715px #fff, 2172px 2459px #fff, 1566px 775px #fff, 2238px 2160px #fff, 134px 1386px #fff, 809px 985px #fff, 822px 1179px #fff, 1311px 1235px #fff, 740px 2458px #fff, 1312px 241px #fff, 2299px 373px #fff, 303px 1319px #fff, 1393px 1343px #fff, 2391px 2351px #fff, 2214px 1492px #fff, 214px 611px #fff, 1162px 2059px #fff, 2401px 1140px #fff, 2279px 106px #fff, 349px 629px #fff, 246px 58px #fff, 1196px 2295px #fff, 1090px 896px #fff, 48px 800px #fff, 1067px 1923px #fff, 424px 2444px #fff, 936px 892px #fff, 2474px 875px #fff, 184px 1141px #fff, 918px 1229px #fff, 1840px 652px #fff, 276px 1607px #fff, 17px 1452px #fff, 802px 2531px #fff, 173px 1590px #fff, 1168px 2138px #fff, 838px 625px #fff, 994px 658px #fff, 1578px 2074px #fff, 1426px 2141px #fff, 433px 2499px #fff, 830px 1298px #fff, 1912px 730px #fff, 1658px 2525px #fff, 2101px 1259px #fff, 1770px 993px #fff, 2512px 690px #fff, 2372px 2238px #fff, 2378px 161px #fff, 2150px 2465px #fff, 1844px 2424px #fff, 596px 914px #fff, 1248px 2390px #fff, 1956px 1642px #fff, 528px 1887px #fff, 1430px 575px #fff, 1442px 772px #fff, 607px 2063px #fff, 525px 746px #fff, 1120px 66px #fff, 1935px 631px #fff, 50px 1410px #fff, 1312px 507px #fff, 910px 2219px #fff, 755px 432px #fff, 506px 2172px #fff, 27px 2423px #fff, 2486px 1837px #fff, 386px 1096px #fff, 232px 397px #fff, 207px 2501px #fff, 855px 73px #fff, 1042px 2131px #fff, 816px 253px #fff, 417px 819px #fff, 1541px 2254px #fff, 1684px 2003px #fff, 883px 2408px #fff, 656px 604px #fff, 2532px 1886px #fff, 2416px 1515px #fff, 556px 1514px #fff, 2005px 2452px #fff, 562px 618px #fff, 2262px 1602px #fff, 1881px 478px #fff, 1827px 2338px #fff, 907px 2354px #fff, 2400px 685px #fff, 152px 1919px #fff, 1581px 1923px #fff, 655px 2280px #fff, 1701px 1496px #fff, 1817px 2426px #fff, 65px 614px #fff, 70px 2264px #fff, 636px 1525px #fff, 2388px 2209px #fff, 351px 1964px #fff, 1671px 534px #fff, 699px 1219px #fff, 1343px 1956px #fff, 693px 1393px #fff, 1196px 2314px #fff, 1725px 1284px #fff, 179px 784px #fff, 892px 1312px #fff, 452px 113px #fff, 840px 197px #fff, 958px 1491px #fff, 647px 1233px #fff, 1157px 1824px #fff, 218px 881px #fff, 773px 1789px #fff, 702px 1086px #fff, 584px 303px #fff, 1457px 890px #fff, 2332px 2117px #fff, 1874px 1563px #fff, 1267px 2507px #fff, 1735px 1927px #fff, 1629px 920px #fff, 1468px 2435px #fff, 1577px 290px #fff, 2503px 1551px #fff, 398px 1344px #fff, 997px 911px #fff, 1696px 220px #fff, 1612px 1918px #fff, 103px 444px #fff, 2482px 2372px #fff, 1532px 2543px #fff, 2451px 108px #fff, 173px 467px #fff, 923px 5px #fff, 66px 1657px #fff, 1221px 1403px #fff, 1165px 1837px #fff, 1724px 1748px #fff, 1526px 1227px #fff, 2476px 427px #fff, 303px 538px #fff, 2383px 1089px #fff, 682px 1719px #fff, 2152px 1948px #fff, 843px 1974px #fff, 1882px 1389px #fff, 1823px 1117px #fff, 2224px 828px #fff, 411px 1231px #fff, 588px 2071px #fff, 1967px 1325px #fff, 2010px 501px #fff, 2362px 2420px #fff, 1114px 2299px #fff, 2499px 1561px #fff, 1550px 510px #fff, 2538px 549px #fff, 1561px 114px #fff, 725px 1346px #fff, 2402px 639px #fff, 816px 221px #fff, 390px 1125px #fff, 1751px 2242px #fff, 2333px 2247px #fff, 2258px 1349px #fff, 995px 1257px #fff, 1417px 460px #fff, 1955px 146px #fff, 1634px 977px #fff, 308px 711px #fff, 247px 2258px #fff, 1438px 2233px #fff, 1160px 1218px #fff, 1412px 1798px #fff, 2214px 2442px #fff, 1102px 1034px #fff, 2341px 2405px #fff, 1763px 153px #fff, 1203px 1416px #fff, 1576px 1215px #fff, 49px 1889px #fff, 1313px 701px #fff, 1878px 1667px #fff, 145px 995px #fff, 449px 688px #fff, 2053px 870px #fff, 292px 466px #fff, 309px 1484px #fff, 414px 2308px #fff, 204px 1267px #fff, 1724px 2001px #fff, 678px 611px #fff, 150px 890px #fff, 2297px 2527px #fff, 966px 1222px #fff, 321px 2161px #fff, 2108px 862px #fff, 1946px 1778px #fff, 2003px 2158px #fff, 545px 2299px #fff, 2296px 374px #fff, 1671px 2025px #fff, 244px 1810px #fff, 2216px 1724px #fff, 1510px 1395px #fff, 2472px 2338px #fff, 1163px 1292px #fff, 173px 567px #fff, 1510px 1294px #fff, 199px 1020px #fff, 140px 2269px #fff, 2142px 1293px #fff, 700px 997px #fff, 161px 2136px #fff, 910px 1179px #fff, 2204px 995px #fff, 1702px 1831px #fff, 2047px 1473px #fff, 1290px 1473px #fff, 2261px 1250px #fff, 629px 1174px #fff, 1005px 313px #fff, 1703px 2519px #fff, 1771px 191px #fff, 1145px 2320px #fff, 480px 2081px #fff, 785px 870px #fff, 1227px 305px #fff, 1364px 898px #fff, 2480px 520px #fff, 129px 105px #fff, 1621px 1811px #fff, 2357px 162px #fff, 2006px 223px #fff, 2369px 943px #fff, 360px 1476px #fff, 2310px 893px #fff, 2085px 2014px #fff, 689px 804px #fff, 665px 2279px #fff, 473px 2509px #fff, 1827px 2194px #fff, 603px 895px #fff, 358px 1223px #fff, 441px 1487px #fff, 1665px 1485px #fff, 2163px 560px #fff, 1014px 1854px #fff, 2365px 1297px #fff, 2189px 2474px #fff, 2354px 1644px #fff, 1550px 23px #fff, 1206px 1928px #fff, 2259px 1460px #fff, 2442px 1767px #fff, 2469px 578px #fff, 2408px 2112px #fff, 1898px 1026px #fff, 865px 579px #fff, 918px 976px #fff, 1287px 221px #fff, 240px 2101px #fff, 99px 1416px #fff, 1937px 890px #fff, 243px 1403px #fff, 559px 378px #fff, 1790px 2299px #fff, 911px 2312px #fff, 2384px 782px #fff, 2440px 2174px #fff, 2146px 2403px #fff, 2340px 2175px #fff, 1315px 1636px #fff, 1810px 74px #fff, 1526px 1788px #fff, 128px 2427px #fff, 389px 460px #fff, 857px 288px #fff, 318px 1303px #fff, 481px 297px #fff, 2241px 2170px #fff, 2012px 262px #fff, 1841px 2097px #fff, 438px 2304px #fff, 2508px 364px #fff, 890px 1688px #fff, 1201px 1000px #fff, 123px 1426px #fff, 2230px 300px #fff, 1824px 2177px #fff, 1908px 699px #fff, 1919px 1873px #fff, 197px 2173px #fff, 1389px 1866px #fff, 1938px 1892px #fff, 174px 785px #fff, 1449px 1537px #fff, 2261px 1527px #fff, 845px 1678px #fff, 1187px 46px #fff, 1407px 632px #fff, 1447px 2243px #fff, 1327px 422px #fff, 29px 1566px #fff, 2202px 1808px #fff, 2363px 2104px #fff, 873px 1435px #fff, 1380px 385px #fff, 2068px 1746px #fff, 2302px 340px #fff, 1632px 1252px #fff, 1463px 2328px #fff, 2499px 1321px #fff, 1085px 669px #fff, 2035px 1381px #fff, 372px 541px #fff, 1483px 2037px #fff, 752px 271px #fff, 300px 1635px #fff, 1726px 1242px #fff, 762px 1573px #fff, 2200px 119px #fff, 1141px 735px #fff, 72px 591px #fff, 245px 1147px #fff, 1459px 1807px #fff;
  height: 3px;
  width: 3px;
}

.particle-4:after {
  box-shadow: 0px 0px #fff, 2033px 1184px #fff, 1394px 1509px #fff, 864px 1515px #fff, 597px 335px #fff, 900px 2269px #fff, 1724px 1357px #fff, 675px 1395px #fff, 361px 727px #fff, 1024px 700px #fff, 407px 248px #fff, 2137px 1461px #fff, 304px 1116px #fff, 596px 1457px #fff, 863px 1564px #fff, 2343px 2183px #fff, 802px 501px #fff, 273px 1625px #fff, 2239px 454px #fff, 1247px 761px #fff, 1423px 1260px #fff, 2559px 295px #fff, 394px 1734px #fff, 111px 1957px #fff, 2100px 1393px #fff, 2273px 690px #fff, 121px 1474px #fff, 347px 494px #fff, 2416px 81px #fff, 1933px 67px #fff, 472px 914px #fff, 1911px 2475px #fff, 2345px 1623px #fff, 284px 48px #fff, 1696px 1698px #fff, 2440px 225px #fff, 2012px 628px #fff, 2339px 2218px #fff, 1980px 1746px #fff, 251px 1251px #fff, 1824px 736px #fff, 1677px 477px #fff, 395px 846px #fff, 1084px 2053px #fff, 1715px 657px #fff, 377px 263px #fff, 1562px 1739px #fff, 1694px 2196px #fff, 33px 1812px #fff, 2094px 1852px #fff, 881px 37px #fff, 1424px 2027px #fff, 617px 1932px #fff, 1387px 2020px #fff, 982px 1727px #fff, 1845px 1761px #fff, 1580px 2278px #fff, 537px 2078px #fff, 2411px 1587px #fff, 2492px 444px #fff, 1965px 474px #fff, 530px 1965px #fff, 920px 1822px #fff, 1160px 2341px #fff, 1946px 303px #fff, 20px 849px #fff, 1613px 1151px #fff, 1978px 834px #fff, 1637px 696px #fff, 350px 375px #fff, 633px 1762px #fff, 2553px 1012px #fff, 2493px 724px #fff, 733px 301px #fff, 1252px 1805px #fff, 481px 2133px #fff, 340px 1134px #fff, 1111px 301px #fff, 1453px 425px #fff, 538px 585px #fff, 1114px 1578px #fff, 513px 484px #fff, 472px 145px #fff, 2317px 481px #fff, 1212px 56px #fff, 1762px 625px #fff, 655px 788px #fff, 660px 1728px #fff, 1321px 742px #fff, 1962px 1186px #fff, 2276px 828px #fff, 2419px 1957px #fff, 508px 1183px #fff, 1258px 2343px #fff, 537px 882px #fff, 412px 1818px #fff, 2289px 58px #fff, 1739px 519px #fff, 1024px 558px #fff, 2042px 996px #fff, 158px 2018px #fff, 1585px 2014px #fff, 1563px 2150px #fff, 1062px 2107px #fff, 1968px 138px #fff, 2496px 970px #fff, 643px 141px #fff, 642px 1087px #fff, 1948px 1995px #fff, 1858px 1871px #fff, 698px 196px #fff, 79px 2143px #fff, 958px 742px #fff, 1689px 783px #fff, 266px 2304px #fff, 964px 409px #fff, 2238px 796px #fff, 774px 486px #fff, 93px 2141px #fff, 900px 158px #fff, 261px 1477px #fff, 1216px 1329px #fff, 2015px 343px #fff, 2525px 2420px #fff, 308px 1705px #fff, 2560px 1909px #fff, 635px 839px #fff, 483px 1028px #fff, 109px 1332px #fff, 70px 103px #fff, 1008px 1347px #fff, 73px 999px #fff, 2261px 2369px #fff, 416px 1880px #fff, 1705px 1572px #fff, 701px 746px #fff, 42px 625px #fff, 1352px 1780px #fff, 2495px 1870px #fff, 112px 139px #fff, 849px 1036px #fff, 222px 898px #fff, 1825px 494px #fff, 1496px 235px #fff, 306px 2238px #fff, 1964px 1633px #fff, 1370px 1817px #fff, 565px 1348px #fff, 490px 1080px #fff, 1752px 2305px #fff, 1695px 819px #fff, 2496px 2084px #fff, 1075px 418px #fff, 2105px 2287px #fff, 1077px 487px #fff, 1633px 206px #fff, 827px 609px #fff, 2000px 629px #fff, 1229px 1603px #fff, 926px 759px #fff, 231px 754px #fff, 2513px 719px #fff, 5px 339px #fff, 860px 618px #fff, 150px 2398px #fff, 2220px 238px #fff, 142px 2458px #fff, 1241px 215px #fff, 1038px 1701px #fff, 998px 1622px #fff, 1497px 1713px #fff, 382px 663px #fff, 999px 451px #fff, 2428px 2255px #fff, 2075px 87px #fff, 887px 777px #fff, 813px 2115px #fff, 901px 1297px #fff, 209px 2229px #fff, 620px 617px #fff, 2123px 1957px #fff, 863px 1387px #fff, 1636px 426px #fff, 756px 2425px #fff, 1923px 2199px #fff, 1147px 1707px #fff, 623px 2343px #fff, 738px 314px #fff, 777px 647px #fff, 1943px 1570px #fff, 1632px 1230px #fff, 48px 86px #fff, 1207px 2532px #fff, 533px 1719px #fff, 2071px 258px #fff, 2212px 1394px #fff, 960px 584px #fff, 1772px 1264px #fff, 1917px 1843px #fff, 1077px 411px #fff, 2319px 560px #fff, 727px 1550px #fff, 1224px 306px #fff, 2552px 1320px #fff, 1129px 530px #fff, 1314px 1617px #fff, 334px 2033px #fff, 517px 881px #fff, 307px 597px #fff, 1272px 1151px #fff, 666px 1787px #fff, 588px 242px #fff, 145px 1752px #fff, 92px 2089px #fff, 608px 215px #fff, 542px 1449px #fff, 2295px 1784px #fff, 823px 1731px #fff, 692px 542px #fff, 221px 1095px #fff, 370px 466px #fff, 1425px 383px #fff, 1400px 1007px #fff, 2540px 141px #fff, 1379px 886px #fff, 1255px 487px #fff, 2072px 761px #fff, 82px 871px #fff, 1901px 286px #fff, 1842px 1452px #fff, 1422px 23px #fff, 887px 1072px #fff, 1812px 586px #fff, 690px 121px #fff, 2131px 359px #fff, 1975px 1379px #fff, 1265px 115px #fff, 2362px 2308px #fff, 287px 551px #fff, 168px 1457px #fff, 1111px 134px #fff, 857px 1363px #fff, 2470px 858px #fff, 632px 1595px #fff, 1310px 1453px #fff, 711px 429px #fff, 230px 315px #fff, 1683px 542px #fff, 2251px 449px #fff, 1659px 2309px #fff, 530px 2298px #fff, 399px 1359px #fff, 1035px 2368px #fff, 617px 1108px #fff, 492px 2258px #fff, 2081px 27px #fff, 270px 874px #fff, 1016px 2560px #fff, 586px 447px #fff, 1344px 11px #fff, 2103px 2030px #fff, 2076px 2212px #fff, 4px 684px #fff, 2452px 1782px #fff, 1273px 957px #fff, 1309px 670px #fff, 293px 1372px #fff, 1331px 1360px #fff, 279px 2514px #fff, 813px 1504px #fff, 1269px 1100px #fff, 1030px 1867px #fff, 2481px 1102px #fff, 678px 794px #fff, 894px 1890px #fff, 928px 145px #fff, 2256px 1530px #fff, 1578px 1192px #fff, 799px 2429px #fff, 979px 1232px #fff, 465px 1590px #fff, 1302px 2312px #fff, 1967px 1368px #fff, 376px 136px #fff, 2110px 2345px #fff, 878px 1162px #fff, 1294px 1712px #fff, 852px 2047px #fff, 2301px 1044px #fff, 1901px 3px #fff, 372px 1597px #fff, 1062px 395px #fff, 2040px 393px #fff, 1173px 2004px #fff, 953px 2015px #fff, 1033px 2230px #fff, 2533px 1153px #fff, 2236px 1677px #fff, 135px 1056px #fff, 834px 1171px #fff, 1579px 1858px #fff, 1362px 1716px #fff, 29px 1271px #fff, 30px 36px #fff, 653px 1926px #fff, 1624px 1291px #fff, 535px 1223px #fff, 2166px 2075px #fff, 2341px 523px #fff, 610px 1972px #fff, 486px 1158px #fff, 822px 1911px #fff, 1154px 1577px #fff, 2202px 1305px #fff, 1538px 1077px #fff, 2051px 2364px #fff, 658px 1849px #fff, 1113px 125px #fff, 1342px 1862px #fff, 123px 2414px #fff, 779px 1376px #fff, 8px 1420px #fff, 1550px 951px #fff, 1995px 1403px #fff, 1107px 387px #fff, 2536px 547px #fff, 161px 927px #fff, 1396px 1319px #fff, 1755px 1105px #fff, 318px 1401px #fff, 2322px 72px #fff, 1514px 2423px #fff, 983px 2468px #fff, 2364px 1073px #fff, 1466px 1640px #fff, 2560px 1998px #fff, 745px 125px #fff, 1619px 650px #fff, 830px 2246px #fff, 2452px 2338px #fff, 249px 2285px #fff, 604px 1948px #fff, 1466px 1876px #fff, 2114px 1161px #fff, 946px 1831px #fff, 1517px 2155px #fff, 1053px 444px #fff, 2512px 760px #fff, 229px 2081px #fff, 935px 1901px #fff, 1948px 1378px #fff, 554px 511px #fff, 52px 1774px #fff, 880px 2514px #fff, 335px 42px #fff, 103px 1439px #fff, 391px 831px #fff, 194px 1522px #fff, 2312px 2147px #fff, 146px 1745px #fff, 2048px 14px #fff, 1818px 73px #fff, 1465px 113px #fff, 2451px 1876px #fff, 210px 355px #fff, 329px 2041px #fff, 798px 1067px #fff, 1872px 1503px #fff, 735px 1723px #fff, 2397px 2374px #fff, 2298px 1174px #fff, 1928px 2420px #fff, 1407px 1712px #fff, 362px 1618px #fff, 2190px 1505px #fff, 1553px 283px #fff, 2482px 47px #fff, 867px 526px #fff, 1375px 744px #fff, 633px 1649px #fff, 494px 1360px #fff, 1751px 397px #fff, 128px 692px #fff, 412px 492px #fff, 1302px 797px #fff, 1944px 521px #fff, 1238px 342px #fff, 796px 259px #fff, 937px 2110px #fff, 1473px 244px #fff, 708px 581px #fff, 1094px 138px #fff, 391px 2441px #fff, 2548px 839px #fff, 12px 2270px #fff, 2289px 1073px #fff, 596px 589px #fff, 1163px 1792px #fff, 231px 2053px #fff, 2231px 1531px #fff, 2368px 226px #fff;
  height: 2px;
  width: 2px;
}

@keyframes animParticle {
  from {
    transform: translateY(-1280px);
  }
  to {
    transform: translateY(1280px);
  }
}

/*背景画像の設定をする*/
.bgImage {
  background: url(https://designcolor-web.com/sample/img/bg_starry_night.jpg) no-repeat center;
  background-size: cover;
  position: relative;
  z-index: 0;
  overflow: hidden;
  /*ブラー効果でボヤけた部分を非表示*/
}

/*:beforeにぼかし効果を設定する*/
.bgImage:before {
  content: '';
  background: inherit;
  /*.bgImageで設定した背景画像を継承する*/
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
  position: absolute;
  /*ブラー効果で画像の端がボヤけた分だけ位置を調整*/
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: -1;
  /*重なり順序を一番下にしておく*/
}

p {
  margin: 150px 0 200px;
  text-align: center;
  font-family: 'Cinzel', serif;
  font-size: 34px;
  color: #fff;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

svg .a {
  fill: #999;
  stroke: #999;
}

svg .b {
  fill: #e01;
  stroke: #e01;
}

svg .a,
svg .b {
  stroke-miterlimit: 10;
  stroke-linecap: square;
  stroke-width: 1;
  stroke-dasharray: 800;
  stroke-dashoffset: 1000;
}

@keyframes dash {
  from {
    stroke-width: 1;
    opacity: 0;
    stroke-opacity: 0;
    fill-opacity: .25;
    fill: none;
  }
  60% {
    stroke-width: 2;
    stroke-opacity: 1;
    fill-opacity: 0;
    opacity: 1;
  }
  to {
    stroke-width: 0;
    fill-opacity: 1;
    stroke-dashoffset: 0;
  }
}

.is-active {
  transition: 0.2s ease-in 0.01s;
  opacity: 1;
}

.is-active.sections {
  transform: translateX(0);
}

.is-active.nav--header::before {
  transition: 0.2s ease-in 0.01s;
  transform: translateY(-8px) rotate(0);
}

.is-active.nav--header::after {
  transition: 0.2s ease-in 0.01s;
  transform: translateY(8px) rotate(0);
}

.is-active.nav--header .nav_inner {
  transition: 0.2s ease-in 0.01s;
  right: 0;
  width: 100vw;
  opacity: .95;
}

.is-hidden {
  transition: 0.2s ease-in 0.01s;
  opacity: 0;
}

.is-scrolled {
  transition: 0.2s ease-in 0.01s;
  opacity: 1;
}

.is-scrolled.sections {
  position: fixed;
  top: 50px;
  transform: rotate(0);
}

#debug {
  font-family: "Fira Mono", "Roboto Mono", monospace;
  position: fixed;
  bottom: 25px;
  left: 25px;
  min-width: 50px;
  min-height: 50px;
  padding: 5px;
  background: rgba(200, 200, 200, 0.6);
  z-index: 999;
}

#dy::before {
  content: 'dy :';
  display: inline-block;
}

#vh::before {
  content: 'vh :';
  display: inline-block;
}

#vw::before {
  content: 'vw :';
  display: inline-block;
}

#posS1::before {
  content: "ps1:";
  display: inline-block;
}

#posS2::before {
  content: "ps2:";
  display: inline-block;
}

#posS3::before {
  content: "ps3:";
  display: inline-block;
}

#posS4::before {
  content: "ps4:";
  display: inline-block;
}

#posS5::before {
  content: "ps5:";
  display: inline-block;
}

#posS6::before {
  content: "ps6:";
  display: inline-block;
}

#posS7::before {
  content: "ps7:";
  display: inline-block;
}

#posS8::before {
  content: "ps8:";
  display: inline-block;
}

#posS9::before {
  content: "ps9:";
  display: inline-block;
}

#posS10::before {
  content: "ps10:";
  display: inline-block;
}

#time::before {
  content: 'TM :';
  display: inline-block;
}

@media screen and (max-width: 479px) {
  .card {
    margin: 0 20px 20px 0;
  }
  .card:nth-child(2n) {
    margin-right: 0;
  }
  #header {
    height: 100px;
    overflow: hidden;
  }
  #header.scrolled {
    transition: 0.2s ease-in 0.01s;
    height: 51px;
  }
  #header h2 {
    top: 50px;
    bottom: 0;
    border-top: 1px solid #fff;
  }
  #header.scrolled h2 {
    transition: 0.2s ease-in 0.01s;
    top: 0;
    opacity: 0;
  }
  #header .link--svg svg {
    width: auto;
  }
  .nav--header {
    width: 50px;
    height: 50px;
    position: fixed;
    border-left: 1px solid #fff;
  }
  .nav--header::before, .nav--header::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    height: 3px;
    width: 2em;
    margin: auto;
    content: '';
    transition: 0.2s ease-in 0.01s;
    transform-origin: 50%;
    background: #000;
  }
  .nav--header .nav_inner {
    border-bottom: 3px double #333;
    position: absolute;
    align-items: flex-end;
    min-width: calc(100vw - 2px);
    top: 50px;
    right: -100vw;
    overflow: hidden;
  }
  .nav--header .nav_inner li {
    border-bottom: 1px solid rgba(51, 51, 51, 0.6);
    z-index: 1;
  }
  .nav--header .nav_inner li:last-child {
    border: none;
  }
  .nav--header .nav_inner::before {
    content: '';
    display: block;
    height: 210vw;
    width: 210vw;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.9));
    border: solid 70vw #f00;
    transform: translateX(50%) scaleX(0.5) rotate(45deg);
    transform-origin: 50%;
    position: absolute;
    bottom: -105vw;
    right: 3vw;
    opacity: .4;
  }
}

@media screen and (min-width: 480px) {
  .card {
    width: calc((100% / 3) - 15px);
    padding-top: calc((100% / 3) - 15px);
    margin: 0 22.5px 22.5px 0;
  }
  .card:nth-child(3n) {
    margin-right: 0;
  }
  #header {
    height: 240px;
    width: 100%;
    overflow: hidden;
    text-align: center;
  }
  #header.scrolled {
    transition: 0.2s ease-in 0.01s;
    height: 50px;
  }
  #header h2 {
    top: calc(100% / 12 * 6);
    justify-content: center;
    text-align: center;
  }
  #header .link--svg {
    position: absolute;
    top: 0;
    left: 10px;
    right: 10px;
    height: 36%;
    margin: auto;
    transform: translateY(10%);
  }
  .nav--header {
    width: 100%;
    margin: auto;
    position: absolute;
    top: auto;
    bottom: 0;
    background: #fff;
    border-bottom: 3px double #333;
  }
  .nav--header::before, .nav--header::after {
    content: none;
    display: none;
  }
  .nav--header .nav_inner {
    flex-flow: row;
    align-items: center;
    height: auto;
    width: 100%;
    padding: 0;
  }
  .nav--header .nav_inner li {
    padding: .5em 1em;
  }
  .nav--header .nav_inner li:not(:last-child) {
    border-right: solid 1px #333;
  }
  #contents {
    padding-top: 240px;
  }
  svg .a,
  svg .b {
    animation: dash 2.4s ease-in-out forwards;
  }
}

@media screen and (min-width: 1025px) {
  .card {
    width: calc((100% / 4) - 15px);
    padding-top: calc((100% / 4) - 15px);
    margin: 0 20px 20px 0;
  }
  .card:nth-child(3n) {
    margin-right: 20px;
  }
  .card:nth-child(4n) {
    margin-right: 0;
  }
  #header {
    height: 480px;
    overflow: hidden;
  }
  #header.scrolled {
    transition: 0.2s ease-in 0.01s;
    height: 54px;
  }
  #header .link--svg {
    max-width: 60%;
    transform: translateY(25%);
  }
  .nav--header {
    top: calc(100% / 5 * 3 + 1px);
    height: 60px;
    border-bottom: none;
  }
  #contents {
    padding-top: 480px;
  }
}

/*# sourceMappingURL=main.css.map */
