#contents {
    position: absolute;
    top: 0;
    z-index: 100;
    overflow: hidden;
    width: 100%;
    padding-top: $head-sp-h;
    background: $bg-primary;
    @include media-TB {
        padding-top: 240px;
    }
    @include media-PC {
        padding-top: 480px;
    }
}

.sections {
    position: relative;
    padding: 40px 20px;
    width: 100vw;
    border-bottom: 1px solid #333;
}

.section_title {
    width: 800px;
    max-width: 80%;
    text-align: center;
}

#sec1 {
    // background: $test1;
    z-index: 70;
    background: #fcc;
}

#sec2 {
    // background: $test2;
    z-index: 80;
    background: #cfc;
}

#sec3 {
    // background: $test3;
    z-index: 90;
    background: #ccf;
}

#sec4 {
    // background: $test3;
    z-index: 100;
    background: #ccf;
}

#sec5 {
    // background: $test3;
    z-index: 100;
    background: #ccf;
}