/* Config */

$color-particle: #fff;
$spacing: 2560px;
$time-1: 40s;
$time-2: 80s;
$time-3: 120s;
$time-4: 240s;

/* Pauls awesome mixin */

@function particles($max) {
    $val: 0px 0px $color-particle;
    @for $i from 1 through $max {
        $val: #{$val},
        random($spacing)+px random($spacing)+px $color-particle;
    }
    @return $val;
}

@mixin particles($max) {
    box-shadow: particles($max);
}

.animation-wrapper {
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.particle,
.particle:after {
    background: transparent;
    border-radius: 50%;
}

.particle:after {
    position: absolute;
    content: "";
    top: $spacing;
}

.particle-1 {
    animation: animParticle $time-1 linear infinite;
    @include particles(600);
    height: 2px;
    width: 2px;
}

.particle-1:after {
    @include particles(600);
    height: 2px;
    width: 2px;
}

.particle-2 {
    animation: animParticle $time-2 linear infinite;
    @include particles(200);
    height: 4px;
    width: 4px;
}

.particle-2:after {
    @include particles(200);
    height: 5px;
    width: 5px;
}

.particle-3 {
    animation: animParticle $time-3 linear infinite;
    @include particles(100);
    height: 4px;
    width: 4px;
}

.particle-3:after {
    @include particles(100);
    height: 5px;
    width: 5px;
}

.particle-4 {
    animation: animParticle $time-4 linear infinite;
    @include particles(400);
    height: 3px;
    width: 3px;
}

.particle-4:after {
    @include particles(400);
    height: 2px;
    width: 2px;
}

@keyframes animParticle {
    from {
        transform: translateY($spacing / 2 * -1);
    }
    to {
        transform: translateY($spacing / 2);
    }
}

// BuraEffect
@import 'https://fonts.googleapis.com/css?family=Cinzel';

/*背景画像の設定をする*/

.bgImage {
    background: url(https://designcolor-web.com/sample/img/bg_starry_night.jpg) no-repeat center;
    background-size: cover;
    position: relative;
    z-index: 0;
    overflow: hidden;
    /*ブラー効果でボヤけた部分を非表示*/
}


/*:beforeにぼかし効果を設定する*/

.bgImage:before {
    content: '';
    background: inherit;
    /*.bgImageで設定した背景画像を継承する*/
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
    position: absolute;
    /*ブラー効果で画像の端がボヤけた分だけ位置を調整*/
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    z-index: -1;
    /*重なり順序を一番下にしておく*/
}

p {
    margin: 150px 0 200px;
    text-align: center;
    font-family: 'Cinzel', serif;
    font-size: 34px;
    color: #fff;
    text-shadow: 0 0 10px rgba(0, 0, 0, .4);
}