#header {
    background: $bg-secondary;
    border-bottom: 1px solid #333;
    text-align: left;
    width: 100%;
    position: fixed;
    z-index: 150;
    @include media-SP {
        $size: 100px;
        height: $size;
        overflow: hidden;
        &.scrolled {
            transition: $trans;
            height: ($size / 2 + 1px);
        }
    }
    @include media-TB {
        $size: 240px;
        height: $size;
        width: 100%;
        overflow: hidden;
        text-align: center;
        &.scrolled {
            transition: $trans;
            height: 50px;
        }
    }
    @include media-PC {
        $size: 480px;
        height: $size;
        overflow: hidden;
        &.scrolled {
            transition: $trans;
            height: 54px;
        }
    }
    h1 {
        position: absolute;
        top: 0;
        bottom: 0;
    }
    h2 {
        position: absolute;
        left: 0;
        right: 0;
        display: flex;
        align-items: center;
        margin: 0;
        padding: 0 10px;
        color: #666;
        @include media-SP {
            top: 50px;
            bottom: 0;
            border-top: 1px solid #fff;
            @at-root #header.scrolled {
                h2 {
                    transition: $trans;
                    top: 0;
                    opacity: 0;
                }
            }
        }
        @include media-TB {
            top: calc(100% / 12 * 6);
            justify-content: center;
            text-align: center;
        }
        @include media-PC {
            // top: calc(100% / 12 * 7)
        }
    }
    .link--svg {
        display: inline-block;
        width: calc(100vw - 51px);
        height: 50px;
        margin: 0 auto 0 0;
        padding: 5px 10px;
        @include media-TB {
            position: absolute;
            top: 0;
            left: 10px;
            right: 10px;
            height: 36%;
            margin: auto;
            transform: translateY(10%);
        }
        @include media-PC {
            max-width: 60%;
            transform: translateY(25%);
        }
        svg {
            width: 100%;
            height: 100%;
            cursor: pointer;
            @include media-SP {
                width: auto;
            }
        }
        &::after {
            content: '';
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
        }
    }
}