body {
    background: #e44;
    color: $BASE-FONT-COLOR;
    font-family: #{$BASE-FONT};
    height: 100vh;
    min-width: $BP-SP;
}

footer {
    position: fixed;
    bottom: 0;
    height: 50px;
    width: 100%;
    background: $bg-secondary;
    z-index: 50;
}

.alt {
    text-indent: -200vw;
}

.txt {
    &--center {
        text-align: center
    }
}

.flex {
    display: flex;
    align-items: center;
    align-content: space-between;
    justify-content: space-between;
    &--column {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
}


/*! test @for */

.card {
    @for $value from 2 through 5 {
        $size: (100% / #{$value}) - 5px * $value;
        $margin: 5px * $value / ($value - 1);
    }
    $column2: calc((100% / 2) - 10px);
    $column3: calc((100% / 3) - 15px);
    $column4: calc((100% / 4) - 15px);
    $margin: 0;
    position: relative;
    background: #999;
    width: #{$column2};
    height: 0;
    padding-top: #{$column2};
    @include media-SP {
        $margin: 20px / 1;
        margin: 0 $margin $margin 0;
        &:nth-child(2n) {
            margin-right: 0;
        }
    }
    @include media-TB {
        $margin: 45px / 2;
        width: #{$column3};
        padding-top: #{$column3};
        margin: 0 $margin $margin 0;
        &:nth-child(3n) {
            margin-right: 0;
        }
    }
    @include media-PC {
        $margin: 60px / 3;
        width: #{$column4};
        padding-top: #{$column4};
        margin: 0 $margin $margin 0;
        &:nth-child(3n) {
            margin-right: $margin;
        }
        &:nth-child(4n) {
            margin-right: 0;
        }
    }
}

.sections {
    transition: $trans;
    &:nth-child(2n+1) {
        transform-origin: 0 0;
        transform: translateX(-100vw);
    }
    &:nth-child(2n+2) {
        transform-origin: 100% 0;
        transform: translateX(100vw);
    }
}