.nav {
    &--header {
        font-family: #{$MONO-FONT};
        top: 0;
        right: 0;
        .nav_inner {
            display: flex;
            flex-flow: column;
            justify-content: center;
            height: auto;
            padding: 8px;
            margin: auto;
            transition: $trans;
            background: linear-gradient(to right bottom, #fff, #eee);
            text-align: right;
            list-style: none;
            li {
                padding: .5em;
                padding-left: 10vw;
                margin: .5em 0;
            }
        }
        @include media-SP {
            width: 50px;
            height: 50px;
            position: fixed;
            border-left: 1px solid #fff;
            &::before,
            &::after {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                display: block;
                height: 3px;
                width: 2em;
                margin: auto;
                content: '';
                transition: $trans;
                transform-origin: 50%;
                background: #000;
            }
            .nav_inner {
                border-bottom: 3px double #333;
                position: absolute;
                align-items: flex-end;
                min-width: calc(100vw - 2px);
                top: 50px;
                right: -100vw;
                overflow: hidden;
                li {
                    border-bottom: 1px solid rgba(#333, .6);
                    z-index: 1;
                    &:last-child {
                        border: none;
                    }
                }
                &::before {
                    content: '';
                    display: block;
                    height: 210vw;
                    width: 210vw;
                    background: linear-gradient(to right, rgba(#fff, .6), rgba(#fff, .9));
                    border: solid 70vw #f00;
                    transform: translateX(50%) scaleX(.5) rotate(45deg);
                    transform-origin: 50%;
                    position: absolute;
                    bottom: -105vw;
                    right: 3vw;
                    opacity: .4;
                }
            }
        }
        @include media-TB {
            width: 100%;
            margin: auto;
            position: absolute;
            top: auto;
            bottom: 0;
            background: #fff;
            border-bottom: 3px double #333;
            &::before,
            &::after {
                content: none;
                display: none
            }
            .nav_inner {
                flex-flow: row;
                align-items: center;
                height: auto;
                width: 100%;
                padding: 0;
                li {
                    padding: .5em 1em;
                    &:not(:last-child) {
                        border-right: solid 1px $BASE-FONT-COLOR;
                    }
                }
            }
        }
        @include media-PC {
            top: calc(100% / 5 * 3 + 1px);
            height: 60px;
            border-bottom: none;
        }
        &::before {
            transform: rotate(45deg);
        }
        &::after {
            transform: rotate(-45deg);
        }
    }
}