// 基礎カラー
$color-red: #e01;
$color-blue: #02d;
$color-mono: #999;
$bg-primary: #fff;
$bg-secondary: #ebebeb;
$BASE-FONT-COLOR: #333;
$LINK-FONT-COLOR: $color-blue;
$BASE-FONT-SIZE: 10px;
// カラーパレット生成
$palette:( mono: #666, red: #d33, blue: #33d, green: #3d3, yellow: #dd6);
$light: 12%;
$dark: 12%;
// header設定
$head-sp-h: 100px;
$head-tb-h: 240px;
$head-pc-h: 480px;
// trans
$trans: .2s ease-in .01s;
@font-face {
    font-family: "YoGothic M";
    src: local("Yu Gothic Medium");
}

@each $color,
$value in $palette {
    /* -----------------
-- color palette #{$color}
-------------------- */
    /* txt */
    .txc_#{$color} {
        color: $value;
        &--l {
            color: lighten($value, $light);
        }
        &--d {
            color: darken( $value, $dark);
        }
    }
    /* bg */
    .bgc_#{$color} {
        background: $value;
        &--l {
            background: lighten($value, $light);
        }
        &--d {
            background: darken( $value, $dark);
        }
    }
}

$BASE-FONT: 'Sawarabi Gothic',
'Roboto',
'YuGothic',
'YuGothic M',
sans-serif;
$MONO-FONT: 'Fira Mono',
'Roboto Mono',
monospace;
// 動作検証用のテストカラーです
$test1: #caa;
$test2: #aca;
$test3: #aac;
// メディアクエリについてはsmallscreenFirstで記載
// 以下変数にはSP,タブレット,PCのmin-widthの値を記述
$BP-SP: 320px;
$BP-TB: 480px;
$BP-PC: 1025px;
// ブレイクポイントMixin
@mixin media-($breakpoint) {
    @media screen and (min-width: $breakpoint) {
        @content;
    }
}

@mixin media-SP {
    @media screen and (max-width: $BP-TB - 1) {
        @content;
    }
}

@mixin media-TB {
    @media screen and (min-width: $BP-TB) {
        @content;
    }
}

@mixin media-PC {
    @media screen and (min-width: $BP-PC) {
        @content;
    }
}