// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$arrow-next-name: 'arrow-next_';
$arrow-next-x: 0px;
$arrow-next-y: 0px;
$arrow-next-offset-x: 0px;
$arrow-next-offset-y: 0px;
$arrow-next-width: 30px;
$arrow-next-height: 40px;
$arrow-next-total-width: 30px;
$arrow-next-total-height: 240px;
$arrow-next-image: 'arrow.png';
$arrow-next-: (0px, 0px, 0px, 0px, 30px, 40px, 30px, 240px, 'arrow.png', 'arrow-next_', );
$arrow-next-hover-name: 'arrow-next_hover';
$arrow-next-hover-x: 0px;
$arrow-next-hover-y: 40px;
$arrow-next-hover-offset-x: 0px;
$arrow-next-hover-offset-y: -40px;
$arrow-next-hover-width: 30px;
$arrow-next-hover-height: 40px;
$arrow-next-hover-total-width: 30px;
$arrow-next-hover-total-height: 240px;
$arrow-next-hover-image: 'arrow.png';
$arrow-next-hover: (0px, 40px, 0px, -40px, 30px, 40px, 30px, 240px, 'arrow.png', 'arrow-next_hover', );
$arrow-next-off-name: 'arrow-next_off';
$arrow-next-off-x: 0px;
$arrow-next-off-y: 80px;
$arrow-next-off-offset-x: 0px;
$arrow-next-off-offset-y: -80px;
$arrow-next-off-width: 30px;
$arrow-next-off-height: 40px;
$arrow-next-off-total-width: 30px;
$arrow-next-off-total-height: 240px;
$arrow-next-off-image: 'arrow.png';
$arrow-next-off: (0px, 80px, 0px, -80px, 30px, 40px, 30px, 240px, 'arrow.png', 'arrow-next_off', );
$arrow-prev-name: 'arrow-prev';
$arrow-prev-x: 0px;
$arrow-prev-y: 120px;
$arrow-prev-offset-x: 0px;
$arrow-prev-offset-y: -120px;
$arrow-prev-width: 30px;
$arrow-prev-height: 40px;
$arrow-prev-total-width: 30px;
$arrow-prev-total-height: 240px;
$arrow-prev-image: 'arrow.png';
$arrow-prev: (0px, 120px, 0px, -120px, 30px, 40px, 30px, 240px, 'arrow.png', 'arrow-prev', );
$arrow-prev-hover-name: 'arrow-prev_hover';
$arrow-prev-hover-x: 0px;
$arrow-prev-hover-y: 160px;
$arrow-prev-hover-offset-x: 0px;
$arrow-prev-hover-offset-y: -160px;
$arrow-prev-hover-width: 30px;
$arrow-prev-hover-height: 40px;
$arrow-prev-hover-total-width: 30px;
$arrow-prev-hover-total-height: 240px;
$arrow-prev-hover-image: 'arrow.png';
$arrow-prev-hover: (0px, 160px, 0px, -160px, 30px, 40px, 30px, 240px, 'arrow.png', 'arrow-prev_hover', );
$arrow-prev-off-name: 'arrow-prev_off';
$arrow-prev-off-x: 0px;
$arrow-prev-off-y: 200px;
$arrow-prev-off-offset-x: 0px;
$arrow-prev-off-offset-y: -200px;
$arrow-prev-off-width: 30px;
$arrow-prev-off-height: 40px;
$arrow-prev-off-total-width: 30px;
$arrow-prev-off-total-height: 240px;
$arrow-prev-off-image: 'arrow.png';
$arrow-prev-off: (0px, 200px, 0px, -200px, 30px, 40px, 30px, 240px, 'arrow.png', 'arrow-prev_off', );
$spritesheet-width: 30px;
$spritesheet-height: 240px;
$spritesheet-image: 'arrow.png';
$spritesheet-sprites: ($arrow-next-, $arrow-next-hover, $arrow-next-off, $arrow-prev, $arrow-prev-hover, $arrow-prev-off, );
$spritesheet: (30px, 240px, 'arrow.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
