// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$btn-nav-button-character-name: 'btn_nav-button_character';
$btn-nav-button-character-x: 0px;
$btn-nav-button-character-y: 0px;
$btn-nav-button-character-offset-x: 0px;
$btn-nav-button-character-offset-y: 0px;
$btn-nav-button-character-width: 104px;
$btn-nav-button-character-height: 58px;
$btn-nav-button-character-total-width: 128px;
$btn-nav-button-character-total-height: 976px;
$btn-nav-button-character-image: 'btn_nav.png';
$btn-nav-button-character: (0px, 0px, 0px, 0px, 104px, 58px, 128px, 976px, 'btn_nav.png', 'btn_nav-button_character', );
$btn-nav-button-character-on-name: 'btn_nav-button_character_on';
$btn-nav-button-character-on-x: 0px;
$btn-nav-button-character-on-y: 464px;
$btn-nav-button-character-on-offset-x: 0px;
$btn-nav-button-character-on-offset-y: -464px;
$btn-nav-button-character-on-width: 104px;
$btn-nav-button-character-on-height: 58px;
$btn-nav-button-character-on-total-width: 128px;
$btn-nav-button-character-on-total-height: 976px;
$btn-nav-button-character-on-image: 'btn_nav.png';
$btn-nav-button-character-on: (0px, 464px, 0px, -464px, 104px, 58px, 128px, 976px, 'btn_nav.png', 'btn_nav-button_character_on', );
$btn-nav-button-dispatch-name: 'btn_nav-button_dispatch';
$btn-nav-button-dispatch-x: 0px;
$btn-nav-button-dispatch-y: 116px;
$btn-nav-button-dispatch-offset-x: 0px;
$btn-nav-button-dispatch-offset-y: -116px;
$btn-nav-button-dispatch-width: 104px;
$btn-nav-button-dispatch-height: 58px;
$btn-nav-button-dispatch-total-width: 128px;
$btn-nav-button-dispatch-total-height: 976px;
$btn-nav-button-dispatch-image: 'btn_nav.png';
$btn-nav-button-dispatch: (0px, 116px, 0px, -116px, 104px, 58px, 128px, 976px, 'btn_nav.png', 'btn_nav-button_dispatch', );
$btn-nav-button-dispatch-on-name: 'btn_nav-button_dispatch_on';
$btn-nav-button-dispatch-on-x: 0px;
$btn-nav-button-dispatch-on-y: 174px;
$btn-nav-button-dispatch-on-offset-x: 0px;
$btn-nav-button-dispatch-on-offset-y: -174px;
$btn-nav-button-dispatch-on-width: 104px;
$btn-nav-button-dispatch-on-height: 58px;
$btn-nav-button-dispatch-on-total-width: 128px;
$btn-nav-button-dispatch-on-total-height: 976px;
$btn-nav-button-dispatch-on-image: 'btn_nav.png';
$btn-nav-button-dispatch-on: (0px, 174px, 0px, -174px, 104px, 58px, 128px, 976px, 'btn_nav.png', 'btn_nav-button_dispatch_on', );
$btn-nav-button-friend-name: 'btn_nav-button_friend';
$btn-nav-button-friend-x: 0px;
$btn-nav-button-friend-y: 232px;
$btn-nav-button-friend-offset-x: 0px;
$btn-nav-button-friend-offset-y: -232px;
$btn-nav-button-friend-width: 104px;
$btn-nav-button-friend-height: 58px;
$btn-nav-button-friend-total-width: 128px;
$btn-nav-button-friend-total-height: 976px;
$btn-nav-button-friend-image: 'btn_nav.png';
$btn-nav-button-friend: (0px, 232px, 0px, -232px, 104px, 58px, 128px, 976px, 'btn_nav.png', 'btn_nav-button_friend', );
$btn-nav-button-friend-on-name: 'btn_nav-button_friend_on';
$btn-nav-button-friend-on-x: 0px;
$btn-nav-button-friend-on-y: 290px;
$btn-nav-button-friend-on-offset-x: 0px;
$btn-nav-button-friend-on-offset-y: -290px;
$btn-nav-button-friend-on-width: 104px;
$btn-nav-button-friend-on-height: 58px;
$btn-nav-button-friend-on-total-width: 128px;
$btn-nav-button-friend-on-total-height: 976px;
$btn-nav-button-friend-on-image: 'btn_nav.png';
$btn-nav-button-friend-on: (0px, 290px, 0px, -290px, 104px, 58px, 128px, 976px, 'btn_nav.png', 'btn_nav-button_friend_on', );
$btn-nav-button-gacha-name: 'btn_nav-button_gacha';
$btn-nav-button-gacha-x: 0px;
$btn-nav-button-gacha-y: 348px;
$btn-nav-button-gacha-offset-x: 0px;
$btn-nav-button-gacha-offset-y: -348px;
$btn-nav-button-gacha-width: 104px;
$btn-nav-button-gacha-height: 58px;
$btn-nav-button-gacha-total-width: 128px;
$btn-nav-button-gacha-total-height: 976px;
$btn-nav-button-gacha-image: 'btn_nav.png';
$btn-nav-button-gacha: (0px, 348px, 0px, -348px, 104px, 58px, 128px, 976px, 'btn_nav.png', 'btn_nav-button_gacha', );
$btn-nav-button-gacha-on-name: 'btn_nav-button_gacha_on';
$btn-nav-button-gacha-on-x: 0px;
$btn-nav-button-gacha-on-y: 406px;
$btn-nav-button-gacha-on-offset-x: 0px;
$btn-nav-button-gacha-on-offset-y: -406px;
$btn-nav-button-gacha-on-width: 104px;
$btn-nav-button-gacha-on-height: 58px;
$btn-nav-button-gacha-on-total-width: 128px;
$btn-nav-button-gacha-on-total-height: 976px;
$btn-nav-button-gacha-on-image: 'btn_nav.png';
$btn-nav-button-gacha-on: (0px, 406px, 0px, -406px, 104px, 58px, 128px, 976px, 'btn_nav.png', 'btn_nav-button_gacha_on', );
$btn-nav-button-mypage-name: 'btn_nav-button_mypage';
$btn-nav-button-mypage-x: 0px;
$btn-nav-button-mypage-y: 906px;
$btn-nav-button-mypage-offset-x: 0px;
$btn-nav-button-mypage-offset-y: -906px;
$btn-nav-button-mypage-width: 128px;
$btn-nav-button-mypage-height: 70px;
$btn-nav-button-mypage-total-width: 128px;
$btn-nav-button-mypage-total-height: 976px;
$btn-nav-button-mypage-image: 'btn_nav.png';
$btn-nav-button-mypage: (0px, 906px, 0px, -906px, 128px, 70px, 128px, 976px, 'btn_nav.png', 'btn_nav-button_mypage', );
$btn-nav-button-mypage-on-name: 'btn_nav-button_mypage_on';
$btn-nav-button-mypage-on-x: 0px;
$btn-nav-button-mypage-on-y: 836px;
$btn-nav-button-mypage-on-offset-x: 0px;
$btn-nav-button-mypage-on-offset-y: -836px;
$btn-nav-button-mypage-on-width: 128px;
$btn-nav-button-mypage-on-height: 70px;
$btn-nav-button-mypage-on-total-width: 128px;
$btn-nav-button-mypage-on-total-height: 976px;
$btn-nav-button-mypage-on-image: 'btn_nav.png';
$btn-nav-button-mypage-on: (0px, 836px, 0px, -836px, 128px, 70px, 128px, 976px, 'btn_nav.png', 'btn_nav-button_mypage_on', );
$btn-nav-button-quest-name: 'btn_nav-button_quest';
$btn-nav-button-quest-x: 0px;
$btn-nav-button-quest-y: 766px;
$btn-nav-button-quest-offset-x: 0px;
$btn-nav-button-quest-offset-y: -766px;
$btn-nav-button-quest-width: 128px;
$btn-nav-button-quest-height: 70px;
$btn-nav-button-quest-total-width: 128px;
$btn-nav-button-quest-total-height: 976px;
$btn-nav-button-quest-image: 'btn_nav.png';
$btn-nav-button-quest: (0px, 766px, 0px, -766px, 128px, 70px, 128px, 976px, 'btn_nav.png', 'btn_nav-button_quest', );
$btn-nav-button-quest-on-name: 'btn_nav-button_quest_on';
$btn-nav-button-quest-on-x: 0px;
$btn-nav-button-quest-on-y: 696px;
$btn-nav-button-quest-on-offset-x: 0px;
$btn-nav-button-quest-on-offset-y: -696px;
$btn-nav-button-quest-on-width: 128px;
$btn-nav-button-quest-on-height: 70px;
$btn-nav-button-quest-on-total-width: 128px;
$btn-nav-button-quest-on-total-height: 976px;
$btn-nav-button-quest-on-image: 'btn_nav.png';
$btn-nav-button-quest-on: (0px, 696px, 0px, -696px, 128px, 70px, 128px, 976px, 'btn_nav.png', 'btn_nav-button_quest_on', );
$btn-nav-button-shop-name: 'btn_nav-button_shop';
$btn-nav-button-shop-x: 0px;
$btn-nav-button-shop-y: 638px;
$btn-nav-button-shop-offset-x: 0px;
$btn-nav-button-shop-offset-y: -638px;
$btn-nav-button-shop-width: 104px;
$btn-nav-button-shop-height: 58px;
$btn-nav-button-shop-total-width: 128px;
$btn-nav-button-shop-total-height: 976px;
$btn-nav-button-shop-image: 'btn_nav.png';
$btn-nav-button-shop: (0px, 638px, 0px, -638px, 104px, 58px, 128px, 976px, 'btn_nav.png', 'btn_nav-button_shop', );
$btn-nav-button-shop-on-name: 'btn_nav-button_shop_on';
$btn-nav-button-shop-on-x: 0px;
$btn-nav-button-shop-on-y: 580px;
$btn-nav-button-shop-on-offset-x: 0px;
$btn-nav-button-shop-on-offset-y: -580px;
$btn-nav-button-shop-on-width: 104px;
$btn-nav-button-shop-on-height: 58px;
$btn-nav-button-shop-on-total-width: 128px;
$btn-nav-button-shop-on-total-height: 976px;
$btn-nav-button-shop-on-image: 'btn_nav.png';
$btn-nav-button-shop-on: (0px, 580px, 0px, -580px, 104px, 58px, 128px, 976px, 'btn_nav.png', 'btn_nav-button_shop_on', );
$btn-nav-button-submenu-name: 'btn_nav-button_submenu';
$btn-nav-button-submenu-x: 0px;
$btn-nav-button-submenu-y: 522px;
$btn-nav-button-submenu-offset-x: 0px;
$btn-nav-button-submenu-offset-y: -522px;
$btn-nav-button-submenu-width: 104px;
$btn-nav-button-submenu-height: 58px;
$btn-nav-button-submenu-total-width: 128px;
$btn-nav-button-submenu-total-height: 976px;
$btn-nav-button-submenu-image: 'btn_nav.png';
$btn-nav-button-submenu: (0px, 522px, 0px, -522px, 104px, 58px, 128px, 976px, 'btn_nav.png', 'btn_nav-button_submenu', );
$btn-nav-button-submenu-on-name: 'btn_nav-button_submenu_on';
$btn-nav-button-submenu-on-x: 0px;
$btn-nav-button-submenu-on-y: 58px;
$btn-nav-button-submenu-on-offset-x: 0px;
$btn-nav-button-submenu-on-offset-y: -58px;
$btn-nav-button-submenu-on-width: 104px;
$btn-nav-button-submenu-on-height: 58px;
$btn-nav-button-submenu-on-total-width: 128px;
$btn-nav-button-submenu-on-total-height: 976px;
$btn-nav-button-submenu-on-image: 'btn_nav.png';
$btn-nav-button-submenu-on: (0px, 58px, 0px, -58px, 104px, 58px, 128px, 976px, 'btn_nav.png', 'btn_nav-button_submenu_on', );
$spritesheet-width: 128px;
$spritesheet-height: 976px;
$spritesheet-image: 'btn_nav.png';
$spritesheet-sprites: ($btn-nav-button-character, $btn-nav-button-character-on, $btn-nav-button-dispatch, $btn-nav-button-dispatch-on, $btn-nav-button-friend, $btn-nav-button-friend-on, $btn-nav-button-gacha, $btn-nav-button-gacha-on, $btn-nav-button-mypage, $btn-nav-button-mypage-on, $btn-nav-button-quest, $btn-nav-button-quest-on, $btn-nav-button-shop, $btn-nav-button-shop-on, $btn-nav-button-submenu, $btn-nav-button-submenu-on, );
$spritesheet: (128px, 976px, 'btn_nav.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
