// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$icon-quest-cicon-map-next-board-off-name: 'icon_quest-cicon_map_next_board_off';
$icon-quest-cicon-map-next-board-off-x: 0px;
$icon-quest-cicon-map-next-board-off-y: 3077px;
$icon-quest-cicon-map-next-board-off-offset-x: 0px;
$icon-quest-cicon-map-next-board-off-offset-y: -3077px;
$icon-quest-cicon-map-next-board-off-width: 74px;
$icon-quest-cicon-map-next-board-off-height: 66px;
$icon-quest-cicon-map-next-board-off-total-width: 128px;
$icon-quest-cicon-map-next-board-off-total-height: 6407px;
$icon-quest-cicon-map-next-board-off-image: 'icon_quest.png';
$icon-quest-cicon-map-next-board-off: (0px, 3077px, 0px, -3077px, 74px, 66px, 128px, 6407px, 'icon_quest.png', 'icon_quest-cicon_map_next_board_off', );
$icon-quest-icon-chapter-num-01-name: 'icon_quest-icon_chapter_num_01';
$icon-quest-icon-chapter-num-01-x: 0px;
$icon-quest-icon-chapter-num-01-y: 1625px;
$icon-quest-icon-chapter-num-01-offset-x: 0px;
$icon-quest-icon-chapter-num-01-offset-y: -1625px;
$icon-quest-icon-chapter-num-01-width: 100px;
$icon-quest-icon-chapter-num-01-height: 50px;
$icon-quest-icon-chapter-num-01-total-width: 128px;
$icon-quest-icon-chapter-num-01-total-height: 6407px;
$icon-quest-icon-chapter-num-01-image: 'icon_quest.png';
$icon-quest-icon-chapter-num-01: (0px, 1625px, 0px, -1625px, 100px, 50px, 128px, 6407px, 'icon_quest.png', 'icon_quest-icon_chapter_num_01', );
$icon-quest-icon-chapter-num-01-off-name: 'icon_quest-icon_chapter_num_01_off';
$icon-quest-icon-chapter-num-01-off-x: 0px;
$icon-quest-icon-chapter-num-01-off-y: 1225px;
$icon-quest-icon-chapter-num-01-off-offset-x: 0px;
$icon-quest-icon-chapter-num-01-off-offset-y: -1225px;
$icon-quest-icon-chapter-num-01-off-width: 100px;
$icon-quest-icon-chapter-num-01-off-height: 50px;
$icon-quest-icon-chapter-num-01-off-total-width: 128px;
$icon-quest-icon-chapter-num-01-off-total-height: 6407px;
$icon-quest-icon-chapter-num-01-off-image: 'icon_quest.png';
$icon-quest-icon-chapter-num-01-off: (0px, 1225px, 0px, -1225px, 100px, 50px, 128px, 6407px, 'icon_quest.png', 'icon_quest-icon_chapter_num_01_off', );
$icon-quest-icon-chapter-num-01-on-name: 'icon_quest-icon_chapter_num_01_on';
$icon-quest-icon-chapter-num-01-on-x: 0px;
$icon-quest-icon-chapter-num-01-on-y: 1325px;
$icon-quest-icon-chapter-num-01-on-offset-x: 0px;
$icon-quest-icon-chapter-num-01-on-offset-y: -1325px;
$icon-quest-icon-chapter-num-01-on-width: 100px;
$icon-quest-icon-chapter-num-01-on-height: 50px;
$icon-quest-icon-chapter-num-01-on-total-width: 128px;
$icon-quest-icon-chapter-num-01-on-total-height: 6407px;
$icon-quest-icon-chapter-num-01-on-image: 'icon_quest.png';
$icon-quest-icon-chapter-num-01-on: (0px, 1325px, 0px, -1325px, 100px, 50px, 128px, 6407px, 'icon_quest.png', 'icon_quest-icon_chapter_num_01_on', );
$icon-quest-icon-chapter-num-02-name: 'icon_quest-icon_chapter_num_02';
$icon-quest-icon-chapter-num-02-x: 0px;
$icon-quest-icon-chapter-num-02-y: 1375px;
$icon-quest-icon-chapter-num-02-offset-x: 0px;
$icon-quest-icon-chapter-num-02-offset-y: -1375px;
$icon-quest-icon-chapter-num-02-width: 100px;
$icon-quest-icon-chapter-num-02-height: 50px;
$icon-quest-icon-chapter-num-02-total-width: 128px;
$icon-quest-icon-chapter-num-02-total-height: 6407px;
$icon-quest-icon-chapter-num-02-image: 'icon_quest.png';
$icon-quest-icon-chapter-num-02: (0px, 1375px, 0px, -1375px, 100px, 50px, 128px, 6407px, 'icon_quest.png', 'icon_quest-icon_chapter_num_02', );
$icon-quest-icon-chapter-num-02-off-name: 'icon_quest-icon_chapter_num_02_off';
$icon-quest-icon-chapter-num-02-off-x: 0px;
$icon-quest-icon-chapter-num-02-off-y: 1425px;
$icon-quest-icon-chapter-num-02-off-offset-x: 0px;
$icon-quest-icon-chapter-num-02-off-offset-y: -1425px;
$icon-quest-icon-chapter-num-02-off-width: 100px;
$icon-quest-icon-chapter-num-02-off-height: 50px;
$icon-quest-icon-chapter-num-02-off-total-width: 128px;
$icon-quest-icon-chapter-num-02-off-total-height: 6407px;
$icon-quest-icon-chapter-num-02-off-image: 'icon_quest.png';
$icon-quest-icon-chapter-num-02-off: (0px, 1425px, 0px, -1425px, 100px, 50px, 128px, 6407px, 'icon_quest.png', 'icon_quest-icon_chapter_num_02_off', );
$icon-quest-icon-chapter-num-02-on-name: 'icon_quest-icon_chapter_num_02_on';
$icon-quest-icon-chapter-num-02-on-x: 0px;
$icon-quest-icon-chapter-num-02-on-y: 1475px;
$icon-quest-icon-chapter-num-02-on-offset-x: 0px;
$icon-quest-icon-chapter-num-02-on-offset-y: -1475px;
$icon-quest-icon-chapter-num-02-on-width: 100px;
$icon-quest-icon-chapter-num-02-on-height: 50px;
$icon-quest-icon-chapter-num-02-on-total-width: 128px;
$icon-quest-icon-chapter-num-02-on-total-height: 6407px;
$icon-quest-icon-chapter-num-02-on-image: 'icon_quest.png';
$icon-quest-icon-chapter-num-02-on: (0px, 1475px, 0px, -1475px, 100px, 50px, 128px, 6407px, 'icon_quest.png', 'icon_quest-icon_chapter_num_02_on', );
$icon-quest-icon-chapter-num-03-name: 'icon_quest-icon_chapter_num_03';
$icon-quest-icon-chapter-num-03-x: 0px;
$icon-quest-icon-chapter-num-03-y: 1525px;
$icon-quest-icon-chapter-num-03-offset-x: 0px;
$icon-quest-icon-chapter-num-03-offset-y: -1525px;
$icon-quest-icon-chapter-num-03-width: 100px;
$icon-quest-icon-chapter-num-03-height: 50px;
$icon-quest-icon-chapter-num-03-total-width: 128px;
$icon-quest-icon-chapter-num-03-total-height: 6407px;
$icon-quest-icon-chapter-num-03-image: 'icon_quest.png';
$icon-quest-icon-chapter-num-03: (0px, 1525px, 0px, -1525px, 100px, 50px, 128px, 6407px, 'icon_quest.png', 'icon_quest-icon_chapter_num_03', );
$icon-quest-icon-chapter-num-03-off-name: 'icon_quest-icon_chapter_num_03_off';
$icon-quest-icon-chapter-num-03-off-x: 0px;
$icon-quest-icon-chapter-num-03-off-y: 1575px;
$icon-quest-icon-chapter-num-03-off-offset-x: 0px;
$icon-quest-icon-chapter-num-03-off-offset-y: -1575px;
$icon-quest-icon-chapter-num-03-off-width: 100px;
$icon-quest-icon-chapter-num-03-off-height: 50px;
$icon-quest-icon-chapter-num-03-off-total-width: 128px;
$icon-quest-icon-chapter-num-03-off-total-height: 6407px;
$icon-quest-icon-chapter-num-03-off-image: 'icon_quest.png';
$icon-quest-icon-chapter-num-03-off: (0px, 1575px, 0px, -1575px, 100px, 50px, 128px, 6407px, 'icon_quest.png', 'icon_quest-icon_chapter_num_03_off', );
$icon-quest-icon-chapter-num-03-on-name: 'icon_quest-icon_chapter_num_03_on';
$icon-quest-icon-chapter-num-03-on-x: 0px;
$icon-quest-icon-chapter-num-03-on-y: 1675px;
$icon-quest-icon-chapter-num-03-on-offset-x: 0px;
$icon-quest-icon-chapter-num-03-on-offset-y: -1675px;
$icon-quest-icon-chapter-num-03-on-width: 100px;
$icon-quest-icon-chapter-num-03-on-height: 50px;
$icon-quest-icon-chapter-num-03-on-total-width: 128px;
$icon-quest-icon-chapter-num-03-on-total-height: 6407px;
$icon-quest-icon-chapter-num-03-on-image: 'icon_quest.png';
$icon-quest-icon-chapter-num-03-on: (0px, 1675px, 0px, -1675px, 100px, 50px, 128px, 6407px, 'icon_quest.png', 'icon_quest-icon_chapter_num_03_on', );
$icon-quest-icon-chapter-num-04-name: 'icon_quest-icon_chapter_num_04';
$icon-quest-icon-chapter-num-04-x: 0px;
$icon-quest-icon-chapter-num-04-y: 1725px;
$icon-quest-icon-chapter-num-04-offset-x: 0px;
$icon-quest-icon-chapter-num-04-offset-y: -1725px;
$icon-quest-icon-chapter-num-04-width: 100px;
$icon-quest-icon-chapter-num-04-height: 50px;
$icon-quest-icon-chapter-num-04-total-width: 128px;
$icon-quest-icon-chapter-num-04-total-height: 6407px;
$icon-quest-icon-chapter-num-04-image: 'icon_quest.png';
$icon-quest-icon-chapter-num-04: (0px, 1725px, 0px, -1725px, 100px, 50px, 128px, 6407px, 'icon_quest.png', 'icon_quest-icon_chapter_num_04', );
$icon-quest-icon-chapter-num-04-off-name: 'icon_quest-icon_chapter_num_04_off';
$icon-quest-icon-chapter-num-04-off-x: 0px;
$icon-quest-icon-chapter-num-04-off-y: 275px;
$icon-quest-icon-chapter-num-04-off-offset-x: 0px;
$icon-quest-icon-chapter-num-04-off-offset-y: -275px;
$icon-quest-icon-chapter-num-04-off-width: 100px;
$icon-quest-icon-chapter-num-04-off-height: 50px;
$icon-quest-icon-chapter-num-04-off-total-width: 128px;
$icon-quest-icon-chapter-num-04-off-total-height: 6407px;
$icon-quest-icon-chapter-num-04-off-image: 'icon_quest.png';
$icon-quest-icon-chapter-num-04-off: (0px, 275px, 0px, -275px, 100px, 50px, 128px, 6407px, 'icon_quest.png', 'icon_quest-icon_chapter_num_04_off', );
$icon-quest-icon-chapter-num-04-on-name: 'icon_quest-icon_chapter_num_04_on';
$icon-quest-icon-chapter-num-04-on-x: 0px;
$icon-quest-icon-chapter-num-04-on-y: 325px;
$icon-quest-icon-chapter-num-04-on-offset-x: 0px;
$icon-quest-icon-chapter-num-04-on-offset-y: -325px;
$icon-quest-icon-chapter-num-04-on-width: 100px;
$icon-quest-icon-chapter-num-04-on-height: 50px;
$icon-quest-icon-chapter-num-04-on-total-width: 128px;
$icon-quest-icon-chapter-num-04-on-total-height: 6407px;
$icon-quest-icon-chapter-num-04-on-image: 'icon_quest.png';
$icon-quest-icon-chapter-num-04-on: (0px, 325px, 0px, -325px, 100px, 50px, 128px, 6407px, 'icon_quest.png', 'icon_quest-icon_chapter_num_04_on', );
$icon-quest-icon-chapter-num-05-name: 'icon_quest-icon_chapter_num_05';
$icon-quest-icon-chapter-num-05-x: 0px;
$icon-quest-icon-chapter-num-05-y: 375px;
$icon-quest-icon-chapter-num-05-offset-x: 0px;
$icon-quest-icon-chapter-num-05-offset-y: -375px;
$icon-quest-icon-chapter-num-05-width: 100px;
$icon-quest-icon-chapter-num-05-height: 50px;
$icon-quest-icon-chapter-num-05-total-width: 128px;
$icon-quest-icon-chapter-num-05-total-height: 6407px;
$icon-quest-icon-chapter-num-05-image: 'icon_quest.png';
$icon-quest-icon-chapter-num-05: (0px, 375px, 0px, -375px, 100px, 50px, 128px, 6407px, 'icon_quest.png', 'icon_quest-icon_chapter_num_05', );
$icon-quest-icon-chapter-num-05-off-name: 'icon_quest-icon_chapter_num_05_off';
$icon-quest-icon-chapter-num-05-off-x: 0px;
$icon-quest-icon-chapter-num-05-off-y: 425px;
$icon-quest-icon-chapter-num-05-off-offset-x: 0px;
$icon-quest-icon-chapter-num-05-off-offset-y: -425px;
$icon-quest-icon-chapter-num-05-off-width: 100px;
$icon-quest-icon-chapter-num-05-off-height: 50px;
$icon-quest-icon-chapter-num-05-off-total-width: 128px;
$icon-quest-icon-chapter-num-05-off-total-height: 6407px;
$icon-quest-icon-chapter-num-05-off-image: 'icon_quest.png';
$icon-quest-icon-chapter-num-05-off: (0px, 425px, 0px, -425px, 100px, 50px, 128px, 6407px, 'icon_quest.png', 'icon_quest-icon_chapter_num_05_off', );
$icon-quest-icon-chapter-num-05-on-name: 'icon_quest-icon_chapter_num_05_on';
$icon-quest-icon-chapter-num-05-on-x: 0px;
$icon-quest-icon-chapter-num-05-on-y: 475px;
$icon-quest-icon-chapter-num-05-on-offset-x: 0px;
$icon-quest-icon-chapter-num-05-on-offset-y: -475px;
$icon-quest-icon-chapter-num-05-on-width: 100px;
$icon-quest-icon-chapter-num-05-on-height: 50px;
$icon-quest-icon-chapter-num-05-on-total-width: 128px;
$icon-quest-icon-chapter-num-05-on-total-height: 6407px;
$icon-quest-icon-chapter-num-05-on-image: 'icon_quest.png';
$icon-quest-icon-chapter-num-05-on: (0px, 475px, 0px, -475px, 100px, 50px, 128px, 6407px, 'icon_quest.png', 'icon_quest-icon_chapter_num_05_on', );
$icon-quest-icon-chapter-num-06-name: 'icon_quest-icon_chapter_num_06';
$icon-quest-icon-chapter-num-06-x: 0px;
$icon-quest-icon-chapter-num-06-y: 525px;
$icon-quest-icon-chapter-num-06-offset-x: 0px;
$icon-quest-icon-chapter-num-06-offset-y: -525px;
$icon-quest-icon-chapter-num-06-width: 100px;
$icon-quest-icon-chapter-num-06-height: 50px;
$icon-quest-icon-chapter-num-06-total-width: 128px;
$icon-quest-icon-chapter-num-06-total-height: 6407px;
$icon-quest-icon-chapter-num-06-image: 'icon_quest.png';
$icon-quest-icon-chapter-num-06: (0px, 525px, 0px, -525px, 100px, 50px, 128px, 6407px, 'icon_quest.png', 'icon_quest-icon_chapter_num_06', );
$icon-quest-icon-chapter-num-06-off-name: 'icon_quest-icon_chapter_num_06_off';
$icon-quest-icon-chapter-num-06-off-x: 0px;
$icon-quest-icon-chapter-num-06-off-y: 575px;
$icon-quest-icon-chapter-num-06-off-offset-x: 0px;
$icon-quest-icon-chapter-num-06-off-offset-y: -575px;
$icon-quest-icon-chapter-num-06-off-width: 100px;
$icon-quest-icon-chapter-num-06-off-height: 50px;
$icon-quest-icon-chapter-num-06-off-total-width: 128px;
$icon-quest-icon-chapter-num-06-off-total-height: 6407px;
$icon-quest-icon-chapter-num-06-off-image: 'icon_quest.png';
$icon-quest-icon-chapter-num-06-off: (0px, 575px, 0px, -575px, 100px, 50px, 128px, 6407px, 'icon_quest.png', 'icon_quest-icon_chapter_num_06_off', );
$icon-quest-icon-chapter-num-06-on-name: 'icon_quest-icon_chapter_num_06_on';
$icon-quest-icon-chapter-num-06-on-x: 0px;
$icon-quest-icon-chapter-num-06-on-y: 625px;
$icon-quest-icon-chapter-num-06-on-offset-x: 0px;
$icon-quest-icon-chapter-num-06-on-offset-y: -625px;
$icon-quest-icon-chapter-num-06-on-width: 100px;
$icon-quest-icon-chapter-num-06-on-height: 50px;
$icon-quest-icon-chapter-num-06-on-total-width: 128px;
$icon-quest-icon-chapter-num-06-on-total-height: 6407px;
$icon-quest-icon-chapter-num-06-on-image: 'icon_quest.png';
$icon-quest-icon-chapter-num-06-on: (0px, 625px, 0px, -625px, 100px, 50px, 128px, 6407px, 'icon_quest.png', 'icon_quest-icon_chapter_num_06_on', );
$icon-quest-icon-chapter-num-07-name: 'icon_quest-icon_chapter_num_07';
$icon-quest-icon-chapter-num-07-x: 0px;
$icon-quest-icon-chapter-num-07-y: 675px;
$icon-quest-icon-chapter-num-07-offset-x: 0px;
$icon-quest-icon-chapter-num-07-offset-y: -675px;
$icon-quest-icon-chapter-num-07-width: 100px;
$icon-quest-icon-chapter-num-07-height: 50px;
$icon-quest-icon-chapter-num-07-total-width: 128px;
$icon-quest-icon-chapter-num-07-total-height: 6407px;
$icon-quest-icon-chapter-num-07-image: 'icon_quest.png';
$icon-quest-icon-chapter-num-07: (0px, 675px, 0px, -675px, 100px, 50px, 128px, 6407px, 'icon_quest.png', 'icon_quest-icon_chapter_num_07', );
$icon-quest-icon-chapter-num-07-off-name: 'icon_quest-icon_chapter_num_07_off';
$icon-quest-icon-chapter-num-07-off-x: 0px;
$icon-quest-icon-chapter-num-07-off-y: 725px;
$icon-quest-icon-chapter-num-07-off-offset-x: 0px;
$icon-quest-icon-chapter-num-07-off-offset-y: -725px;
$icon-quest-icon-chapter-num-07-off-width: 100px;
$icon-quest-icon-chapter-num-07-off-height: 50px;
$icon-quest-icon-chapter-num-07-off-total-width: 128px;
$icon-quest-icon-chapter-num-07-off-total-height: 6407px;
$icon-quest-icon-chapter-num-07-off-image: 'icon_quest.png';
$icon-quest-icon-chapter-num-07-off: (0px, 725px, 0px, -725px, 100px, 50px, 128px, 6407px, 'icon_quest.png', 'icon_quest-icon_chapter_num_07_off', );
$icon-quest-icon-chapter-num-07-on-name: 'icon_quest-icon_chapter_num_07_on';
$icon-quest-icon-chapter-num-07-on-x: 0px;
$icon-quest-icon-chapter-num-07-on-y: 775px;
$icon-quest-icon-chapter-num-07-on-offset-x: 0px;
$icon-quest-icon-chapter-num-07-on-offset-y: -775px;
$icon-quest-icon-chapter-num-07-on-width: 100px;
$icon-quest-icon-chapter-num-07-on-height: 50px;
$icon-quest-icon-chapter-num-07-on-total-width: 128px;
$icon-quest-icon-chapter-num-07-on-total-height: 6407px;
$icon-quest-icon-chapter-num-07-on-image: 'icon_quest.png';
$icon-quest-icon-chapter-num-07-on: (0px, 775px, 0px, -775px, 100px, 50px, 128px, 6407px, 'icon_quest.png', 'icon_quest-icon_chapter_num_07_on', );
$icon-quest-icon-chapter-num-08-name: 'icon_quest-icon_chapter_num_08';
$icon-quest-icon-chapter-num-08-x: 0px;
$icon-quest-icon-chapter-num-08-y: 825px;
$icon-quest-icon-chapter-num-08-offset-x: 0px;
$icon-quest-icon-chapter-num-08-offset-y: -825px;
$icon-quest-icon-chapter-num-08-width: 100px;
$icon-quest-icon-chapter-num-08-height: 50px;
$icon-quest-icon-chapter-num-08-total-width: 128px;
$icon-quest-icon-chapter-num-08-total-height: 6407px;
$icon-quest-icon-chapter-num-08-image: 'icon_quest.png';
$icon-quest-icon-chapter-num-08: (0px, 825px, 0px, -825px, 100px, 50px, 128px, 6407px, 'icon_quest.png', 'icon_quest-icon_chapter_num_08', );
$icon-quest-icon-chapter-num-08-off-name: 'icon_quest-icon_chapter_num_08_off';
$icon-quest-icon-chapter-num-08-off-x: 0px;
$icon-quest-icon-chapter-num-08-off-y: 875px;
$icon-quest-icon-chapter-num-08-off-offset-x: 0px;
$icon-quest-icon-chapter-num-08-off-offset-y: -875px;
$icon-quest-icon-chapter-num-08-off-width: 100px;
$icon-quest-icon-chapter-num-08-off-height: 50px;
$icon-quest-icon-chapter-num-08-off-total-width: 128px;
$icon-quest-icon-chapter-num-08-off-total-height: 6407px;
$icon-quest-icon-chapter-num-08-off-image: 'icon_quest.png';
$icon-quest-icon-chapter-num-08-off: (0px, 875px, 0px, -875px, 100px, 50px, 128px, 6407px, 'icon_quest.png', 'icon_quest-icon_chapter_num_08_off', );
$icon-quest-icon-chapter-num-08-on-name: 'icon_quest-icon_chapter_num_08_on';
$icon-quest-icon-chapter-num-08-on-x: 0px;
$icon-quest-icon-chapter-num-08-on-y: 925px;
$icon-quest-icon-chapter-num-08-on-offset-x: 0px;
$icon-quest-icon-chapter-num-08-on-offset-y: -925px;
$icon-quest-icon-chapter-num-08-on-width: 100px;
$icon-quest-icon-chapter-num-08-on-height: 50px;
$icon-quest-icon-chapter-num-08-on-total-width: 128px;
$icon-quest-icon-chapter-num-08-on-total-height: 6407px;
$icon-quest-icon-chapter-num-08-on-image: 'icon_quest.png';
$icon-quest-icon-chapter-num-08-on: (0px, 925px, 0px, -925px, 100px, 50px, 128px, 6407px, 'icon_quest.png', 'icon_quest-icon_chapter_num_08_on', );
$icon-quest-icon-chapter-num-09-name: 'icon_quest-icon_chapter_num_09';
$icon-quest-icon-chapter-num-09-x: 0px;
$icon-quest-icon-chapter-num-09-y: 975px;
$icon-quest-icon-chapter-num-09-offset-x: 0px;
$icon-quest-icon-chapter-num-09-offset-y: -975px;
$icon-quest-icon-chapter-num-09-width: 100px;
$icon-quest-icon-chapter-num-09-height: 50px;
$icon-quest-icon-chapter-num-09-total-width: 128px;
$icon-quest-icon-chapter-num-09-total-height: 6407px;
$icon-quest-icon-chapter-num-09-image: 'icon_quest.png';
$icon-quest-icon-chapter-num-09: (0px, 975px, 0px, -975px, 100px, 50px, 128px, 6407px, 'icon_quest.png', 'icon_quest-icon_chapter_num_09', );
$icon-quest-icon-chapter-num-09-off-name: 'icon_quest-icon_chapter_num_09_off';
$icon-quest-icon-chapter-num-09-off-x: 0px;
$icon-quest-icon-chapter-num-09-off-y: 1025px;
$icon-quest-icon-chapter-num-09-off-offset-x: 0px;
$icon-quest-icon-chapter-num-09-off-offset-y: -1025px;
$icon-quest-icon-chapter-num-09-off-width: 100px;
$icon-quest-icon-chapter-num-09-off-height: 50px;
$icon-quest-icon-chapter-num-09-off-total-width: 128px;
$icon-quest-icon-chapter-num-09-off-total-height: 6407px;
$icon-quest-icon-chapter-num-09-off-image: 'icon_quest.png';
$icon-quest-icon-chapter-num-09-off: (0px, 1025px, 0px, -1025px, 100px, 50px, 128px, 6407px, 'icon_quest.png', 'icon_quest-icon_chapter_num_09_off', );
$icon-quest-icon-chapter-num-09-on-name: 'icon_quest-icon_chapter_num_09_on';
$icon-quest-icon-chapter-num-09-on-x: 0px;
$icon-quest-icon-chapter-num-09-on-y: 1075px;
$icon-quest-icon-chapter-num-09-on-offset-x: 0px;
$icon-quest-icon-chapter-num-09-on-offset-y: -1075px;
$icon-quest-icon-chapter-num-09-on-width: 100px;
$icon-quest-icon-chapter-num-09-on-height: 50px;
$icon-quest-icon-chapter-num-09-on-total-width: 128px;
$icon-quest-icon-chapter-num-09-on-total-height: 6407px;
$icon-quest-icon-chapter-num-09-on-image: 'icon_quest.png';
$icon-quest-icon-chapter-num-09-on: (0px, 1075px, 0px, -1075px, 100px, 50px, 128px, 6407px, 'icon_quest.png', 'icon_quest-icon_chapter_num_09_on', );
$icon-quest-icon-chapter-num-10-name: 'icon_quest-icon_chapter_num_10';
$icon-quest-icon-chapter-num-10-x: 0px;
$icon-quest-icon-chapter-num-10-y: 1125px;
$icon-quest-icon-chapter-num-10-offset-x: 0px;
$icon-quest-icon-chapter-num-10-offset-y: -1125px;
$icon-quest-icon-chapter-num-10-width: 100px;
$icon-quest-icon-chapter-num-10-height: 50px;
$icon-quest-icon-chapter-num-10-total-width: 128px;
$icon-quest-icon-chapter-num-10-total-height: 6407px;
$icon-quest-icon-chapter-num-10-image: 'icon_quest.png';
$icon-quest-icon-chapter-num-10: (0px, 1125px, 0px, -1125px, 100px, 50px, 128px, 6407px, 'icon_quest.png', 'icon_quest-icon_chapter_num_10', );
$icon-quest-icon-chapter-num-10-off-name: 'icon_quest-icon_chapter_num_10_off';
$icon-quest-icon-chapter-num-10-off-x: 0px;
$icon-quest-icon-chapter-num-10-off-y: 1175px;
$icon-quest-icon-chapter-num-10-off-offset-x: 0px;
$icon-quest-icon-chapter-num-10-off-offset-y: -1175px;
$icon-quest-icon-chapter-num-10-off-width: 100px;
$icon-quest-icon-chapter-num-10-off-height: 50px;
$icon-quest-icon-chapter-num-10-off-total-width: 128px;
$icon-quest-icon-chapter-num-10-off-total-height: 6407px;
$icon-quest-icon-chapter-num-10-off-image: 'icon_quest.png';
$icon-quest-icon-chapter-num-10-off: (0px, 1175px, 0px, -1175px, 100px, 50px, 128px, 6407px, 'icon_quest.png', 'icon_quest-icon_chapter_num_10_off', );
$icon-quest-icon-chapter-num-10-on-name: 'icon_quest-icon_chapter_num_10_on';
$icon-quest-icon-chapter-num-10-on-x: 0px;
$icon-quest-icon-chapter-num-10-on-y: 1275px;
$icon-quest-icon-chapter-num-10-on-offset-x: 0px;
$icon-quest-icon-chapter-num-10-on-offset-y: -1275px;
$icon-quest-icon-chapter-num-10-on-width: 100px;
$icon-quest-icon-chapter-num-10-on-height: 50px;
$icon-quest-icon-chapter-num-10-on-total-width: 128px;
$icon-quest-icon-chapter-num-10-on-total-height: 6407px;
$icon-quest-icon-chapter-num-10-on-image: 'icon_quest.png';
$icon-quest-icon-chapter-num-10-on: (0px, 1275px, 0px, -1275px, 100px, 50px, 128px, 6407px, 'icon_quest.png', 'icon_quest-icon_chapter_num_10_on', );
$icon-quest-icon-complet-name: 'icon_quest-icon_complet';
$icon-quest-icon-complet-x: 0px;
$icon-quest-icon-complet-y: 69px;
$icon-quest-icon-complet-offset-x: 0px;
$icon-quest-icon-complet-offset-y: -69px;
$icon-quest-icon-complet-width: 22px;
$icon-quest-icon-complet-height: 20px;
$icon-quest-icon-complet-total-width: 128px;
$icon-quest-icon-complet-total-height: 6407px;
$icon-quest-icon-complet-image: 'icon_quest.png';
$icon-quest-icon-complet: (0px, 69px, 0px, -69px, 22px, 20px, 128px, 6407px, 'icon_quest.png', 'icon_quest-icon_complet', );
$icon-quest-icon-complet-blank-name: 'icon_quest-icon_complet_blank';
$icon-quest-icon-complet-blank-x: 0px;
$icon-quest-icon-complet-blank-y: 89px;
$icon-quest-icon-complet-blank-offset-x: 0px;
$icon-quest-icon-complet-blank-offset-y: -89px;
$icon-quest-icon-complet-blank-width: 22px;
$icon-quest-icon-complet-blank-height: 20px;
$icon-quest-icon-complet-blank-total-width: 128px;
$icon-quest-icon-complet-blank-total-height: 6407px;
$icon-quest-icon-complet-blank-image: 'icon_quest.png';
$icon-quest-icon-complet-blank: (0px, 89px, 0px, -89px, 22px, 20px, 128px, 6407px, 'icon_quest.png', 'icon_quest-icon_complet_blank', );
$icon-quest-icon-map-back-board-name: 'icon_quest-icon_map_back_board';
$icon-quest-icon-map-back-board-x: 0px;
$icon-quest-icon-map-back-board-y: 2879px;
$icon-quest-icon-map-back-board-offset-x: 0px;
$icon-quest-icon-map-back-board-offset-y: -2879px;
$icon-quest-icon-map-back-board-width: 74px;
$icon-quest-icon-map-back-board-height: 66px;
$icon-quest-icon-map-back-board-total-width: 128px;
$icon-quest-icon-map-back-board-total-height: 6407px;
$icon-quest-icon-map-back-board-image: 'icon_quest.png';
$icon-quest-icon-map-back-board: (0px, 2879px, 0px, -2879px, 74px, 66px, 128px, 6407px, 'icon_quest.png', 'icon_quest-icon_map_back_board', );
$icon-quest-icon-map-back-board-off-name: 'icon_quest-icon_map_back_board_off';
$icon-quest-icon-map-back-board-off-x: 0px;
$icon-quest-icon-map-back-board-off-y: 2945px;
$icon-quest-icon-map-back-board-off-offset-x: 0px;
$icon-quest-icon-map-back-board-off-offset-y: -2945px;
$icon-quest-icon-map-back-board-off-width: 74px;
$icon-quest-icon-map-back-board-off-height: 66px;
$icon-quest-icon-map-back-board-off-total-width: 128px;
$icon-quest-icon-map-back-board-off-total-height: 6407px;
$icon-quest-icon-map-back-board-off-image: 'icon_quest.png';
$icon-quest-icon-map-back-board-off: (0px, 2945px, 0px, -2945px, 74px, 66px, 128px, 6407px, 'icon_quest.png', 'icon_quest-icon_map_back_board_off', );
$icon-quest-icon-map-back-board-on-name: 'icon_quest-icon_map_back_board_on';
$icon-quest-icon-map-back-board-on-x: 0px;
$icon-quest-icon-map-back-board-on-y: 3011px;
$icon-quest-icon-map-back-board-on-offset-x: 0px;
$icon-quest-icon-map-back-board-on-offset-y: -3011px;
$icon-quest-icon-map-back-board-on-width: 74px;
$icon-quest-icon-map-back-board-on-height: 66px;
$icon-quest-icon-map-back-board-on-total-width: 128px;
$icon-quest-icon-map-back-board-on-total-height: 6407px;
$icon-quest-icon-map-back-board-on-image: 'icon_quest.png';
$icon-quest-icon-map-back-board-on: (0px, 3011px, 0px, -3011px, 74px, 66px, 128px, 6407px, 'icon_quest.png', 'icon_quest-icon_map_back_board_on', );
$icon-quest-icon-map-boss-01-name: 'icon_quest-icon_map_boss_01';
$icon-quest-icon-map-boss-01-x: 0px;
$icon-quest-icon-map-boss-01-y: 5163px;
$icon-quest-icon-map-boss-01-offset-x: 0px;
$icon-quest-icon-map-boss-01-offset-y: -5163px;
$icon-quest-icon-map-boss-01-width: 84px;
$icon-quest-icon-map-boss-01-height: 92px;
$icon-quest-icon-map-boss-01-total-width: 128px;
$icon-quest-icon-map-boss-01-total-height: 6407px;
$icon-quest-icon-map-boss-01-image: 'icon_quest.png';
$icon-quest-icon-map-boss-01: (0px, 5163px, 0px, -5163px, 84px, 92px, 128px, 6407px, 'icon_quest.png', 'icon_quest-icon_map_boss_01', );
$icon-quest-icon-map-boss-01-off-name: 'icon_quest-icon_map_boss_01_off';
$icon-quest-icon-map-boss-01-off-x: 0px;
$icon-quest-icon-map-boss-01-off-y: 5531px;
$icon-quest-icon-map-boss-01-off-offset-x: 0px;
$icon-quest-icon-map-boss-01-off-offset-y: -5531px;
$icon-quest-icon-map-boss-01-off-width: 84px;
$icon-quest-icon-map-boss-01-off-height: 92px;
$icon-quest-icon-map-boss-01-off-total-width: 128px;
$icon-quest-icon-map-boss-01-off-total-height: 6407px;
$icon-quest-icon-map-boss-01-off-image: 'icon_quest.png';
$icon-quest-icon-map-boss-01-off: (0px, 5531px, 0px, -5531px, 84px, 92px, 128px, 6407px, 'icon_quest.png', 'icon_quest-icon_map_boss_01_off', );
$icon-quest-icon-map-boss-01-on-name: 'icon_quest-icon_map_boss_01_on';
$icon-quest-icon-map-boss-01-on-x: 0px;
$icon-quest-icon-map-boss-01-on-y: 4335px;
$icon-quest-icon-map-boss-01-on-offset-x: 0px;
$icon-quest-icon-map-boss-01-on-offset-y: -4335px;
$icon-quest-icon-map-boss-01-on-width: 84px;
$icon-quest-icon-map-boss-01-on-height: 92px;
$icon-quest-icon-map-boss-01-on-total-width: 128px;
$icon-quest-icon-map-boss-01-on-total-height: 6407px;
$icon-quest-icon-map-boss-01-on-image: 'icon_quest.png';
$icon-quest-icon-map-boss-01-on: (0px, 4335px, 0px, -4335px, 84px, 92px, 128px, 6407px, 'icon_quest.png', 'icon_quest-icon_map_boss_01_on', );
$icon-quest-icon-map-boss-02-name: 'icon_quest-icon_map_boss_02';
$icon-quest-icon-map-boss-02-x: 0px;
$icon-quest-icon-map-boss-02-y: 4703px;
$icon-quest-icon-map-boss-02-offset-x: 0px;
$icon-quest-icon-map-boss-02-offset-y: -4703px;
$icon-quest-icon-map-boss-02-width: 84px;
$icon-quest-icon-map-boss-02-height: 92px;
$icon-quest-icon-map-boss-02-total-width: 128px;
$icon-quest-icon-map-boss-02-total-height: 6407px;
$icon-quest-icon-map-boss-02-image: 'icon_quest.png';
$icon-quest-icon-map-boss-02: (0px, 4703px, 0px, -4703px, 84px, 92px, 128px, 6407px, 'icon_quest.png', 'icon_quest-icon_map_boss_02', );
$icon-quest-icon-map-boss-02-off-name: 'icon_quest-icon_map_boss_02_off';
$icon-quest-icon-map-boss-02-off-x: 0px;
$icon-quest-icon-map-boss-02-off-y: 4795px;
$icon-quest-icon-map-boss-02-off-offset-x: 0px;
$icon-quest-icon-map-boss-02-off-offset-y: -4795px;
$icon-quest-icon-map-boss-02-off-width: 84px;
$icon-quest-icon-map-boss-02-off-height: 92px;
$icon-quest-icon-map-boss-02-off-total-width: 128px;
$icon-quest-icon-map-boss-02-off-total-height: 6407px;
$icon-quest-icon-map-boss-02-off-image: 'icon_quest.png';
$icon-quest-icon-map-boss-02-off: (0px, 4795px, 0px, -4795px, 84px, 92px, 128px, 6407px, 'icon_quest.png', 'icon_quest-icon_map_boss_02_off', );
$icon-quest-icon-map-boss-02-on-name: 'icon_quest-icon_map_boss_02_on';
$icon-quest-icon-map-boss-02-on-x: 0px;
$icon-quest-icon-map-boss-02-on-y: 4887px;
$icon-quest-icon-map-boss-02-on-offset-x: 0px;
$icon-quest-icon-map-boss-02-on-offset-y: -4887px;
$icon-quest-icon-map-boss-02-on-width: 84px;
$icon-quest-icon-map-boss-02-on-height: 92px;
$icon-quest-icon-map-boss-02-on-total-width: 128px;
$icon-quest-icon-map-boss-02-on-total-height: 6407px;
$icon-quest-icon-map-boss-02-on-image: 'icon_quest.png';
$icon-quest-icon-map-boss-02-on: (0px, 4887px, 0px, -4887px, 84px, 92px, 128px, 6407px, 'icon_quest.png', 'icon_quest-icon_map_boss_02_on', );
$icon-quest-icon-map-boss-03-name: 'icon_quest-icon_map_boss_03';
$icon-quest-icon-map-boss-03-x: 0px;
$icon-quest-icon-map-boss-03-y: 4151px;
$icon-quest-icon-map-boss-03-offset-x: 0px;
$icon-quest-icon-map-boss-03-offset-y: -4151px;
$icon-quest-icon-map-boss-03-width: 84px;
$icon-quest-icon-map-boss-03-height: 92px;
$icon-quest-icon-map-boss-03-total-width: 128px;
$icon-quest-icon-map-boss-03-total-height: 6407px;
$icon-quest-icon-map-boss-03-image: 'icon_quest.png';
$icon-quest-icon-map-boss-03: (0px, 4151px, 0px, -4151px, 84px, 92px, 128px, 6407px, 'icon_quest.png', 'icon_quest-icon_map_boss_03', );
$icon-quest-icon-map-boss-03-off-name: 'icon_quest-icon_map_boss_03_off';
$icon-quest-icon-map-boss-03-off-x: 0px;
$icon-quest-icon-map-boss-03-off-y: 4611px;
$icon-quest-icon-map-boss-03-off-offset-x: 0px;
$icon-quest-icon-map-boss-03-off-offset-y: -4611px;
$icon-quest-icon-map-boss-03-off-width: 84px;
$icon-quest-icon-map-boss-03-off-height: 92px;
$icon-quest-icon-map-boss-03-off-total-width: 128px;
$icon-quest-icon-map-boss-03-off-total-height: 6407px;
$icon-quest-icon-map-boss-03-off-image: 'icon_quest.png';
$icon-quest-icon-map-boss-03-off: (0px, 4611px, 0px, -4611px, 84px, 92px, 128px, 6407px, 'icon_quest.png', 'icon_quest-icon_map_boss_03_off', );
$icon-quest-icon-map-boss-03-on-name: 'icon_quest-icon_map_boss_03_on';
$icon-quest-icon-map-boss-03-on-x: 0px;
$icon-quest-icon-map-boss-03-on-y: 4519px;
$icon-quest-icon-map-boss-03-on-offset-x: 0px;
$icon-quest-icon-map-boss-03-on-offset-y: -4519px;
$icon-quest-icon-map-boss-03-on-width: 84px;
$icon-quest-icon-map-boss-03-on-height: 92px;
$icon-quest-icon-map-boss-03-on-total-width: 128px;
$icon-quest-icon-map-boss-03-on-total-height: 6407px;
$icon-quest-icon-map-boss-03-on-image: 'icon_quest.png';
$icon-quest-icon-map-boss-03-on: (0px, 4519px, 0px, -4519px, 84px, 92px, 128px, 6407px, 'icon_quest.png', 'icon_quest-icon_map_boss_03_on', );
$icon-quest-icon-map-gate-name: 'icon_quest-icon_map_gate';
$icon-quest-icon-map-gate-x: 0px;
$icon-quest-icon-map-gate-y: 3143px;
$icon-quest-icon-map-gate-offset-x: 0px;
$icon-quest-icon-map-gate-offset-y: -3143px;
$icon-quest-icon-map-gate-width: 74px;
$icon-quest-icon-map-gate-height: 66px;
$icon-quest-icon-map-gate-total-width: 128px;
$icon-quest-icon-map-gate-total-height: 6407px;
$icon-quest-icon-map-gate-image: 'icon_quest.png';
$icon-quest-icon-map-gate: (0px, 3143px, 0px, -3143px, 74px, 66px, 128px, 6407px, 'icon_quest.png', 'icon_quest-icon_map_gate', );
$icon-quest-icon-map-gate-keeper-01-name: 'icon_quest-icon_map_gate_keeper_01';
$icon-quest-icon-map-gate-keeper-01-x: 0px;
$icon-quest-icon-map-gate-keeper-01-y: 4427px;
$icon-quest-icon-map-gate-keeper-01-offset-x: 0px;
$icon-quest-icon-map-gate-keeper-01-offset-y: -4427px;
$icon-quest-icon-map-gate-keeper-01-width: 84px;
$icon-quest-icon-map-gate-keeper-01-height: 92px;
$icon-quest-icon-map-gate-keeper-01-total-width: 128px;
$icon-quest-icon-map-gate-keeper-01-total-height: 6407px;
$icon-quest-icon-map-gate-keeper-01-image: 'icon_quest.png';
$icon-quest-icon-map-gate-keeper-01: (0px, 4427px, 0px, -4427px, 84px, 92px, 128px, 6407px, 'icon_quest.png', 'icon_quest-icon_map_gate_keeper_01', );
$icon-quest-icon-map-gate-keeper-01-off-name: 'icon_quest-icon_map_gate_keeper_01_off';
$icon-quest-icon-map-gate-keeper-01-off-x: 0px;
$icon-quest-icon-map-gate-keeper-01-off-y: 4243px;
$icon-quest-icon-map-gate-keeper-01-off-offset-x: 0px;
$icon-quest-icon-map-gate-keeper-01-off-offset-y: -4243px;
$icon-quest-icon-map-gate-keeper-01-off-width: 84px;
$icon-quest-icon-map-gate-keeper-01-off-height: 92px;
$icon-quest-icon-map-gate-keeper-01-off-total-width: 128px;
$icon-quest-icon-map-gate-keeper-01-off-total-height: 6407px;
$icon-quest-icon-map-gate-keeper-01-off-image: 'icon_quest.png';
$icon-quest-icon-map-gate-keeper-01-off: (0px, 4243px, 0px, -4243px, 84px, 92px, 128px, 6407px, 'icon_quest.png', 'icon_quest-icon_map_gate_keeper_01_off', );
$icon-quest-icon-map-gate-keeper-01-on-name: 'icon_quest-icon_map_gate_keeper_01_on';
$icon-quest-icon-map-gate-keeper-01-on-x: 0px;
$icon-quest-icon-map-gate-keeper-01-on-y: 5715px;
$icon-quest-icon-map-gate-keeper-01-on-offset-x: 0px;
$icon-quest-icon-map-gate-keeper-01-on-offset-y: -5715px;
$icon-quest-icon-map-gate-keeper-01-on-width: 84px;
$icon-quest-icon-map-gate-keeper-01-on-height: 92px;
$icon-quest-icon-map-gate-keeper-01-on-total-width: 128px;
$icon-quest-icon-map-gate-keeper-01-on-total-height: 6407px;
$icon-quest-icon-map-gate-keeper-01-on-image: 'icon_quest.png';
$icon-quest-icon-map-gate-keeper-01-on: (0px, 5715px, 0px, -5715px, 84px, 92px, 128px, 6407px, 'icon_quest.png', 'icon_quest-icon_map_gate_keeper_01_on', );
$icon-quest-icon-map-gate-keeper-02-name: 'icon_quest-icon_map_gate_keeper_02';
$icon-quest-icon-map-gate-keeper-02-x: 0px;
$icon-quest-icon-map-gate-keeper-02-y: 5623px;
$icon-quest-icon-map-gate-keeper-02-offset-x: 0px;
$icon-quest-icon-map-gate-keeper-02-offset-y: -5623px;
$icon-quest-icon-map-gate-keeper-02-width: 84px;
$icon-quest-icon-map-gate-keeper-02-height: 92px;
$icon-quest-icon-map-gate-keeper-02-total-width: 128px;
$icon-quest-icon-map-gate-keeper-02-total-height: 6407px;
$icon-quest-icon-map-gate-keeper-02-image: 'icon_quest.png';
$icon-quest-icon-map-gate-keeper-02: (0px, 5623px, 0px, -5623px, 84px, 92px, 128px, 6407px, 'icon_quest.png', 'icon_quest-icon_map_gate_keeper_02', );
$icon-quest-icon-map-gate-keeper-02-off-name: 'icon_quest-icon_map_gate_keeper_02_off';
$icon-quest-icon-map-gate-keeper-02-off-x: 0px;
$icon-quest-icon-map-gate-keeper-02-off-y: 4979px;
$icon-quest-icon-map-gate-keeper-02-off-offset-x: 0px;
$icon-quest-icon-map-gate-keeper-02-off-offset-y: -4979px;
$icon-quest-icon-map-gate-keeper-02-off-width: 84px;
$icon-quest-icon-map-gate-keeper-02-off-height: 92px;
$icon-quest-icon-map-gate-keeper-02-off-total-width: 128px;
$icon-quest-icon-map-gate-keeper-02-off-total-height: 6407px;
$icon-quest-icon-map-gate-keeper-02-off-image: 'icon_quest.png';
$icon-quest-icon-map-gate-keeper-02-off: (0px, 4979px, 0px, -4979px, 84px, 92px, 128px, 6407px, 'icon_quest.png', 'icon_quest-icon_map_gate_keeper_02_off', );
$icon-quest-icon-map-gate-keeper-02-on-name: 'icon_quest-icon_map_gate_keeper_02_on';
$icon-quest-icon-map-gate-keeper-02-on-x: 0px;
$icon-quest-icon-map-gate-keeper-02-on-y: 5439px;
$icon-quest-icon-map-gate-keeper-02-on-offset-x: 0px;
$icon-quest-icon-map-gate-keeper-02-on-offset-y: -5439px;
$icon-quest-icon-map-gate-keeper-02-on-width: 84px;
$icon-quest-icon-map-gate-keeper-02-on-height: 92px;
$icon-quest-icon-map-gate-keeper-02-on-total-width: 128px;
$icon-quest-icon-map-gate-keeper-02-on-total-height: 6407px;
$icon-quest-icon-map-gate-keeper-02-on-image: 'icon_quest.png';
$icon-quest-icon-map-gate-keeper-02-on: (0px, 5439px, 0px, -5439px, 84px, 92px, 128px, 6407px, 'icon_quest.png', 'icon_quest-icon_map_gate_keeper_02_on', );
$icon-quest-icon-map-gate-keeper-03-name: 'icon_quest-icon_map_gate_keeper_03';
$icon-quest-icon-map-gate-keeper-03-x: 0px;
$icon-quest-icon-map-gate-keeper-03-y: 5347px;
$icon-quest-icon-map-gate-keeper-03-offset-x: 0px;
$icon-quest-icon-map-gate-keeper-03-offset-y: -5347px;
$icon-quest-icon-map-gate-keeper-03-width: 84px;
$icon-quest-icon-map-gate-keeper-03-height: 92px;
$icon-quest-icon-map-gate-keeper-03-total-width: 128px;
$icon-quest-icon-map-gate-keeper-03-total-height: 6407px;
$icon-quest-icon-map-gate-keeper-03-image: 'icon_quest.png';
$icon-quest-icon-map-gate-keeper-03: (0px, 5347px, 0px, -5347px, 84px, 92px, 128px, 6407px, 'icon_quest.png', 'icon_quest-icon_map_gate_keeper_03', );
$icon-quest-icon-map-gate-keeper-03-off-name: 'icon_quest-icon_map_gate_keeper_03_off';
$icon-quest-icon-map-gate-keeper-03-off-x: 0px;
$icon-quest-icon-map-gate-keeper-03-off-y: 5255px;
$icon-quest-icon-map-gate-keeper-03-off-offset-x: 0px;
$icon-quest-icon-map-gate-keeper-03-off-offset-y: -5255px;
$icon-quest-icon-map-gate-keeper-03-off-width: 84px;
$icon-quest-icon-map-gate-keeper-03-off-height: 92px;
$icon-quest-icon-map-gate-keeper-03-off-total-width: 128px;
$icon-quest-icon-map-gate-keeper-03-off-total-height: 6407px;
$icon-quest-icon-map-gate-keeper-03-off-image: 'icon_quest.png';
$icon-quest-icon-map-gate-keeper-03-off: (0px, 5255px, 0px, -5255px, 84px, 92px, 128px, 6407px, 'icon_quest.png', 'icon_quest-icon_map_gate_keeper_03_off', );
$icon-quest-icon-map-gate-keeper-03-on-name: 'icon_quest-icon_map_gate_keeper_03_on';
$icon-quest-icon-map-gate-keeper-03-on-x: 0px;
$icon-quest-icon-map-gate-keeper-03-on-y: 5071px;
$icon-quest-icon-map-gate-keeper-03-on-offset-x: 0px;
$icon-quest-icon-map-gate-keeper-03-on-offset-y: -5071px;
$icon-quest-icon-map-gate-keeper-03-on-width: 84px;
$icon-quest-icon-map-gate-keeper-03-on-height: 92px;
$icon-quest-icon-map-gate-keeper-03-on-total-width: 128px;
$icon-quest-icon-map-gate-keeper-03-on-total-height: 6407px;
$icon-quest-icon-map-gate-keeper-03-on-image: 'icon_quest.png';
$icon-quest-icon-map-gate-keeper-03-on: (0px, 5071px, 0px, -5071px, 84px, 92px, 128px, 6407px, 'icon_quest.png', 'icon_quest-icon_map_gate_keeper_03_on', );
$icon-quest-icon-map-gate-l-name: 'icon_quest-icon_map_gate_l';
$icon-quest-icon-map-gate-l-x: 0px;
$icon-quest-icon-map-gate-l-y: 5807px;
$icon-quest-icon-map-gate-l-offset-x: 0px;
$icon-quest-icon-map-gate-l-offset-y: -5807px;
$icon-quest-icon-map-gate-l-width: 128px;
$icon-quest-icon-map-gate-l-height: 100px;
$icon-quest-icon-map-gate-l-total-width: 128px;
$icon-quest-icon-map-gate-l-total-height: 6407px;
$icon-quest-icon-map-gate-l-image: 'icon_quest.png';
$icon-quest-icon-map-gate-l: (0px, 5807px, 0px, -5807px, 128px, 100px, 128px, 6407px, 'icon_quest.png', 'icon_quest-icon_map_gate_l', );
$icon-quest-icon-map-gate-off-name: 'icon_quest-icon_map_gate_off';
$icon-quest-icon-map-gate-off-x: 0px;
$icon-quest-icon-map-gate-off-y: 3407px;
$icon-quest-icon-map-gate-off-offset-x: 0px;
$icon-quest-icon-map-gate-off-offset-y: -3407px;
$icon-quest-icon-map-gate-off-width: 74px;
$icon-quest-icon-map-gate-off-height: 66px;
$icon-quest-icon-map-gate-off-total-width: 128px;
$icon-quest-icon-map-gate-off-total-height: 6407px;
$icon-quest-icon-map-gate-off-image: 'icon_quest.png';
$icon-quest-icon-map-gate-off: (0px, 3407px, 0px, -3407px, 74px, 66px, 128px, 6407px, 'icon_quest.png', 'icon_quest-icon_map_gate_off', );
$icon-quest-icon-map-gate-on-name: 'icon_quest-icon_map_gate_on';
$icon-quest-icon-map-gate-on-x: 0px;
$icon-quest-icon-map-gate-on-y: 3473px;
$icon-quest-icon-map-gate-on-offset-x: 0px;
$icon-quest-icon-map-gate-on-offset-y: -3473px;
$icon-quest-icon-map-gate-on-width: 74px;
$icon-quest-icon-map-gate-on-height: 66px;
$icon-quest-icon-map-gate-on-total-width: 128px;
$icon-quest-icon-map-gate-on-total-height: 6407px;
$icon-quest-icon-map-gate-on-image: 'icon_quest.png';
$icon-quest-icon-map-gate-on: (0px, 3473px, 0px, -3473px, 74px, 66px, 128px, 6407px, 'icon_quest.png', 'icon_quest-icon_map_gate_on', );
$icon-quest-icon-map-lock-name: 'icon_quest-icon_map_lock';
$icon-quest-icon-map-lock-x: 0px;
$icon-quest-icon-map-lock-y: 2495px;
$icon-quest-icon-map-lock-offset-x: 0px;
$icon-quest-icon-map-lock-offset-y: -2495px;
$icon-quest-icon-map-lock-width: 60px;
$icon-quest-icon-map-lock-height: 64px;
$icon-quest-icon-map-lock-total-width: 128px;
$icon-quest-icon-map-lock-total-height: 6407px;
$icon-quest-icon-map-lock-image: 'icon_quest.png';
$icon-quest-icon-map-lock: (0px, 2495px, 0px, -2495px, 60px, 64px, 128px, 6407px, 'icon_quest.png', 'icon_quest-icon_map_lock', );
$icon-quest-icon-map-lock-off-name: 'icon_quest-icon_map_lock_off';
$icon-quest-icon-map-lock-off-x: 0px;
$icon-quest-icon-map-lock-off-y: 2559px;
$icon-quest-icon-map-lock-off-offset-x: 0px;
$icon-quest-icon-map-lock-off-offset-y: -2559px;
$icon-quest-icon-map-lock-off-width: 60px;
$icon-quest-icon-map-lock-off-height: 64px;
$icon-quest-icon-map-lock-off-total-width: 128px;
$icon-quest-icon-map-lock-off-total-height: 6407px;
$icon-quest-icon-map-lock-off-image: 'icon_quest.png';
$icon-quest-icon-map-lock-off: (0px, 2559px, 0px, -2559px, 60px, 64px, 128px, 6407px, 'icon_quest.png', 'icon_quest-icon_map_lock_off', );
$icon-quest-icon-map-lock-on-name: 'icon_quest-icon_map_lock_on';
$icon-quest-icon-map-lock-on-x: 0px;
$icon-quest-icon-map-lock-on-y: 2623px;
$icon-quest-icon-map-lock-on-offset-x: 0px;
$icon-quest-icon-map-lock-on-offset-y: -2623px;
$icon-quest-icon-map-lock-on-width: 60px;
$icon-quest-icon-map-lock-on-height: 64px;
$icon-quest-icon-map-lock-on-total-width: 128px;
$icon-quest-icon-map-lock-on-total-height: 6407px;
$icon-quest-icon-map-lock-on-image: 'icon_quest.png';
$icon-quest-icon-map-lock-on: (0px, 2623px, 0px, -2623px, 60px, 64px, 128px, 6407px, 'icon_quest.png', 'icon_quest-icon_map_lock_on', );
$icon-quest-icon-map-new-m-name: 'icon_quest-icon_map_new_m';
$icon-quest-icon-map-new-m-x: 0px;
$icon-quest-icon-map-new-m-y: 109px;
$icon-quest-icon-map-new-m-offset-x: 0px;
$icon-quest-icon-map-new-m-offset-y: -109px;
$icon-quest-icon-map-new-m-width: 74px;
$icon-quest-icon-map-new-m-height: 34px;
$icon-quest-icon-map-new-m-total-width: 128px;
$icon-quest-icon-map-new-m-total-height: 6407px;
$icon-quest-icon-map-new-m-image: 'icon_quest.png';
$icon-quest-icon-map-new-m: (0px, 109px, 0px, -109px, 74px, 34px, 128px, 6407px, 'icon_quest.png', 'icon_quest-icon_map_new_m', );
$icon-quest-icon-map-new-s-name: 'icon_quest-icon_map_new_s';
$icon-quest-icon-map-new-s-x: 0px;
$icon-quest-icon-map-new-s-y: 51px;
$icon-quest-icon-map-new-s-offset-x: 0px;
$icon-quest-icon-map-new-s-offset-y: -51px;
$icon-quest-icon-map-new-s-width: 44px;
$icon-quest-icon-map-new-s-height: 18px;
$icon-quest-icon-map-new-s-total-width: 128px;
$icon-quest-icon-map-new-s-total-height: 6407px;
$icon-quest-icon-map-new-s-image: 'icon_quest.png';
$icon-quest-icon-map-new-s: (0px, 51px, 0px, -51px, 44px, 18px, 128px, 6407px, 'icon_quest.png', 'icon_quest-icon_map_new_s', );
$icon-quest-icon-map-next-board-name: 'icon_quest-icon_map_next_board';
$icon-quest-icon-map-next-board-x: 0px;
$icon-quest-icon-map-next-board-y: 3209px;
$icon-quest-icon-map-next-board-offset-x: 0px;
$icon-quest-icon-map-next-board-offset-y: -3209px;
$icon-quest-icon-map-next-board-width: 74px;
$icon-quest-icon-map-next-board-height: 66px;
$icon-quest-icon-map-next-board-total-width: 128px;
$icon-quest-icon-map-next-board-total-height: 6407px;
$icon-quest-icon-map-next-board-image: 'icon_quest.png';
$icon-quest-icon-map-next-board: (0px, 3209px, 0px, -3209px, 74px, 66px, 128px, 6407px, 'icon_quest.png', 'icon_quest-icon_map_next_board', );
$icon-quest-icon-map-next-board-off-name: 'icon_quest-icon_map_next_board_off';
$icon-quest-icon-map-next-board-off-x: 0px;
$icon-quest-icon-map-next-board-off-y: 3275px;
$icon-quest-icon-map-next-board-off-offset-x: 0px;
$icon-quest-icon-map-next-board-off-offset-y: -3275px;
$icon-quest-icon-map-next-board-off-width: 74px;
$icon-quest-icon-map-next-board-off-height: 66px;
$icon-quest-icon-map-next-board-off-total-width: 128px;
$icon-quest-icon-map-next-board-off-total-height: 6407px;
$icon-quest-icon-map-next-board-off-image: 'icon_quest.png';
$icon-quest-icon-map-next-board-off: (0px, 3275px, 0px, -3275px, 74px, 66px, 128px, 6407px, 'icon_quest.png', 'icon_quest-icon_map_next_board_off', );
$icon-quest-icon-map-next-board-on-name: 'icon_quest-icon_map_next_board_on';
$icon-quest-icon-map-next-board-on-x: 0px;
$icon-quest-icon-map-next-board-on-y: 3341px;
$icon-quest-icon-map-next-board-on-offset-x: 0px;
$icon-quest-icon-map-next-board-on-offset-y: -3341px;
$icon-quest-icon-map-next-board-on-width: 74px;
$icon-quest-icon-map-next-board-on-height: 66px;
$icon-quest-icon-map-next-board-on-total-width: 128px;
$icon-quest-icon-map-next-board-on-total-height: 6407px;
$icon-quest-icon-map-next-board-on-image: 'icon_quest.png';
$icon-quest-icon-map-next-board-on: (0px, 3341px, 0px, -3341px, 74px, 66px, 128px, 6407px, 'icon_quest.png', 'icon_quest-icon_map_next_board_on', );
$icon-quest-icon-map-random-name: 'icon_quest-icon_map_random';
$icon-quest-icon-map-random-x: 0px;
$icon-quest-icon-map-random-y: 2135px;
$icon-quest-icon-map-random-offset-x: 0px;
$icon-quest-icon-map-random-offset-y: -2135px;
$icon-quest-icon-map-random-width: 54px;
$icon-quest-icon-map-random-height: 60px;
$icon-quest-icon-map-random-total-width: 128px;
$icon-quest-icon-map-random-total-height: 6407px;
$icon-quest-icon-map-random-image: 'icon_quest.png';
$icon-quest-icon-map-random: (0px, 2135px, 0px, -2135px, 54px, 60px, 128px, 6407px, 'icon_quest.png', 'icon_quest-icon_map_random', );
$icon-quest-icon-map-random-l-name: 'icon_quest-icon_map_random_l';
$icon-quest-icon-map-random-l-x: 0px;
$icon-quest-icon-map-random-l-y: 6307px;
$icon-quest-icon-map-random-l-offset-x: 0px;
$icon-quest-icon-map-random-l-offset-y: -6307px;
$icon-quest-icon-map-random-l-width: 128px;
$icon-quest-icon-map-random-l-height: 100px;
$icon-quest-icon-map-random-l-total-width: 128px;
$icon-quest-icon-map-random-l-total-height: 6407px;
$icon-quest-icon-map-random-l-image: 'icon_quest.png';
$icon-quest-icon-map-random-l: (0px, 6307px, 0px, -6307px, 128px, 100px, 128px, 6407px, 'icon_quest.png', 'icon_quest-icon_map_random_l', );
$icon-quest-icon-map-random-off-name: 'icon_quest-icon_map_random_off';
$icon-quest-icon-map-random-off-x: 0px;
$icon-quest-icon-map-random-off-y: 2435px;
$icon-quest-icon-map-random-off-offset-x: 0px;
$icon-quest-icon-map-random-off-offset-y: -2435px;
$icon-quest-icon-map-random-off-width: 54px;
$icon-quest-icon-map-random-off-height: 60px;
$icon-quest-icon-map-random-off-total-width: 128px;
$icon-quest-icon-map-random-off-total-height: 6407px;
$icon-quest-icon-map-random-off-image: 'icon_quest.png';
$icon-quest-icon-map-random-off: (0px, 2435px, 0px, -2435px, 54px, 60px, 128px, 6407px, 'icon_quest.png', 'icon_quest-icon_map_random_off', );
$icon-quest-icon-map-random-on-name: 'icon_quest-icon_map_random_on';
$icon-quest-icon-map-random-on-x: 0px;
$icon-quest-icon-map-random-on-y: 2375px;
$icon-quest-icon-map-random-on-offset-x: 0px;
$icon-quest-icon-map-random-on-offset-y: -2375px;
$icon-quest-icon-map-random-on-width: 54px;
$icon-quest-icon-map-random-on-height: 60px;
$icon-quest-icon-map-random-on-total-width: 128px;
$icon-quest-icon-map-random-on-total-height: 6407px;
$icon-quest-icon-map-random-on-image: 'icon_quest.png';
$icon-quest-icon-map-random-on: (0px, 2375px, 0px, -2375px, 54px, 60px, 128px, 6407px, 'icon_quest.png', 'icon_quest-icon_map_random_on', );
$icon-quest-icon-map-random-open-name: 'icon_quest-icon_map_random_open';
$icon-quest-icon-map-random-open-x: 0px;
$icon-quest-icon-map-random-open-y: 1775px;
$icon-quest-icon-map-random-open-offset-x: 0px;
$icon-quest-icon-map-random-open-offset-y: -1775px;
$icon-quest-icon-map-random-open-width: 60px;
$icon-quest-icon-map-random-open-height: 60px;
$icon-quest-icon-map-random-open-total-width: 128px;
$icon-quest-icon-map-random-open-total-height: 6407px;
$icon-quest-icon-map-random-open-image: 'icon_quest.png';
$icon-quest-icon-map-random-open: (0px, 1775px, 0px, -1775px, 60px, 60px, 128px, 6407px, 'icon_quest.png', 'icon_quest-icon_map_random_open', );
$icon-quest-icon-map-random-open-l-name: 'icon_quest-icon_map_random_open_l';
$icon-quest-icon-map-random-open-l-x: 0px;
$icon-quest-icon-map-random-open-l-y: 6207px;
$icon-quest-icon-map-random-open-l-offset-x: 0px;
$icon-quest-icon-map-random-open-l-offset-y: -6207px;
$icon-quest-icon-map-random-open-l-width: 128px;
$icon-quest-icon-map-random-open-l-height: 100px;
$icon-quest-icon-map-random-open-l-total-width: 128px;
$icon-quest-icon-map-random-open-l-total-height: 6407px;
$icon-quest-icon-map-random-open-l-image: 'icon_quest.png';
$icon-quest-icon-map-random-open-l: (0px, 6207px, 0px, -6207px, 128px, 100px, 128px, 6407px, 'icon_quest.png', 'icon_quest-icon_map_random_open_l', );
$icon-quest-icon-map-random-open-off-name: 'icon_quest-icon_map_random_open_off';
$icon-quest-icon-map-random-open-off-x: 0px;
$icon-quest-icon-map-random-open-off-y: 2255px;
$icon-quest-icon-map-random-open-off-offset-x: 0px;
$icon-quest-icon-map-random-open-off-offset-y: -2255px;
$icon-quest-icon-map-random-open-off-width: 60px;
$icon-quest-icon-map-random-open-off-height: 60px;
$icon-quest-icon-map-random-open-off-total-width: 128px;
$icon-quest-icon-map-random-open-off-total-height: 6407px;
$icon-quest-icon-map-random-open-off-image: 'icon_quest.png';
$icon-quest-icon-map-random-open-off: (0px, 2255px, 0px, -2255px, 60px, 60px, 128px, 6407px, 'icon_quest.png', 'icon_quest-icon_map_random_open_off', );
$icon-quest-icon-map-random-open-on-name: 'icon_quest-icon_map_random_open_on';
$icon-quest-icon-map-random-open-on-x: 0px;
$icon-quest-icon-map-random-open-on-y: 2195px;
$icon-quest-icon-map-random-open-on-offset-x: 0px;
$icon-quest-icon-map-random-open-on-offset-y: -2195px;
$icon-quest-icon-map-random-open-on-width: 60px;
$icon-quest-icon-map-random-open-on-height: 60px;
$icon-quest-icon-map-random-open-on-total-width: 128px;
$icon-quest-icon-map-random-open-on-total-height: 6407px;
$icon-quest-icon-map-random-open-on-image: 'icon_quest.png';
$icon-quest-icon-map-random-open-on: (0px, 2195px, 0px, -2195px, 60px, 60px, 128px, 6407px, 'icon_quest.png', 'icon_quest-icon_map_random_open_on', );
$icon-quest-icon-map-talk-name: 'icon_quest-icon_map_talk';
$icon-quest-icon-map-talk-x: 0px;
$icon-quest-icon-map-talk-y: 143px;
$icon-quest-icon-map-talk-offset-x: 0px;
$icon-quest-icon-map-talk-offset-y: -143px;
$icon-quest-icon-map-talk-width: 60px;
$icon-quest-icon-map-talk-height: 44px;
$icon-quest-icon-map-talk-total-width: 128px;
$icon-quest-icon-map-talk-total-height: 6407px;
$icon-quest-icon-map-talk-image: 'icon_quest.png';
$icon-quest-icon-map-talk: (0px, 143px, 0px, -143px, 60px, 44px, 128px, 6407px, 'icon_quest.png', 'icon_quest-icon_map_talk', );
$icon-quest-icon-map-talk-l-name: 'icon_quest-icon_map_talk_l';
$icon-quest-icon-map-talk-l-x: 0px;
$icon-quest-icon-map-talk-l-y: 6107px;
$icon-quest-icon-map-talk-l-offset-x: 0px;
$icon-quest-icon-map-talk-l-offset-y: -6107px;
$icon-quest-icon-map-talk-l-width: 128px;
$icon-quest-icon-map-talk-l-height: 100px;
$icon-quest-icon-map-talk-l-total-width: 128px;
$icon-quest-icon-map-talk-l-total-height: 6407px;
$icon-quest-icon-map-talk-l-image: 'icon_quest.png';
$icon-quest-icon-map-talk-l: (0px, 6107px, 0px, -6107px, 128px, 100px, 128px, 6407px, 'icon_quest.png', 'icon_quest-icon_map_talk_l', );
$icon-quest-icon-map-talk-off-name: 'icon_quest-icon_map_talk_off';
$icon-quest-icon-map-talk-off-x: 0px;
$icon-quest-icon-map-talk-off-y: 187px;
$icon-quest-icon-map-talk-off-offset-x: 0px;
$icon-quest-icon-map-talk-off-offset-y: -187px;
$icon-quest-icon-map-talk-off-width: 60px;
$icon-quest-icon-map-talk-off-height: 44px;
$icon-quest-icon-map-talk-off-total-width: 128px;
$icon-quest-icon-map-talk-off-total-height: 6407px;
$icon-quest-icon-map-talk-off-image: 'icon_quest.png';
$icon-quest-icon-map-talk-off: (0px, 187px, 0px, -187px, 60px, 44px, 128px, 6407px, 'icon_quest.png', 'icon_quest-icon_map_talk_off', );
$icon-quest-icon-map-talk-on-name: 'icon_quest-icon_map_talk_on';
$icon-quest-icon-map-talk-on-x: 0px;
$icon-quest-icon-map-talk-on-y: 231px;
$icon-quest-icon-map-talk-on-offset-x: 0px;
$icon-quest-icon-map-talk-on-offset-y: -231px;
$icon-quest-icon-map-talk-on-width: 60px;
$icon-quest-icon-map-talk-on-height: 44px;
$icon-quest-icon-map-talk-on-total-width: 128px;
$icon-quest-icon-map-talk-on-total-height: 6407px;
$icon-quest-icon-map-talk-on-image: 'icon_quest.png';
$icon-quest-icon-map-talk-on: (0px, 231px, 0px, -231px, 60px, 44px, 128px, 6407px, 'icon_quest.png', 'icon_quest-icon_map_talk_on', );
$icon-quest-icon-map-treasure-name: 'icon_quest-icon_map_treasure';
$icon-quest-icon-map-treasure-x: 0px;
$icon-quest-icon-map-treasure-y: 1895px;
$icon-quest-icon-map-treasure-offset-x: 0px;
$icon-quest-icon-map-treasure-offset-y: -1895px;
$icon-quest-icon-map-treasure-width: 54px;
$icon-quest-icon-map-treasure-height: 60px;
$icon-quest-icon-map-treasure-total-width: 128px;
$icon-quest-icon-map-treasure-total-height: 6407px;
$icon-quest-icon-map-treasure-image: 'icon_quest.png';
$icon-quest-icon-map-treasure: (0px, 1895px, 0px, -1895px, 54px, 60px, 128px, 6407px, 'icon_quest.png', 'icon_quest-icon_map_treasure', );
$icon-quest-icon-map-treasure-l-name: 'icon_quest-icon_map_treasure_l';
$icon-quest-icon-map-treasure-l-x: 0px;
$icon-quest-icon-map-treasure-l-y: 6007px;
$icon-quest-icon-map-treasure-l-offset-x: 0px;
$icon-quest-icon-map-treasure-l-offset-y: -6007px;
$icon-quest-icon-map-treasure-l-width: 128px;
$icon-quest-icon-map-treasure-l-height: 100px;
$icon-quest-icon-map-treasure-l-total-width: 128px;
$icon-quest-icon-map-treasure-l-total-height: 6407px;
$icon-quest-icon-map-treasure-l-image: 'icon_quest.png';
$icon-quest-icon-map-treasure-l: (0px, 6007px, 0px, -6007px, 128px, 100px, 128px, 6407px, 'icon_quest.png', 'icon_quest-icon_map_treasure_l', );
$icon-quest-icon-map-treasure-off-name: 'icon_quest-icon_map_treasure_off';
$icon-quest-icon-map-treasure-off-x: 0px;
$icon-quest-icon-map-treasure-off-y: 2315px;
$icon-quest-icon-map-treasure-off-offset-x: 0px;
$icon-quest-icon-map-treasure-off-offset-y: -2315px;
$icon-quest-icon-map-treasure-off-width: 54px;
$icon-quest-icon-map-treasure-off-height: 60px;
$icon-quest-icon-map-treasure-off-total-width: 128px;
$icon-quest-icon-map-treasure-off-total-height: 6407px;
$icon-quest-icon-map-treasure-off-image: 'icon_quest.png';
$icon-quest-icon-map-treasure-off: (0px, 2315px, 0px, -2315px, 54px, 60px, 128px, 6407px, 'icon_quest.png', 'icon_quest-icon_map_treasure_off', );
$icon-quest-icon-map-treasure-on-name: 'icon_quest-icon_map_treasure_on';
$icon-quest-icon-map-treasure-on-x: 0px;
$icon-quest-icon-map-treasure-on-y: 1835px;
$icon-quest-icon-map-treasure-on-offset-x: 0px;
$icon-quest-icon-map-treasure-on-offset-y: -1835px;
$icon-quest-icon-map-treasure-on-width: 54px;
$icon-quest-icon-map-treasure-on-height: 60px;
$icon-quest-icon-map-treasure-on-total-width: 128px;
$icon-quest-icon-map-treasure-on-total-height: 6407px;
$icon-quest-icon-map-treasure-on-image: 'icon_quest.png';
$icon-quest-icon-map-treasure-on: (0px, 1835px, 0px, -1835px, 54px, 60px, 128px, 6407px, 'icon_quest.png', 'icon_quest-icon_map_treasure_on', );
$icon-quest-icon-map-treasure-open-name: 'icon_quest-icon_map_treasure_open';
$icon-quest-icon-map-treasure-open-x: 0px;
$icon-quest-icon-map-treasure-open-y: 1955px;
$icon-quest-icon-map-treasure-open-offset-x: 0px;
$icon-quest-icon-map-treasure-open-offset-y: -1955px;
$icon-quest-icon-map-treasure-open-width: 60px;
$icon-quest-icon-map-treasure-open-height: 60px;
$icon-quest-icon-map-treasure-open-total-width: 128px;
$icon-quest-icon-map-treasure-open-total-height: 6407px;
$icon-quest-icon-map-treasure-open-image: 'icon_quest.png';
$icon-quest-icon-map-treasure-open: (0px, 1955px, 0px, -1955px, 60px, 60px, 128px, 6407px, 'icon_quest.png', 'icon_quest-icon_map_treasure_open', );
$icon-quest-icon-map-treasure-open-l-name: 'icon_quest-icon_map_treasure_open_l';
$icon-quest-icon-map-treasure-open-l-x: 0px;
$icon-quest-icon-map-treasure-open-l-y: 5907px;
$icon-quest-icon-map-treasure-open-l-offset-x: 0px;
$icon-quest-icon-map-treasure-open-l-offset-y: -5907px;
$icon-quest-icon-map-treasure-open-l-width: 128px;
$icon-quest-icon-map-treasure-open-l-height: 100px;
$icon-quest-icon-map-treasure-open-l-total-width: 128px;
$icon-quest-icon-map-treasure-open-l-total-height: 6407px;
$icon-quest-icon-map-treasure-open-l-image: 'icon_quest.png';
$icon-quest-icon-map-treasure-open-l: (0px, 5907px, 0px, -5907px, 128px, 100px, 128px, 6407px, 'icon_quest.png', 'icon_quest-icon_map_treasure_open_l', );
$icon-quest-icon-map-treasure-open-off-name: 'icon_quest-icon_map_treasure_open_off';
$icon-quest-icon-map-treasure-open-off-x: 0px;
$icon-quest-icon-map-treasure-open-off-y: 2015px;
$icon-quest-icon-map-treasure-open-off-offset-x: 0px;
$icon-quest-icon-map-treasure-open-off-offset-y: -2015px;
$icon-quest-icon-map-treasure-open-off-width: 60px;
$icon-quest-icon-map-treasure-open-off-height: 60px;
$icon-quest-icon-map-treasure-open-off-total-width: 128px;
$icon-quest-icon-map-treasure-open-off-total-height: 6407px;
$icon-quest-icon-map-treasure-open-off-image: 'icon_quest.png';
$icon-quest-icon-map-treasure-open-off: (0px, 2015px, 0px, -2015px, 60px, 60px, 128px, 6407px, 'icon_quest.png', 'icon_quest-icon_map_treasure_open_off', );
$icon-quest-icon-map-treasure-open-on-name: 'icon_quest-icon_map_treasure_open_on';
$icon-quest-icon-map-treasure-open-on-x: 0px;
$icon-quest-icon-map-treasure-open-on-y: 2075px;
$icon-quest-icon-map-treasure-open-on-offset-x: 0px;
$icon-quest-icon-map-treasure-open-on-offset-y: -2075px;
$icon-quest-icon-map-treasure-open-on-width: 60px;
$icon-quest-icon-map-treasure-open-on-height: 60px;
$icon-quest-icon-map-treasure-open-on-total-width: 128px;
$icon-quest-icon-map-treasure-open-on-total-height: 6407px;
$icon-quest-icon-map-treasure-open-on-image: 'icon_quest.png';
$icon-quest-icon-map-treasure-open-on: (0px, 2075px, 0px, -2075px, 60px, 60px, 128px, 6407px, 'icon_quest.png', 'icon_quest-icon_map_treasure_open_on', );
$icon-quest-icon-map-vs-01-name: 'icon_quest-icon_map_vs_01';
$icon-quest-icon-map-vs-01-x: 0px;
$icon-quest-icon-map-vs-01-y: 3539px;
$icon-quest-icon-map-vs-01-offset-x: 0px;
$icon-quest-icon-map-vs-01-offset-y: -3539px;
$icon-quest-icon-map-vs-01-width: 62px;
$icon-quest-icon-map-vs-01-height: 68px;
$icon-quest-icon-map-vs-01-total-width: 128px;
$icon-quest-icon-map-vs-01-total-height: 6407px;
$icon-quest-icon-map-vs-01-image: 'icon_quest.png';
$icon-quest-icon-map-vs-01: (0px, 3539px, 0px, -3539px, 62px, 68px, 128px, 6407px, 'icon_quest.png', 'icon_quest-icon_map_vs_01', );
$icon-quest-icon-map-vs-01-off-name: 'icon_quest-icon_map_vs_01_off';
$icon-quest-icon-map-vs-01-off-x: 0px;
$icon-quest-icon-map-vs-01-off-y: 3607px;
$icon-quest-icon-map-vs-01-off-offset-x: 0px;
$icon-quest-icon-map-vs-01-off-offset-y: -3607px;
$icon-quest-icon-map-vs-01-off-width: 62px;
$icon-quest-icon-map-vs-01-off-height: 68px;
$icon-quest-icon-map-vs-01-off-total-width: 128px;
$icon-quest-icon-map-vs-01-off-total-height: 6407px;
$icon-quest-icon-map-vs-01-off-image: 'icon_quest.png';
$icon-quest-icon-map-vs-01-off: (0px, 3607px, 0px, -3607px, 62px, 68px, 128px, 6407px, 'icon_quest.png', 'icon_quest-icon_map_vs_01_off', );
$icon-quest-icon-map-vs-01-on-name: 'icon_quest-icon_map_vs_01_on';
$icon-quest-icon-map-vs-01-on-x: 0px;
$icon-quest-icon-map-vs-01-on-y: 3675px;
$icon-quest-icon-map-vs-01-on-offset-x: 0px;
$icon-quest-icon-map-vs-01-on-offset-y: -3675px;
$icon-quest-icon-map-vs-01-on-width: 62px;
$icon-quest-icon-map-vs-01-on-height: 68px;
$icon-quest-icon-map-vs-01-on-total-width: 128px;
$icon-quest-icon-map-vs-01-on-total-height: 6407px;
$icon-quest-icon-map-vs-01-on-image: 'icon_quest.png';
$icon-quest-icon-map-vs-01-on: (0px, 3675px, 0px, -3675px, 62px, 68px, 128px, 6407px, 'icon_quest.png', 'icon_quest-icon_map_vs_01_on', );
$icon-quest-icon-map-vs-02-name: 'icon_quest-icon_map_vs_02';
$icon-quest-icon-map-vs-02-x: 0px;
$icon-quest-icon-map-vs-02-y: 3743px;
$icon-quest-icon-map-vs-02-offset-x: 0px;
$icon-quest-icon-map-vs-02-offset-y: -3743px;
$icon-quest-icon-map-vs-02-width: 62px;
$icon-quest-icon-map-vs-02-height: 68px;
$icon-quest-icon-map-vs-02-total-width: 128px;
$icon-quest-icon-map-vs-02-total-height: 6407px;
$icon-quest-icon-map-vs-02-image: 'icon_quest.png';
$icon-quest-icon-map-vs-02: (0px, 3743px, 0px, -3743px, 62px, 68px, 128px, 6407px, 'icon_quest.png', 'icon_quest-icon_map_vs_02', );
$icon-quest-icon-map-vs-02-off-name: 'icon_quest-icon_map_vs_02_off';
$icon-quest-icon-map-vs-02-off-x: 0px;
$icon-quest-icon-map-vs-02-off-y: 3811px;
$icon-quest-icon-map-vs-02-off-offset-x: 0px;
$icon-quest-icon-map-vs-02-off-offset-y: -3811px;
$icon-quest-icon-map-vs-02-off-width: 62px;
$icon-quest-icon-map-vs-02-off-height: 68px;
$icon-quest-icon-map-vs-02-off-total-width: 128px;
$icon-quest-icon-map-vs-02-off-total-height: 6407px;
$icon-quest-icon-map-vs-02-off-image: 'icon_quest.png';
$icon-quest-icon-map-vs-02-off: (0px, 3811px, 0px, -3811px, 62px, 68px, 128px, 6407px, 'icon_quest.png', 'icon_quest-icon_map_vs_02_off', );
$icon-quest-icon-map-vs-02-on-name: 'icon_quest-icon_map_vs_02_on';
$icon-quest-icon-map-vs-02-on-x: 0px;
$icon-quest-icon-map-vs-02-on-y: 3879px;
$icon-quest-icon-map-vs-02-on-offset-x: 0px;
$icon-quest-icon-map-vs-02-on-offset-y: -3879px;
$icon-quest-icon-map-vs-02-on-width: 62px;
$icon-quest-icon-map-vs-02-on-height: 68px;
$icon-quest-icon-map-vs-02-on-total-width: 128px;
$icon-quest-icon-map-vs-02-on-total-height: 6407px;
$icon-quest-icon-map-vs-02-on-image: 'icon_quest.png';
$icon-quest-icon-map-vs-02-on: (0px, 3879px, 0px, -3879px, 62px, 68px, 128px, 6407px, 'icon_quest.png', 'icon_quest-icon_map_vs_02_on', );
$icon-quest-icon-map-vs-03-name: 'icon_quest-icon_map_vs_03';
$icon-quest-icon-map-vs-03-x: 0px;
$icon-quest-icon-map-vs-03-y: 3947px;
$icon-quest-icon-map-vs-03-offset-x: 0px;
$icon-quest-icon-map-vs-03-offset-y: -3947px;
$icon-quest-icon-map-vs-03-width: 62px;
$icon-quest-icon-map-vs-03-height: 68px;
$icon-quest-icon-map-vs-03-total-width: 128px;
$icon-quest-icon-map-vs-03-total-height: 6407px;
$icon-quest-icon-map-vs-03-image: 'icon_quest.png';
$icon-quest-icon-map-vs-03: (0px, 3947px, 0px, -3947px, 62px, 68px, 128px, 6407px, 'icon_quest.png', 'icon_quest-icon_map_vs_03', );
$icon-quest-icon-map-vs-03-off-name: 'icon_quest-icon_map_vs_03_off';
$icon-quest-icon-map-vs-03-off-x: 0px;
$icon-quest-icon-map-vs-03-off-y: 4015px;
$icon-quest-icon-map-vs-03-off-offset-x: 0px;
$icon-quest-icon-map-vs-03-off-offset-y: -4015px;
$icon-quest-icon-map-vs-03-off-width: 62px;
$icon-quest-icon-map-vs-03-off-height: 68px;
$icon-quest-icon-map-vs-03-off-total-width: 128px;
$icon-quest-icon-map-vs-03-off-total-height: 6407px;
$icon-quest-icon-map-vs-03-off-image: 'icon_quest.png';
$icon-quest-icon-map-vs-03-off: (0px, 4015px, 0px, -4015px, 62px, 68px, 128px, 6407px, 'icon_quest.png', 'icon_quest-icon_map_vs_03_off', );
$icon-quest-icon-map-vs-03-on-name: 'icon_quest-icon_map_vs_03_on';
$icon-quest-icon-map-vs-03-on-x: 0px;
$icon-quest-icon-map-vs-03-on-y: 4083px;
$icon-quest-icon-map-vs-03-on-offset-x: 0px;
$icon-quest-icon-map-vs-03-on-offset-y: -4083px;
$icon-quest-icon-map-vs-03-on-width: 62px;
$icon-quest-icon-map-vs-03-on-height: 68px;
$icon-quest-icon-map-vs-03-on-total-width: 128px;
$icon-quest-icon-map-vs-03-on-total-height: 6407px;
$icon-quest-icon-map-vs-03-on-image: 'icon_quest.png';
$icon-quest-icon-map-vs-03-on: (0px, 4083px, 0px, -4083px, 62px, 68px, 128px, 6407px, 'icon_quest.png', 'icon_quest-icon_map_vs_03_on', );
$icon-quest-icon-map-vs-clear-name: 'icon_quest-icon_map_vs_clear';
$icon-quest-icon-map-vs-clear-x: 0px;
$icon-quest-icon-map-vs-clear-y: 2815px;
$icon-quest-icon-map-vs-clear-offset-x: 0px;
$icon-quest-icon-map-vs-clear-offset-y: -2815px;
$icon-quest-icon-map-vs-clear-width: 42px;
$icon-quest-icon-map-vs-clear-height: 64px;
$icon-quest-icon-map-vs-clear-total-width: 128px;
$icon-quest-icon-map-vs-clear-total-height: 6407px;
$icon-quest-icon-map-vs-clear-image: 'icon_quest.png';
$icon-quest-icon-map-vs-clear: (0px, 2815px, 0px, -2815px, 42px, 64px, 128px, 6407px, 'icon_quest.png', 'icon_quest-icon_map_vs_clear', );
$icon-quest-icon-map-vs-clear-off-name: 'icon_quest-icon_map_vs_clear_off';
$icon-quest-icon-map-vs-clear-off-x: 0px;
$icon-quest-icon-map-vs-clear-off-y: 2687px;
$icon-quest-icon-map-vs-clear-off-offset-x: 0px;
$icon-quest-icon-map-vs-clear-off-offset-y: -2687px;
$icon-quest-icon-map-vs-clear-off-width: 42px;
$icon-quest-icon-map-vs-clear-off-height: 64px;
$icon-quest-icon-map-vs-clear-off-total-width: 128px;
$icon-quest-icon-map-vs-clear-off-total-height: 6407px;
$icon-quest-icon-map-vs-clear-off-image: 'icon_quest.png';
$icon-quest-icon-map-vs-clear-off: (0px, 2687px, 0px, -2687px, 42px, 64px, 128px, 6407px, 'icon_quest.png', 'icon_quest-icon_map_vs_clear_off', );
$icon-quest-icon-map-vs-clear-on-name: 'icon_quest-icon_map_vs_clear_on';
$icon-quest-icon-map-vs-clear-on-x: 0px;
$icon-quest-icon-map-vs-clear-on-y: 2751px;
$icon-quest-icon-map-vs-clear-on-offset-x: 0px;
$icon-quest-icon-map-vs-clear-on-offset-y: -2751px;
$icon-quest-icon-map-vs-clear-on-width: 42px;
$icon-quest-icon-map-vs-clear-on-height: 64px;
$icon-quest-icon-map-vs-clear-on-total-width: 128px;
$icon-quest-icon-map-vs-clear-on-total-height: 6407px;
$icon-quest-icon-map-vs-clear-on-image: 'icon_quest.png';
$icon-quest-icon-map-vs-clear-on: (0px, 2751px, 0px, -2751px, 42px, 64px, 128px, 6407px, 'icon_quest.png', 'icon_quest-icon_map_vs_clear_on', );
$icon-quest-icon-map-vs-count-name: 'icon_quest-icon_map_vs_count';
$icon-quest-icon-map-vs-count-x: 0px;
$icon-quest-icon-map-vs-count-y: 34px;
$icon-quest-icon-map-vs-count-offset-x: 0px;
$icon-quest-icon-map-vs-count-offset-y: -34px;
$icon-quest-icon-map-vs-count-width: 17px;
$icon-quest-icon-map-vs-count-height: 17px;
$icon-quest-icon-map-vs-count-total-width: 128px;
$icon-quest-icon-map-vs-count-total-height: 6407px;
$icon-quest-icon-map-vs-count-image: 'icon_quest.png';
$icon-quest-icon-map-vs-count: (0px, 34px, 0px, -34px, 17px, 17px, 128px, 6407px, 'icon_quest.png', 'icon_quest-icon_map_vs_count', );
$icon-quest-icon-map-vs-count-off-name: 'icon_quest-icon_map_vs_count_off';
$icon-quest-icon-map-vs-count-off-x: 0px;
$icon-quest-icon-map-vs-count-off-y: 17px;
$icon-quest-icon-map-vs-count-off-offset-x: 0px;
$icon-quest-icon-map-vs-count-off-offset-y: -17px;
$icon-quest-icon-map-vs-count-off-width: 17px;
$icon-quest-icon-map-vs-count-off-height: 17px;
$icon-quest-icon-map-vs-count-off-total-width: 128px;
$icon-quest-icon-map-vs-count-off-total-height: 6407px;
$icon-quest-icon-map-vs-count-off-image: 'icon_quest.png';
$icon-quest-icon-map-vs-count-off: (0px, 17px, 0px, -17px, 17px, 17px, 128px, 6407px, 'icon_quest.png', 'icon_quest-icon_map_vs_count_off', );
$icon-quest-icon-map-vs-count-on-name: 'icon_quest-icon_map_vs_count_on';
$icon-quest-icon-map-vs-count-on-x: 0px;
$icon-quest-icon-map-vs-count-on-y: 0px;
$icon-quest-icon-map-vs-count-on-offset-x: 0px;
$icon-quest-icon-map-vs-count-on-offset-y: 0px;
$icon-quest-icon-map-vs-count-on-width: 17px;
$icon-quest-icon-map-vs-count-on-height: 17px;
$icon-quest-icon-map-vs-count-on-total-width: 128px;
$icon-quest-icon-map-vs-count-on-total-height: 6407px;
$icon-quest-icon-map-vs-count-on-image: 'icon_quest.png';
$icon-quest-icon-map-vs-count-on: (0px, 0px, 0px, 0px, 17px, 17px, 128px, 6407px, 'icon_quest.png', 'icon_quest-icon_map_vs_count_on', );
$spritesheet-width: 128px;
$spritesheet-height: 6407px;
$spritesheet-image: 'icon_quest.png';
$spritesheet-sprites: ($icon-quest-cicon-map-next-board-off, $icon-quest-icon-chapter-num-01, $icon-quest-icon-chapter-num-01-off, $icon-quest-icon-chapter-num-01-on, $icon-quest-icon-chapter-num-02, $icon-quest-icon-chapter-num-02-off, $icon-quest-icon-chapter-num-02-on, $icon-quest-icon-chapter-num-03, $icon-quest-icon-chapter-num-03-off, $icon-quest-icon-chapter-num-03-on, $icon-quest-icon-chapter-num-04, $icon-quest-icon-chapter-num-04-off, $icon-quest-icon-chapter-num-04-on, $icon-quest-icon-chapter-num-05, $icon-quest-icon-chapter-num-05-off, $icon-quest-icon-chapter-num-05-on, $icon-quest-icon-chapter-num-06, $icon-quest-icon-chapter-num-06-off, $icon-quest-icon-chapter-num-06-on, $icon-quest-icon-chapter-num-07, $icon-quest-icon-chapter-num-07-off, $icon-quest-icon-chapter-num-07-on, $icon-quest-icon-chapter-num-08, $icon-quest-icon-chapter-num-08-off, $icon-quest-icon-chapter-num-08-on, $icon-quest-icon-chapter-num-09, $icon-quest-icon-chapter-num-09-off, $icon-quest-icon-chapter-num-09-on, $icon-quest-icon-chapter-num-10, $icon-quest-icon-chapter-num-10-off, $icon-quest-icon-chapter-num-10-on, $icon-quest-icon-complet, $icon-quest-icon-complet-blank, $icon-quest-icon-map-back-board, $icon-quest-icon-map-back-board-off, $icon-quest-icon-map-back-board-on, $icon-quest-icon-map-boss-01, $icon-quest-icon-map-boss-01-off, $icon-quest-icon-map-boss-01-on, $icon-quest-icon-map-boss-02, $icon-quest-icon-map-boss-02-off, $icon-quest-icon-map-boss-02-on, $icon-quest-icon-map-boss-03, $icon-quest-icon-map-boss-03-off, $icon-quest-icon-map-boss-03-on, $icon-quest-icon-map-gate, $icon-quest-icon-map-gate-keeper-01, $icon-quest-icon-map-gate-keeper-01-off, $icon-quest-icon-map-gate-keeper-01-on, $icon-quest-icon-map-gate-keeper-02, $icon-quest-icon-map-gate-keeper-02-off, $icon-quest-icon-map-gate-keeper-02-on, $icon-quest-icon-map-gate-keeper-03, $icon-quest-icon-map-gate-keeper-03-off, $icon-quest-icon-map-gate-keeper-03-on, $icon-quest-icon-map-gate-l, $icon-quest-icon-map-gate-off, $icon-quest-icon-map-gate-on, $icon-quest-icon-map-lock, $icon-quest-icon-map-lock-off, $icon-quest-icon-map-lock-on, $icon-quest-icon-map-new-m, $icon-quest-icon-map-new-s, $icon-quest-icon-map-next-board, $icon-quest-icon-map-next-board-off, $icon-quest-icon-map-next-board-on, $icon-quest-icon-map-random, $icon-quest-icon-map-random-l, $icon-quest-icon-map-random-off, $icon-quest-icon-map-random-on, $icon-quest-icon-map-random-open, $icon-quest-icon-map-random-open-l, $icon-quest-icon-map-random-open-off, $icon-quest-icon-map-random-open-on, $icon-quest-icon-map-talk, $icon-quest-icon-map-talk-l, $icon-quest-icon-map-talk-off, $icon-quest-icon-map-talk-on, $icon-quest-icon-map-treasure, $icon-quest-icon-map-treasure-l, $icon-quest-icon-map-treasure-off, $icon-quest-icon-map-treasure-on, $icon-quest-icon-map-treasure-open, $icon-quest-icon-map-treasure-open-l, $icon-quest-icon-map-treasure-open-off, $icon-quest-icon-map-treasure-open-on, $icon-quest-icon-map-vs-01, $icon-quest-icon-map-vs-01-off, $icon-quest-icon-map-vs-01-on, $icon-quest-icon-map-vs-02, $icon-quest-icon-map-vs-02-off, $icon-quest-icon-map-vs-02-on, $icon-quest-icon-map-vs-03, $icon-quest-icon-map-vs-03-off, $icon-quest-icon-map-vs-03-on, $icon-quest-icon-map-vs-clear, $icon-quest-icon-map-vs-clear-off, $icon-quest-icon-map-vs-clear-on, $icon-quest-icon-map-vs-count, $icon-quest-icon-map-vs-count-off, $icon-quest-icon-map-vs-count-on, );
$spritesheet: (128px, 6407px, 'icon_quest.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
